<article class="margins">
  <h2><abbr title="Cascading Stylesheet">CSS</abbr> Units: <em>color</em></h2>
  <p>While we understand length and size units (px, em, vw, wh, %) another important value to understand how to set is <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">color</a>.</p>
  <p>I recommend that if you are new to color, you start by using and understanding how hex colors are specified. Hex stands for hexadecimal, and essentially it is just the red, green and blue system converted to the condensed hexadecimal number system. Once you understand this in principle, I think it is useful to use rgb values for the fact that you can specify an alpha channel—or an opacity of the color. From there, you can use an entirely different color scheme like hsl, or hue, saturation, luminosity. I won’t dwell on this system yet, but it can be much easier to use HSL when we begin programming in the future.</p>
  <h3 class="tt">Colorful Displays</h3>
  <p>In our displays, we use a three channel color system, each channel can hold 8 bits. That is, the red channel has 8 bits, the green channel has 8 bits, and the blue channel has 8 bits. 8 bits are quite important, and to a large extent, understanding 8 bits in a few different ways is all we need to get the gist of color.</p>
  <p>Before we analyze a few methods, let’s look at what 8 bits actually looks like a few different ways. In binary, it is an 8 digit number: <code>00000000</code>. Remember, a bit is a binary digit, which is a 0 or 1. We can count in binary, so essentially, each channel can count up to <code>11111111</code>. That same number, converted to decimal is <code>255</code>. That number in hex is, interestingly, <code>FF</code>.</p>
  <p>Use the table below to start exploring colors and how they work.</p>
  <div class="container t ruled top">
    <div class="one-third float left margins pad">
      <h3 class="centered tt bb">Hexadecimal</h3>
      <p><a href="https://en.wikipedia.org/wiki/Hexadecimal">Hexadecimal</a>, or base 16 is yet another method of counting, one in which we have 16 distinct digits instead of our familiar 0–9, and they are <em>0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F</em>.</p>
      <p>To specify a color, you concatenate three hex values in order from red to green to blue. 0 is black (no value), FF is is the highest value, ie., white is <code>#FFFFFF</code></p>
    </div>
    <div class="one-third float left margins pad">
      <h3 class="centered tt bb"><abbr title="red green blue">rgb</abbr> and <abbr title="red green blue alpha">rgba</abbr></h3>
      <p>Red Green Blue is the long form of the hex system, but works in almost the same way. Instead of using hex, you use decimal. 0 is still black, but this time 255 is the upper limit, ie., white is <code>rgb(255, 255, 255)</code></p>
      <p>A very advantageous use of the rgb system is that you can add an alpha channel, or opacity. <code>rgba(255, 255, 255, 0.5)</code> would specify white at 50% opacity. <strong>This is handy.</strong></p>
    </div>
    <div class="one-third float left margins pad">
      <h3 class="centered tt bb"><abbr title="hue saturation lightness">hsl</abbr> and <abbr title="hue saturation lightness alpha">hsla</abbr></h3>
      <p>This is the new kid on the block, and has some interesting applications with JavaScript. I don’t use it as much for my regular color assignments, but that could be mostly out of habit. <abbr>HSL</abbr> can be easier to work with from memory, as the saturation and lightness components are just components of the hue. Like rgb, you may specify an alpha channel.</p>

      <p></p>
    </div>
  </div>
  <table class="full example tt" id="color-table">
    <thead>
      <tr>
        <th style="width:5%;">Channel</th>
        <th style="width:5%;" class="___">Shade</th>
        <th>Adjust</th>
        <th class="centered __">Binary</th>
        <th class="centered __">Decimal</th>
        <th class="centered __">Hexadecimal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Red</td>
        <td><input type="color" readonly="readonly" value="#000000"/></td>
        <td>
          <input type="range" min="0" max="255" value="0"/>
        </td>
        <td class="centered">00000000</td>
        <td class="centered">0</td>
        <td class="centered">00</td>
      </tr>
      <tr>
        <td>Green</td>
        <td><input type="color" readonly="readonly" value="#000000"/></td>
        <td>
          <input type="range" min="0" max="255" value="0"/>
        </td>
        <td class="centered">00000000</td>
        <td class="centered">0</td>
        <td class="centered">00</td>
      </tr>
      <tr>
        <td>Blue</td>
        <td><input type="color" readonly="readonly" value="#000000"/></td>
        <td>
          <input type="range" min="0" max="255" value="0"/>
        </td>
        <td class="centered">00000000</td>
        <td class="centered">0</td>
        <td class="centered">00</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td rowspan="2" colspan="2"><input type="color" style="width:100%;"/></td>
        <th colspan="2" class="rag-left ruled caps" style="border-bottom:1px solid #AAA;">Hexadecimal</th>
        <td colspan="2" class="centered h3 code composite">#<span style="color:#e74d4d;">00</span><span style="color:#49d949;">00</span><span style="color:#5151e8;">00</span></td>
      </tr>
      <tr>
        <th colspan="2" class="rag-left caps">Red, Green, Blue</th>
        <td colspan="2" class="centered h3 code composite">rgb(<span style="color:#e74d4d;">0</span>, <span style="color:#49d949">0</span>, <span style="color:#5151e8">0</span>);</td>
      </tr>
    </tfoot>
  </table>
  <style>
  #color-table thead th + th {
    border-left:1px solid #222;
  }
  #color-table thead th {
    border-bottom:2px solid #333;
    padding:1em;
  }
  #color-table tfoot td {
    padding:0.5em;
  }

  </style>
  <script type="text/javascript">
    // <![CDATA[
      var inputs = [];
      var composites = document.querySelectorAll('#color-table td.composite');
      var composite = document.querySelector('#color-table tfoot input');
      [].forEach.call(document.querySelectorAll('#color-table input[type="range"]'), function (input, idx) {
        inputs.push(input);

        function updateColor() {
          var rgb = [];
          inputs.forEach(function(input, idx) {
            rgb.push(parseInt(input.value));
            composites[0].children[idx].innerHTML = decHex(input.value);
            composites[1].children[idx].innerHTML = input.value;
          });
          
          composite.value = composites[0].textContent;
        }
      
        function andit(red, green, blue) {
          document.body.style.backgroundColor = `rgb(${red&green}, ${green|blue}, ${blue^red})`;
        }

        input.addEventListener('input', function (evt) {
          var rgb = ['00','00','00'];
          var bin = this.parentNode.nextElementSibling;
          var dec = bin.nextElementSibling;
          var hex = dec.nextElementSibling;
          rgb[idx] = decHex(this.value);
          this.parentNode.previousElementSibling.firstElementChild.value = "#"+rgb.join('');
          bin.textContent = decBin(this.value);
          dec.textContent = this.value;
          hex.textContent = rgb[idx];
          updateColor();
        });
      });
    // ]]>
  </script>


</article>
