<article id="namespaces-in-css" data-classification="">
  <h2>Getting Organized with Namespaces</h2>
  <section>
    <h3>Context-based style</h3>
    <p>Given two classes with the same name, can you conceive of a way to have them behave differently? In the beginning of our lightbox case-study, I discussed the method of using a parent element to control the visibility of a child element by adding a class to the parent.</p>
    <h4>A silly example</h4>
    <p class="focus">Have this be an actual clock that switches the class</p>
    <div class="comparison container whitepaper t b">
      <h4>Night/Day</h4>
      <p>Note how <code>.attitude</code> has two entirely different meanings depending on where it is in the descendant chain base on the parent element class. <strong>Employ such tactics frequently</strong>!</p>
      <hr class="ruled t b" />
      <link rel="stylesheet" href="/css/examples/namespace.css" media="screen" charset="utf-8" />
      <div class="half float left">
        <pre class="prettyprint">
          <!-- review views/css/examples/namespace.css night  -->
        </pre>
        <h5 class="pad code">&lt;div class="night"&gt;<br/>  &lt;p class="attitude"&gt;…</h5>
        <div class="night">
          <p class="attitude">What color and font-family is this text and why?</p>
        </div>
      </div>
      <div class="half float left">
        <pre class="prettyprint">
          <!-- review views/css/examples/namespace.css day -->
        </pre>
        <h5 class="pad code">&lt;div class="day"&gt;<br/>  &lt;p class="attitude"&gt;…</h5>
        <div class="day">
          <p class="attitude">What color and font-family is this text and why?</p>
        </div>
      </div>
    </div>
    <h4>A practical example</h4>
    <p>Remembering the first ‘W’ in <abbr title="world wide web">www</abbr> stands for world, let’s recall that in the root element of our <abbr>html</abbr> document there is an attribute named <code>lang</code>. In that attribute, we specify the two character <a href="http://www.w3schools.com/tags/ref_language_codes.asp">language code</a> of our document—typically <code>lang="en"</code> for english.</p>
    <p>Obviously there is a lot of <a href="https://en.wikipedia.org/wiki/Internationalization_and_localization">internationalization</a> that must occur to adapt applications different languages and regions, but let’s start with some simple (and interesting) typographic principles. In Spanish, a question is prefixed with an inverted question mark, in Greek, a question phrase is terminated with a semi-colon. In many languages, different punctuation marks are expressed differently, many countries use <a href="https://en.wikipedia.org/wiki/Guillemet">Guillemets</a>, some subscripted apostrophes and many a combination thereof in reversed order. With that, let us begin a useful investigation of the <a href="https://developer.mozilla.org#the-q-element">quote</a> element.</p>
    <div class="whitepaper t container">
      <aside class="note ___ float left">
        <h6>Consider a way to internationalize the quote given in the following languages. The adjacent <abbr>CSS</abbr> takes care of the default (English) version.</h6>
        <p><q lang="en">English</q></p>
        <p><q lang="fr">French</q></p>
        <p><q lang="de">German</q></p>
        <p><q lang="pl">Polish</q></p>
        <link rel="stylesheet" href="/css/examples/quotes.css" />
      </aside>
      <div class=" _______ float left">
        <pre class="prettyprint">&lt;q cite="https://goo.gl/zN7JT"&gt;Any fool can know. The point is to understand&lt;/q&gt;</pre>
        <pre class="prettyprint">
          <hr class="divider" data-before="HTML" data-after="CSS" />
          <!-- review views/css/examples/quotes.css english default -->
        </pre>
      </div>
    </div>
  </section>
</article>
