<article id="transitions-and-transforms" data-classification="">
  <h2>Transitions and Transforms</h2>
  <section class="dropcap indented three columns">
    <p>Other than the initial five letters, transitions and transforms have little to do with one another. The reason they might be good to learn at the same time is that potential confusion could arise if you happened to let google auto-suggest take the reins; <q>How do I… CSS… Trans…</q> could send you down the wrong path.</p>
    <p>From the W3C spec regarding transitions: <q>CSS transitions allow property changes in CSS values to occur smoothly over a specified duration</q> Essentially, transitions are animating from one style to another—which used to be the purview of fairly complicated JavaScript—is remarkably easy to accomplish.</p>
    <p>When researching transitions, you’ll no doubt notice a lot of resources using <em>vendor-prefixes</em>. At this point, un-prefixed use of the <code>transition</code> property has <a href="http://caniuse.com/#feat=css-transitions">wide support</a>, and any tutorial or literature using a prefix is somewhat outdated. This is why it is so important to <strong>research and cite multiple resources for information</strong>.</p>
    <p>Transforms, on the other hand, apply methods and vernacular commonly seen in programming, especially in regards to how elements are <em>painted or drawn</em>. From the spec on transforms: <q>CSS transforms allows elements styled with CSS to be transformed in two-dimensional or three-dimensional space. </q></p>
  </section>
  <hr class="ruled t b" />
  <h3>Keep in Mind</h3>
  <p>When you learn how to jazz things up it quickly becomes tempting to go a little crazy. Starting out, I say what the hell, go over the top… but I would be remiss if I didn’t point out that sometimes effects can get annoying when they pile up or make things difficult to use. In addition to that, I've made a list of a few pointers for the road, if you will.</p>
  <ul class="stylized star t">
    <li>Transitions <em>enhance</em> presentation, they should not provide meaning.</li>
    <li>Transitions <a href="https://en.wikipedia.org/wiki/Fault_tolerance">degrade gracefully</a> by default (or they should); ie, nobody should be impacted if they go missing.</li>
    <li>Not all properties are animatable (<code>display</code>, for instance); here is the <a href="http://www.w3schools.com/cssref/css_animatable.asp">list of animatable properties</a>.</li>
    <li>Transitions are not <em>Animations</em>, which are also possible, but something wholly different.</li>
    <li>I won’t talk further about <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations">keyframe animations</a> in this course—you’re welcome to explore them on your own.</li>
  </ul>
</article>
