<!DOCTYPE html>
<!-- 
  - [ ] Remove the entire class attribute from the root element
  - [ ] Consult developer tools and fix all broken file paths leading to 404's
-->
<html lang="en" class="restricted">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="[$student:@name]" />
    <meta name="hours" content="0" />    
    <link rel="stylesheet" href="[$domain/course/helper.css]" />
    <link rel="stylesheet" href="FIX/global.css" />
    <link rel="stylesheet" href="[FIX/$resource.css]" />
	  <script src="FIX/global.js" defer="defer">[$empty]</script>
    <script src="[FIX/$resource.js]" defer="defer">[$empty]</script>
    <script src="[$domain/course/helper.js]" async="async">[$empty]</script>
  </head>

  <body>
    <header>
      <h1>[$student:@name]</h1>
      <h3>[A completely un-started $student:course markup file]</h3>
    </header>
    
    <!-- replace template -->

    <!-- replace footer -->
    
  </body>
  
</html>
