<footer id="reference-and-practice">
  <h3>Reference &amp; Practice Material</h3>
  <p>This week is about requisites. To remind us of the elements necessary, enjoy <a href="https://resilientwebdesign.com/chapter4/">chapter three of <cite>Resilient Web Design</cite></a>. Author Jeremy Keith offers a clairvoyant tone and plenty of perspective about the languages necessary to develop web sites. Next, and I'll make a point of this again and again—your assigned books are your companion; flip through them, scan them, <em>know them</em>. By the end of the semester they should be dog-eared and have coffee spills all over them. How much should you read? <strong>More.</strong></p>
</footer>
