<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/diver.png]" class="float right" style="transform:scale(-1, 1);width:15%;mix-blend-mode: multiply;margin:5em -2.5vmax; 0 0"/>
    <h1 class="massive">Types &amp; Control</h1>
    <p class="intro">A refreshing look back at the necessary bits of pretty much any programming language.</p>
  </header>
  <hr class="clear ruled top tt bb"/>
  <aside>
    <h3>Review &amp; Warm Up</h3>
    <p>Today we will kick the dust off of our process and tools, talk about validation and debugging, and practice some javascript syntax and its somewhat poetic nature. This is a goal-oriented course so hopefully several weeks from now everyone will be going in multiple directions in whatever area of web development they find most fascinating. <mark>As a warm up, together we can slowly poke and take apart <a href="https://gist.github.com/brendanmetzger/a54dd177acdb9de50fa45509b5dc026f">this simple function</a>.</mark></p>
    <section class="whitepaper t">
      <h3>Revisiting Keys to successful web-development</h3>
      <ul class="stylized star">
        <li>Learn about your text editor—watch a tutorial video—they have lots of helpful features.</li>
        <li>Try to use the mouse less and less every week</li>
        <li>Learn shortcuts for common tasks (saving files, refreshing browsers, switching between tabs, opening/closing files, etc.)</li>
        <li>Always have your browser console open when you are developing projects</li>
        <li>Consult documentation frequently, and use consistent resources.</li>
      </ul>
    </section>
  </aside>
  
  <!-- insert views/topics/technology/servers.html -->
  <!-- insert views/topics/javascript/types-and-data-structures.html -->
  <!-- insert views/topics/javascript/control-structures.html -->
  <footer id="reference-and-practice" class="margins">
    <img src="https://cdn.worldvectorlogo.com/logos/slack-1.svg" class="__ float right" style="margin-left: 2em;mix-blend-mode:luminosity;"/>
    
    <h3>Reference &amp; Practice Material</h3>
    <p>I trust that you have throughly gone over the template and know the size and scope of the rest of the work for the semester. I have set up <a href="https://thirty-cc.slack.com/shared_invite/MTM1MDczNzA0ODg2LTE0ODU3OTkwOTEtYWVmZjA0YjM1YQ">Slack team</a> where we should start directing our concerns regarding tools, how-tos, debugging, and help needed. <mark>This tool is for you, not me—I urge anyone and everyone to ask and answer questions that you desire a more immediate response.</mark></p>
    <p>In your <cite>JavaScript</cite> book, read <strong>chapter one</strong>, skim <strong>chapter two</strong> and amend your understanding of values, types and operators by reading <a href="http://eloquentjavascript.net/01_values.html">values, types and  operators</a> in <cite>Eloquent Javascript</cite>. Oh, and then fully read <strong>chapter four</strong>.</p>
  </footer>
</div>
