<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Types &amp; Control</h1>
  </header>
  <!-- insert views/topics/technology/servers.html -->
  <!-- insert views/topics/javascript/types-and-data-structures.html -->
  <!-- insert views/topics/javascript/control-structures.html -->
  <footer id="reference-and-practice" class="margins">
    <img src="https://cdn.worldvectorlogo.com/logos/slack-1.svg" class="__ float right" style="margin-left: 2em;mix-blend-mode:luminosity;"/>
    
    <h3>Reference &amp; Practice Material</h3>
    <p>I trust that you have throughly gone over the template and know the size and scope of the rest of the work for the semester. I have set up <a href="https://thirty-cc.slack.com/shared_invite/MTM1MDczNzA0ODg2LTE0ODU3OTkwOTEtYWVmZjA0YjM1YQ">Slack team</a> where we should start directing our concerns regarding tools, how-tos, debugging, and help needed. <mark>This tool is for you, not me—I urge anyone and everyone to ask and answer questions that you desire a more immediate response.</mark></p>
    <p>In your <cite>JavaScript</cite> book, read <strong>chapter one</strong>, skim <strong>chapter two</strong> and amend your understanding of values, types and operators by reading <a href="http://eloquentjavascript.net/01_values.html">values, types and  operators</a> in <cite>Eloquent Javascript</cite>. Oh, and then fully read <strong>chapter four</strong>.</p>
  </footer>
</div>
