<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Types &amp; Control</h1>
  </header>
  <article>
    <h2>Types and Data Structures</h2>
    <p>Primative types in JavaScript are the building blocks of a program. Data Structures are assemblies of primitive types that represent a complex dataset or system. Imagining the human body as dataset, the individual organs are primative types. On their own they serve a specific function, but assembled into a whole structure they provide function and meaning.</p>
    <h3>Primative Types</h3>
    <dl>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Number</a></dt>
      <dd>A number is a numeric value, represented as either an integer or a floating point numebr</dd>
      <dd>Numbers are used with <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators#Arithmetic_operators">arithmetic operators</a> such as <code>+</code>, <code>-</code>, <code>*</code>, <code>/</code>, and <code>%</code></dd>
      <dd>Invoking a method on a numeric type allows it to behave like an object, ie: <code>(3.14159).toFixed(2); // 3.14</code></dd>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String">String</a></dt>
      <dd>A string is a sequence of text that is surrounded by either single or double quotes: <code>"This is a string"</code></dd>
      <dd>Strings can be concatenated with the familiar <code>+</code> operator. <code>'I love ' + 'my cat' + ' (and dog)';</code></dd>
      <dd>Invoking a method on a string type allows it to behave like an object "hello world".toUpperCase(); // HELLO WORLD</dd>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean">Boolean</a></dt>
      <dd>Boolean values are either <code>true</code> or <code>false</code>. That’s it.</dd>
      <dd>Boolean values are often the results of expressions against <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators#Logical_operators">logical</a> or <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators#Comparison_operators">comparison</a> operators</dd>
      <dd>comparison example: <code>console.log(5 &gt; 6); // false</code>, logical example: <code>console.log(true &amp;&amp; false); // false</code></dd>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/null">null</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/undefined">undefined</a></dt>
      <dd>A beginner way of looking at null and defined is <q>none of the above</q>—they represent data that has been declared but has no value (undefined), or has purposefully been set to have a non-descript value (null)</dd>
      <dd>example of declared but undefined: <code>var my_var; console.log(my_var); // undefined</code></dd>
      <dd>example of null: <code>var my_var = null; console.log(my_var === null); // true</code></dd>
    </dl>
    <h3>Data Structures</h3>
    <dl>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Arrays</a></dt>
      <dd>Arrays manage indexed data of <em>any type</em> (including more arrays) in the structure of a list.</dd>
      <dd>Arrays are always accessed via an integer that indicates the index. Indices start at 0.</dd>
      <dd>Arrays can push, pop, shift, unshift (not specific to JavaScript).</dd>
      <dd>Arrays can be nested </dd>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Objects</a></dt>
      <dd>Objects are similar to arrays except instead of indexing data with integers, they index via text strings</dd>
      <dd>Like arrays, properties can be of <em>any type</em> (including other objects)</dd>
    </dl>
  </article>
  <article>
    <h2>Control Structures</h2>
    <dl>
      <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators">Expressions and Operators</a></dt>
      <dt>Loops</dt>
      <dd>for and while loops execute a block of code some number of times based on the evaluation of a boolean condition</dd>
      <dt>Conditions</dt>
      <dd>Control flow by conditionally allowing the execution of code based on a boolean value.</dd>
    </dl>
  </article>
</div>
