<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Description</p>
  </header>
  <article>
    <h2>Advanced topics: “OO” programming in JS and prototypal inheritance. Continued research of
scope/closure through function binding.</h2>
  </article>
  <article>
    Page 230 eloquent JavaScript
    http://eloquentjavascript.net/13_dom.html
    <pre class="prettyprint">
      <!-- review views/javascript/examples/binding.js currying -->
    </pre>
  </article>
  <script type="text/javascript">
    bloc.embed('/javascript/examples/binding.js');
  </script>
  <img src="/css/media/cat.svg" alt="a cat image" style="position:relative;width:5vmin;"/>
</div>
