<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Studio Time</h1>
    <p class="intro">An all day idea-feast, including Q/A and potato salad.</p>
  </header>
  <article>
    <h2>Prototypes</h2>
    <section class="container">
      <aside class="____ float left">
        <h5>A function as an object</h5>
      </aside>
      <pre class="______ prettyprint float left">
        <!-- review views/javascript/bloc.js SVG -->
      </pre>
    </section>
  </article>
</div>
