<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Studio Time</h1>
    <p class="intro">An all day idea-feast, including Q/A and potato salad.</p>
  </header>
  <article>
    <h2>Prototypes</h2>
    <p class="intro">JavaScript is a <em>prototypal language</em>, which is also known as class-less or instance-based programming. Unlike class-based languages that define relationships in a familial way (inheritance, parents, traits), prototypal languages share their genes by <em>cloning prototypes</em>.</p>
    <p>It is a rather peculiar concept, but objects have a property called the <code>prototype</code> and objects can copy each others prototypes. A fascinating (and sometimes dangerous) technique, is that because there are no classes, if you happen to change a prototype of an object, it changes the prototype or <em>all</em> objects that share it—even if they existed long before the change was made.</p>
    <section class="container">
      <aside class="____ float left">
        <h5>A function as an object</h5>
        <p></p>
      </aside>
      <pre class="______ prettyprint float left">
        <!-- review views/javascript/bloc.js SVG -->
      </pre>
    </section>
    <div id="drawing">
      <style media="screen">
        #drawing line {
          stroke:tomato;
          stroke-width:0.5;
        }
        #drawing circle {
          fill:rgba(0,0,0,0.1);
          stroke:none;
        }
      </style>
      <h4>A drawing experiment.</h4>
    </div>
  </article>
  <script type="text/javascript">bloc.embed('/javascript/examples/draw.js');</script>
</div>
