<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Traversal</h1>
  </header>
  <article>
    <h2>Matching Patterns and Counting in with StyleSheets</h2>
    <p class="intro">Stay Tuned...</p>
  </article>
  <!-- insert views/topics/javascript/input-output.html -->
  <!-- insert views/topics/javascript/programming-dom.html -->
  <!-- insert views/topics/javascript/closure.html-->
  <!-- insert views/topics/studies/lightbox-behavior.html -->
  <footer id="">
    <p><strong>Chapter 17</strong> of <cite>JavaScript, The Definitive Guide</cite>.</p>
  </footer>
</div>
