<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Continued work with XHR and same-origin-policy. Intermediate use of objects and prototypes and
‘new’ operator.</p>
  </header>
  <article>
    <h2>Review</h2>
  </article>
  <article>
    <h2><abbr>jsonp</abbr> vs <abbr>xhr</abbr></h2>
  </article>
  <article>
    <h2>Tricks &amp; Tips</h2>
    <section>
      <h3>Mutable Data, return values.</h3>
      <p>Building a toggle, or a flip/flopper with array reverse.</p>
    </section>
  </article>
</div>
