<div>
  <script type="text/javascript">
    bloc.embed('/javascript/examples/json.js');
    bloc.embed('/javascript/examples/binding.js');
  </script>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Free Data</h1>
    <p class="intro">Continued work with XHR and same-origin-policy. Intermediate use of objects and prototypes and
‘new’ operator.</p>
  </header>
  <article>
    <h2>Review</h2>
    <p>Last week we spent the bulk of our time installing a <em>localhost</em> environment in able to utilize Ajax.</p>
  </article>
  <article>
    <h2><abbr>jsonp</abbr> vs <abbr>xhr</abbr></h2>
    <div class="two columns outdented">
      <p>The fundamental difference between <abbr>xhr</abbr> and <abbr>jsonp</abbr> can be nutshelled as thus: <abbr title="XML HTTP Request">xhr</abbr> content must be requested via <abbr title="hypertext transfer protocol">http</abbr> off of <em>your server</em>. <abbr>json</abbr> content can be requested over <abbr title="hypertext transfer protocol">http</abbr> <em>from any server</em>. I remember learning about <abbr>jsonp</abbr> long after a had learned the ropes of Ajax, and remember feeling awestruck at how simple it was.</p>
      <p>Taking one step back, think about what happens when we load a script from an external site, which is fairly common pattern, such as embedding jQuery from a <abbr title="content delivery network">CDN</abbr>: <code>&lt;script src="//cdn.biz/jquery.js"&gt;</code>. Notice that all your doing is letting another server inject program code into your site. Now recall your <em>profile.js</em> code - it’s nothing more than an object, but a JavaScript object is valid JavaScript code. Here is where the magic happens, perhaps so simple that it’s not immediately obvious: imagine you have a plain javascript object, coming from another server, and that object is tucked into a function call. A on object in a function call will be invoked immediately. Crucially, somewhere in your code, <em>you have already defined that function</em>. The first argument that you expect in that function, is an object.</p>
      <p>The point to spend a few minutes letting sink in is this: where is your ‘data loading’ function called and by whom? What data do they give it, and where does that data come from? Once you visualize this process then you pretty much have the gist of <abbr>jsonp</abbr>. The only remaining topic to negotiate are how you name those functions, and how you embed the scripts dynamically, which are well within your skillset at this point.</p>
    </div>
    <section class="container tt">
      <ol class="_____ float left whitepaper">
        <li>JavaScript can be embedded with <code>&lt;script src="path.js"&gt;...</code></li>
        <li>A JavaScript file could contain a plain JavasScript Object, like <code>var empty = {};</code> or call a function like <code>doThisNow();</code></li>
        <li>A JavaScript file can call functions that it didn't declare—most likely declared in a different file (think of using a framework).</li>
        <li>A JavaScript file can come from a different server and host (think of embedding a framework)</li>
        <li>Combining the concepts, imagine a JavaScript file, coming from a different server, executing a function that it didn't declare, and the first argument of that function is some data.</li>
      </ol>
      <pre class="float left _____ prettyprint pad">
        <!-- review views/javascript/examples/json.js jsonp -->
      </pre>
    </section>
  </article>
  <article>
    <h2>A Practical Application</h2>
    <section class="container">
      <aside class="note ___ float left">
        <p>JSONP has many applications that you can stumble upon, from news feeds to wikipedia articles. Many API's have this as an option, and though this probably isn't especially enlightening at first glance, it’s so easy that a lot of people forego documentation and just assume you know the gist of it.</p>
        <p>I've put together an example of how you could validate your page in a heartbeat. Let's work on a way to see how we might put together a button on a page that will automatically validate any page that can be reached via ur using the W3C's own validator.</p>
      </aside>
      <pre class="prettyprint _______ float left">
        <!-- review views/javascript/examples/json.js practical jsonp -->
      </pre>
    </section>
  </article>
  <article class="indented">
    <h2>Introduction to <code>new</code></h2>
    <p>In JavaScript, <em>new</em> is a strange bird. You've seen it in the <code>Date</code> and <code>XMLHttpRequest</code> objects, and in fact, there are several more objects that require it’s usage. I'll introduce this concept slowly over the remaining part of the semester via examples because there is a growing school of thought that will make the argument that it could (should?) be abolished from the language completely. The reasoning is legitimate, albeit abstruse, but to be honest, there are moments I like what <code>new</code> allows you to accomplish.</p>
    <p>Essentially, <code>new</code> is an operator, like a <code>+</code> or a <code>%</code> sign. Those coming from Object Oriented languages (myself included) think of new as something you just do, as in <q>I’m gonna make a <span style="text-decoration:underline">new</span> object</q>. However, JavaScript is not like this—functions <em>are already objects you can use and manipulate immediately</em>. This is because in JS there are no such things as <em>classes</em>, likewise, no such thing as instantiation.</p>
    <p>So, step one is to introduce the notion of the new operator as a verb instead of a adjective. In contrast to our <abbr title="object oriented">oo</abbr> approach earlier, we would say something akin to this JS: <q>I’m gonna <span style="text-decoration:underline">new</span> this function</q>. From there, what happens is you call the function like normal, but now the function is made aware if a magical variable called <code>this</code>, and by default, it gives you back that variable without asking for it.</p>
  </article>
  <section class="explanation">
    <aside class="note ____ float left">
      <p>This code illustrates the most basic point I want you to begin to see taking place, and that is using <code>new</code> changes what an object <strong>returns</strong> and what it considers <strong>this</strong> to mean.</p>
      <p>Co into your console, and execute <code>callTwoWays()</code> and inspect the output present. Why is the first message <code>undefined</code>? Notice that the second message after you <em>new</em>'d the function is quite different, especially regarding to the argument given.</p>
    </aside>
    <pre class="prettyprint float left ______">
      <!-- review views/javascript/examples/binding.js new operations -->
    </pre>
  </section>
</div>
