<div>
  <article class="margins">
    <h2>Carousels</h2>
    <p>Picture a merry go round spinning in front of you. You have a fixed vantage point, but it moves. Every so often, you see the same thing in front of you.</p>
    <p>As a design pattern, a carousel can be conceptually the same thing as a slideshow, or powerpoint, or anything that involves a series of views that you engage with one at a time. A characteristic of the carousel is that you move through it linearly, ie. one, then two, then three—opposed to non-linearly: one, then five, then two, etc. (and worth noting, comprehension of the linear version leads to a quick understanding of the latter scenario).</p>
    <p>The last bit, is to understand a analogous to principles of timekeeping. Picture a 12 hour clock face as a carousel, and image the hour hand staying put, and the clock spinning. It will never see a number greater than 12, but the numbers will repeat as time keeps moving forward. Some very old minds have already devised a simple algebra to describe this process.</p>
    <ul class="tt">
      <li><a href="http://jsbin.com/fuyiyerixe/1/edit?css,js,output">Simple Carousel</a></li>
      <li><a href="http://jsbin.com/nozagohixi/edit?css,js,output">Animated Carousel</a></li>
    </ul>
  </article>
  <!-- insert views/layouts/aswm-default.html -->
</div>
