<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Divide &amp; Conquer</h1>
    <p class="intro">Advanced topics: Building applications on top of 3rd party API’s. Intro to namespacing, interfaces, thoughtful programming. Intro to type coercion and error checking with try/catch</p>
  </header>
  <article>
    <h2>Presentations and Warm-up</h2>
    <p>Today I want to talk some more about functions, and try and solve a few <q>simple</q> problems algorithmically.</p>
    <ol>
      <li>Make a function that is able to compute <code>n!</code> <a href="https://en.wikipedia.org/wiki/Factorial">(n factorial)</a></li>
      <li>Make a function that can compute the <a href="https://en.wikipedia.org/wiki/Greatest_common_divisor">greatest common divisor</a> between any two numbers</li>
    </ol>
  </article>
  <article>
    <h2>Review</h2>
    <p>Here is a link to my <a href="https://jsfiddle.net/user/brendanmetzger/fiddles/">public fiddles</a>.</p>
  </article>
  <article>
    <h2>Coercion &amp; Other Pitfalls</h2>
    <p class="intro"><a href="https://en.wikipedia.org/wiki/Type_conversion">Type coercion</a> can be a useful feature, or a really deceptive trick. Essentially, it is turning one type of variable into another: <code>“7”</code> and <code>7</code> are <em>entirely different things</em>, yet they can be the same if you want them to be... or if you aren't paying enough attention.</p>
    <dl>
      <dt><code>10 % 5 &amp; true</code></dt>
      <dd>This code probably does what you think it will, in a way that is completely foreign. Using one ampersand is not an error, but a <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_Operators">bitwise operation</a>.</dd>
      <dd>This is ever more insidious because <code>&amp;</code> will coerce <code>true</code> into the number <code>0</code>, and from there it gets really unpredictable. This is really the truest form of bug in that it won't cause an error and even might work the way you intend (at first).</dd>
      <dt><code>"" == 0</code></dt>
      <dd>The equality operator, or <code>==</code> is not an <em>identity operator</em>. In a nutshell, the above definition is <code>true</code></dd>
      <dt><code>querySelector</code> vs. <code>querySelectorAll</code></dt>
      <dd>These functions are very handy—pretty much all you have to remember to get any element out of the <abbr>dom</abbr>, but pay careful attention to the <strong>All</strong> at the end if you are trying to select a list of elements.</dd>
    </dl>
  </article>
  <!-- insert views/topics/perspective/naming-conventions.html  -->
  <article class="container">
    <div class="______ float left margins" style="padding-right:2em;">
      <h2>Application Programming Interfaces</h2>
      <p>In an industry filled with buzzwords that drive me a little insane, an <abbr title="Application Programming Interface">API</abbr> is not one of them. In fact, it’s such an <em>extremely common </em> thing that it’s hard to develop a project without utilizing an <abbr title="Application Programming Interface">API</abbr> or two. Combining several <a href="https://citymapper.com/chicago/">several <abbr title="Application Programming Interface">API</abbr>s</a> can build an entire program using mapping, transit, weather, news, etc.</p>
      <p>An applicition programming interface is a $10 way of saying <q>when a program talks to another program.</q> Sometimes the other program is a library of code, like jQuery or D3, other times it’s a service or feed that returns data. For every <abbr title="Application Programming Interface">API</abbr>, there is a different technique, protocol, and set of expectations. If  you want to successfully use an <abbr title="Application Programming Interface">API</abbr> but have never been particularly predisposed to reading manuals, now might be a great time to start.</p>
      <p>Glance over some of the links to the right and take a peek at some of the documentation out there.</p>
    </div>
    <aside class="____ float left whitepaper t">
      <h3>Web Services</h3>
      <ul>
        <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps</a></li>
        <li><a href="https://www.instagram.com/developer/">Instagram</a></li>
        <li><a href="https://dev.twitter.com/">Twitter</a></li>
        <li><a href="https://aws.amazon.com/">Amazon Web Services</a></li>
        <li><a href="https://developer.github.com/">Github</a></li>
      </ul>
      <h3>Data Services</h3>
      <ul>
        <li><a href="https://dev.socrata.com/">Socrata Open Data</a></li>
        <li><a href="https://data.cityofchicago.org/">City of Chicago Data Portal</a></li>
        <li><a href="http://api.data.gov/">U.S. Data Portal</a></li>
      </ul>
    </aside>
    <p class="focus clear">What are some <abbr title="Application Programming Interface">API</abbr>’s we are already familiar with?</p>
    <!-- <pre class="prettyprint">
      https://api.github.com/users/:username/events/public?callback=foo
    </pre> -->
  </article>
</div>
