<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Advanced topics: Building applications on top of 3rd party API’s. Intro to namespacing, interfaces, thoughtful programming. Intro to type coercion and error checking with try/catch</p>
  </header>
  <article>
    <h2>Review</h2>
    <p><a href="https://jsfiddle.net/user/brendanmetzger/fiddles/">Public Fiddles</a></p>
  </article>
  <article>
    <h2>Gotchas</h2>
    <ul>querySelector vs querySelectorAll (from mikes example)</ul>
  </article>
  <artcile>
    <h2>What's in a name</h2>
    <p>More time than you'd imagine is spent deciding what to naming variables, determining the keys for objects and functions. Despite what this looks like to fresh eyes, this is not attributable to <abbr title="obsessive compulsive disorder">ocd</abbr>.</p>
  </artcile>
  <article>
    <h2>APIs</h2>
    <ul>
      <li>Google Maps</li>
      <li>Instagram</li>
      <li>Twitter</li>
      <li>Github</li>
      <li>https://dev.socrata.com/</li>
      <li>https://data.cityofchicago.org/</li>
      <li>http://api.data.gov/</li>
      <li>https://citymapper.com/chicago/</li>
    </ul>
  </article>
</div>
