<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Thinking Material</h1>
    <p class="intro">Going over first-class functions again. Some in class work time, Q/A. If time permits drawing/animation, on scope and closures.</p>
  </header>
  <article>
    <h2>Review</h2>
    <p>Last time we covered coercion, programming conventions and Application Programming Interfaces</p>
  </article>
  <article>
    <h2>Functional Programming</h2>
    <p>Revisiting functional programming might be beneficial for many of us.</p>
    <!-- insert views/topics/javascript/first-class-functions.html -->
  </article>
  <article>
    <h2>Drawing and Animation</h2>
    <a href="http://snapsvg.io/">Snap</a>
  </article>
</div>
