<article class="gradebook">
  <style>[a.edit:before{content:'$instructor:edit'}]</style>
  <link rel="stylesheet" href="/css/table.css"/>
  <header class="banner">
    <h1 class="tt">[$course:@title §$section:@id]</h1>
    <h4><time>[$section:time]</time> <span>[Room $section:@room]</span></h4>
  </header>
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Attendance</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Week</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:discourse -->
      <tr class="[$criterion:status]">
        <th class="_"><time datetime="[$due:datetime]">[$due:date]</time></th>
        <!-- iterate records -->
        <td class="[centered marked $assessment:schedule:status]" title="[$assessment:discourse:letter]">
          <a class="edit" href="[[/records/evaluate/discourse/$$criterion:@index/$student:@id]]">[$assessment:discourse:flag]</a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Practice</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Assignment</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:practice -->
      <tr class="[$criterion:status]">
        <th><a href="[[/records/book/$$section:@course/$$section:@id/practice/$criterion:@index]]">[$title]</a></th>
        <!-- iterate records -->
        <td class="[centered marked $assessment:schedule:status]" title="[$assessment:practice:letter]">
          <a class="percentage edit" href="[[/records/evaluate/practice/$$criterion:@index/$student:@id]]">[$assessment:practice:percentage]</a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Quizzes</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Assignment</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:quiz -->
      <tr class="[$criterion:status]">
        <th>[$title]</th>
        <!-- iterate records -->
        <td class="[centered marked $assessment:schedule:status]" title="[$assessment:quiz:letter]">
          <a class="percentage edit" href="[[/records/evaluate/quiz/$$criterion:@index/$student:@id]]">[$assessment:stats:standard]</a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Projects</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Assignment</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:project -->
      <tr class="[$criterion:status]">
        <th>[$title]</th>
        <!-- iterate records -->
        <td class="[centered marked $assessment:schedule:status]" title="[$assessment:project:letter]">
          <a class="percentage edit" href="[[/records/evaluate/project/$$criterion:@index/$student:@id]]">[$assessment:project:percentage]</a>
        </td>
      </tr>
    </tbody>
  </table>
  <footer class="tt bb">
    <h3><a href="/records/courses">Back to courses</a></h3>
  </footer>
</article>
