<article class="gradebook">
  <style>[a.edit:before {content: '$instructor:edit'}]</style>
  <link rel="stylesheet" href="/css/table.css" />
  <header class="banner">
    <h1 class="tt">[$course:@title §$section:@id]</h1>
    <h4><time>[$section:time]</time> <span>[Room $section:@room]</span></h4>
  </header>
  <div class="overflow">
    <table class="full chart tt bb" style="table-layout: fixed;">
      <caption>
        <h3 class="rag-left pad b caps spaced">Overview</h3>
      </caption>
      <thead>
        <tr class="rotate" data-size="large">
          <!-- iterate section:students -->
          <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- iterate section:students -->
          <td style="[--hue: $student:grade:score; --value: $student:grade:score%;]" class="centered">[$student:grade:letter]</td>
        </tr>
        <tr>
          <!-- iterate section:students -->
          <td class="centered percentage">[$student:grade:score]</td>
        </tr>
      </tbody>
    </table>

    <table class="full chart tt bb" style="table-layout: fixed;">
      <caption>
        <h3 class="rag-left pad b caps spaced">Attendance</h3>
      </caption>
      <thead>
        <tr class="rotate" data-size="large">
          <th><b>week</b></th>
          <!-- iterate section:students -->
          <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
        </tr>
      </thead>
      <tbody>
        <!-- iterate records:discourse -->
        <tr class="[$criterion:status]">
          <th class="_"><time datetime="[$due:datetime]">[$due:date]</time></th>
          <!-- iterate records -->
          <td class="[centered marked $assessment:schedule:status]" title="[$assessment:discourse:letter]">
            <a class="quick edit" href="[[/records/evaluate/discourse/$$criterion:@index/$student:@id]]">[$assessment:discourse:flag]</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    bloc.init('ajax', function() {
      document.querySelector('article.gradebook').addEventListener('click', function(evt) {
        var clicked = evt.target;
        if (clicked.matches("td a.quick")) {
          clicked.style.opacity = 0;
          evt.preventDefault();
          var request = new XMLHttpRequest();
          var DOMoverlay = document.body.appendChild(document.createElement('div'));
          request.open('GET', clicked.href);
          request.addEventListener('load', function(evt) {
            document.body.classList.add('overlay');
            var form = DOMoverlay.appendChild(evt.target.responseXML.querySelector('form[action^="/records/evaluate"]'));
            Array.from(form.querySelectorAll('script')).map(script => script.text).forEach(eval);
            form.addEventListener('submit', function(evt) {
              evt.preventDefault();
              var request = new XMLHttpRequest();
              request.open('POST', this.action);
              request.addEventListener('load', function(evt) {
                var node = evt.target.responseXML.querySelector(`a[href="${clicked.pathname}"]`);
                node.style.opacity = 0;
                var replace = node.parentNode.parentNode.parentNode;
                var original = clicked.parentNode.parentNode.parentNode;
                original.parentNode.replaceChild(replace, original);
                setTimeout(Object.assign.bind(null, node.style, {
                  opacity: 1
                }), 10);
                setTimeout(HTMLElement.prototype.removeChild.bind(DOMoverlay.parentNode, DOMoverlay), 750);
              });
              document.body.classList.remove('overlay');
              request.send(new FormData(this));
            });
          });
          request.send();
        }
      });
    });
  </script>
    
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Practice</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Week</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:practice -->
      <tr>
        <th>[$criterion:@index]</th>
        <!-- iterate records -->
        <td style="[background-color:hsl(200, $assessment:practice:percentage%, 80%)]" class="[centered $assessment:schedule:status]">
          <span>[$assessment:practice:total]</span>
        </td>
      </tr>
    </tbody>
  </table>
    
  <table class="full chart tt bb">
    <caption>
      <h3 class="rag-left pad b caps spaced">Projects</h3>
    </caption>
    <thead>
      <tr class="rotate">
        <th>Assignment</th>
        <!-- iterate section:students -->
        <th><a href="[/records/student/$student:@id]">[$student:shortname]</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate records:project -->
      <tr class="[$criterion:status]">
        <th><a href="[[/records/book/$$section:@course/$$section:@id/project/$criterion:@index]]">[$title]</a></th>
        <!-- iterate records -->
        <td class="centered marked" title="[$assessment:project:letter]" style="[--hue: $assessment:stats:standard; --value: $assessment:stats:standard%;]">
          <a class="edit" href="[[/records/evaluate/project/$$criterion:@index/$student:@id]]">[$assessment:project:weighted]</a>
        </td>
      </tr>
    </tbody>
  </table>
</article>
