<article>
  <link rel="stylesheet" href="/css/table.css" />
  <header class="banner">
    <h1>[$assignment:@title]</h1>
    <h4><time datetime="[$assignment:due:datetime]">[Due $assignment:due:date]</time></h4>
  </header>
  <table class="full chart tt bb">
    <style>
      table.chart thead th.integer {
        width: 1em;
      }

      td summary {
        font-size: 1.75em;
      }

      tbody td:not(.text) {
        vertical-align: middle;
        text-align: center;
      }

      td.text {
        width: 65%;
      }
    </style>
    <caption>
      <details class="whitepaper rag-right">
        <summary>Instructions</summary>
        <!-- replace details -->
      </details>
    </caption>
    <thead>
      <tr class="rotate">
        <th>&#160;</th>
        <th class="integer">score</th>
        <th class="integer">hours</th>
        <th class="bug integer">html</th>
        <th class="bug integer">css</th>
        <th>readme</th>
        <th>preview</th>
      </tr>
    </thead>
    <tbody>
      <!-- iterate submissions -->
      <tr class="[$evaluation:status]" title="[$evaluation:letter]">
        <th><a href="[/records/student/$student:@id]">[$student:@name]</a></th>

        <td class="percentage"><a href="[[/records/evaluate/$$assignment:@type/$$assignment:@index/$student:@id]]">[$evaluation:percentage]</a></td>
        <td>[$evaluation:hours]</td>
        <td>-</td>
        <td>-</td>
        <td class="text">
          <details>
            <summary>[$evaluation:readme:summary]</summary>
            <div style="font-size:1rem;">[$evaluation:readme:content]</div>
          </details>
        </td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</article>
