<article>
  <p class="intro">Here are several topics, let’s choose one to discuss:</p>
  <ol>
    <li><a href="/overview/topics/javascript/timekeeping/">Dates</a></li>
    <li>Forms</li>
    <li>Flexbox</li>
    <li><a href="/overview/topics/javascript/jsonp">JSONP</a></li>
    <li><a href="/overview/topics/javascript/ajax/">XMLHttpRequest</a></li>
    <li>Clock Math: modular arithmetic</li>
    <li>Clock Math: trigonometry (<a href="/overview/topics/studies/relative-clocks">case study</a>)</li>
    <li><a href="/overview/topics/javascript/closure">closure</a></li>
    <li><a href="/overview/topics/javascript/prototypes">prototypes</a></li>
    <li><a href="/overview/topics/javascript/regular-expressions">Regular Expressions</a></li>
    <li><a href="/overview/topics/design/drawing">Drawing</a></li>
    <li><a href="/overview/topics/concepts/interfaces">Application Programing Interfaces</a></li>
    <li><a href="/overview/topics/perspective/naming-conventions">Naming Conventions</a></li>
    <li><a href="/overview/topics/concepts/functional-programming">Functional Programming</a></li>
    <li><a href="/overview/topics/javascript/bubble-capture">Bubbling and Delegation</a></li>
    <li><a href="/overview/topics/concepts/coercion">Coercion</a></li>
    <li><a href="/overview/topics/concepts/new-operator">introducing <code>new</code></a></li>
    <li><a href="/overview/topics/concepts/this-keyword">The <code>this</code> keyword</a></li>
  </ol>
</article>
