<article>
  <!-- iterate courses -->
  <section class="container">
    <h2>[$course:@title]</h2>
    <!-- iterate course:sections -->
    <div class="_____ float left">
      <h4 class="bottom ruled"><a href="[/$section:@course/0/$section:@id]">[§$section:@id]</a><span>[$section:time $section:@room]</span></h4>
      <ul class="plain">
        <!-- iterate section:students -->
        <li>
          <a href="[/records/student/$student:@id]">[$student:@name]</a>
          <ul class="plain inline discourse scores container">
            <!-- iterate student:discourse:list -->
            <li title="[$discourse:letter]" class="[$schedule:status $discourse:status]">[$discourse:percentage]</li>
          </ul>
          <ul class="plain inline practice scores container">
            <!-- iterate student:practice:list -->
            <li title="[$practice:letter]" class="[$schedule:status $practice:status]">[$practice:percentage]</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</article>
