<article class="paginate">
  <h1 class="massive">Courses</h1>
  <!-- iterate courses -->
  <article class="container tt bb pad">
    <h2>[$course:@title]</h2>
    <!-- iterate course:sections -->
    <section class="pad">
      <h4>
        <a href="[/records/book/$section:@course/$section:@id]">[§$section:@id]</a>
        <span>[$section:time]</span>
        <span>[Rm $section:@room]</span>
      </h4>
      <ul class="plain cards">
        <!-- iterate section:students -->
        <li class="[$student:grade:apr]">
          <a href="[/records/student/$student:@id]">[$student:@name]</a>
        </li>
      </ul>
    </section>
  </article>
</article>
