<article class="coursework">
  <style media="screen">
  /* <![CDATA[ */
    .coursework section h3 {
      margin:2em 0 1em;
    }
    table.chart .horizontal td {
      text-align:center;
      padding:1em 0;
    }
    table.chart thead th + th {
      border-left:1px solid #222;
    }
    table.chart thead th {
      border-bottom:2px solid #333;
      padding:1em;
    }
    table.chart tfoot th {
      text-align:right;
      padding:1em;
      border-right:1px solid #222;
    }
    table.chart tfoot tr {
      border-top:2px solid #333;
    }
    td.pending {
      background-color:rgba(0,0,0,0.125);
    }
    td.pending * {
      display:none;
    }
    .tooltip td.transpired:not([title='']) {
      position:relative;
      cursor: help;
    }
    .tooltip td.transpired:not([title='']):hover:before {
      content:attr(title);
      position:absolute;
      display:block;
      top:-250%;
      left:-50%;
      width:200%;
      background-color:rgba(255,255,255,0.95);
      padding:0.5em;
      font-weight:400;
      box-shadow:0 0 1em rgba(0,0,0,0.25);
    }
    tr.open + tr.open td.transpired a {
      display:none;
    }
    .stretch {
      display:flex;
    }
    .stretch > li {
      padding:1em;
      text-align:center;
      flex:1 0 auto;
    }
    h1.banner {
      text-align:right;
      font-weight:300;
      letter-spacing:0.125em;
      color:#fff;
      text-shadow:-2px 0 1px #000;
      background-color:#333;
      padding:0.5em;
      margin:0 -2.5vw;
      background:linear-gradient(to bottom, #333, #282828);
    }
    th.lighter {
      font-weight:600;
    }
  /* ]]> */
  </style>
  <h1 class="banner">[$student:@name]</h1>
  <section>
    <h3>Participation and Attendance</h3>
    <table class="full chart">
      <colgroup>
        <col span="1" style="width:7.5%" />
        <col span="15" style="width:5.5%"/>
        <col span="1" style="width:7.5%" />
      </colgroup>
      <tbody class="horizontal">
        <tr>
          <th>Week</th>
          <!-- iterate student:discourse:list -->
          <td>[$criterion:@index]</td>
          <th class="lighter"><span>µ × </span><span class="percentage">[$student:discourse:weight]</span></th>
        </tr>
        <tr class="tooltip">
          <th>Score</th>
          <!-- iterate student:discourse:list -->
          <td class="[$schedule:status]" title="[$discourse]">
            <strong class="percentage">[$discourse:percentage]</strong>
            <a href="[[/$$instructor:path/discourse/$criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <th class="percentage">[$student:discourse:score]</th>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Practice</h3>
    <table class="full chart">
      <colgroup>
        <col span="1" style="width:1em;"/>
      </colgroup>
      <thead>
        <tr>
          <th>[i]</th>
          <th>Due</th>
          <th>Assignment Details</th>
          <th>Your page</th>
          <th>Notes</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody class="vertical">
        <!-- iterate student:practice:list -->
        <tr class="[$practice:status]" title="[$practice:letter]">
          <td>[$criterion:@index]</td>
          <td class="centered"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time></td>
          <td>
            <a href="[[/$$student:course/criterion/practice/$criterion:@index/$$student:section:@id/$$student:course]]">[$criterion:@title]</a>
          </td>
          <td class="centered"><a href="[[$$student:@url/practice/$criterion:@index/]]">Preview</a></td>
          <td class="[$schedule:status centered]">
            <a href="[[/$$student:course/notes/practice/$criterion:@index/]]">[[$$review]]</a>
            <a href="[[/$$instructor:path/practice/$criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <td class="[$schedule:status centered]">
            <strong class="percentage">[$practice:percentage]</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">µ ⋅ <span class="percentage">[$student:practice:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:practice:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section>
    <h3>Projects</h3>
    <table class="full chart">
      <colgroup>
        <col span="1" style="width:1em;"/>
      </colgroup>
      <thead>
        <tr>
          <th>Project</th>
          <th>Due</th>
          <th>Assignment Details</th>
          <th>Your page</th>
          <th>Notes</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody class="vertical">
        <!-- iterate student:projects:list -->
        <tr class="[$project:status]" title="[$project:letter]">
          <td>[$criterion:@index]</td>
          <td class="centered"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time></td>
          <td>
            <a href="[[/$$student:course/criterion/project/$criterion:@index/$$student:section:@id]]">[$criterion:@title]</a>
          </td>
          <td class="centered"><a href="[[$$student:@url/project/$criterion:@index/]]">Preview</a></td>
          <td class="[$schedule:status centered]">
            <a href="[[/$$student:course/notes/project/$criterion:@index]]">[[$$review]]</a>
            <a href="[[/$$instructor:path/project/$criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <td class="[$schedule:status centered]">
            <strong class="percentage">[$project:percentage]</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">µ ⋅ <span class="percentage">[$student:projects:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:projects:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section>
    <h3>Quizzes</h3>
    <table class="full chart">
      <colgroup>
        <col span="1" style="width:10%;"/>
      </colgroup>
      <thead>
        <tr>
          <th>Exam</th>
          <th>Administered</th>
          <th>Notes</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody class="vertical">
        <!-- iterate student:quizzes:list -->
        <tr class="[$quiz:status]" title="[$quiz:letter]">
          <td class="centered">[$criterion:@title]</td>
          <td class="centered"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time></td>
          <td class="[$schedule:status centered]">[$quiz]</td>
          <td class="[$schedule:status centered]">
            <strong class="percentage">[$quiz:percentage]</strong>
            <a href="[[/$$instructor:path/quiz/$criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">µ ⋅ <span class="percentage">[$student:quizzes:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:quizzes:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section style="margin-top:5em;border-top-width:1em;">
    <h2>Cumulative Grade: <strong class="percentage" title="[$student:grade:letter]">[$student:grade:score]</strong></h2>
    <p class="focus"><strong>Note:</strong> until one of every type of assignment have been graded, the average score is based on pending perfect scores; after the midterm, based on your other criteria your scores may change significantly.</p>

  </section>
</article>
