<article class="coursework">
  <link rel="stylesheet" href="/css/table.css" />
  <header class="banner">
    <h1>[$student:@name]</h1>
    <h4>[$student:@major $student:@year]</h4>
  </header>
  <section class="b">
    <table class="full chart">
      <caption class="rag-right">
        <!-- insert views/topics/_policy/participation-and-attendance.html -->
      </caption>
      <colgroup>
        <col span="1" style="width:7.5%" />
        <col span="15" style="width:5.5%" />
        <col span="1" style="width:7.5%" />
      </colgroup>
      <tbody class="horizontal">
        <tr>
          <th>Week</th>
          <!-- iterate student:discourse:list -->
          <td>[$discourse:criterion:@index]</td>
          <th class="lighter"><span>µ × </span><span class="percentage">[$student:discourse:weight]</span></th>
        </tr>
        <tr class="tooltip">
          <th>Score</th>
          <!-- iterate student:discourse:list -->
          <td class="[$schedule:status]" title="[$discourse:score]">
            <strong>[$discourse:flag]</strong>
            <a href="[[/$$instructor:path/discourse/$discourse:criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <th class="percentage">[$student:discourse:score]</th>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <table class="full chart">
      <caption class="rag-right">
        <!-- insert views/topics/_policy/research-studies.html -->
      </caption>
      <colgroup>
        <col span="1" style="width:1em;" />
      </colgroup>
      <thead>
        <tr>
          <th>[i]</th>
          <th>Due</th>
          <th>Assignment Details</th>
          <th>Your page</th>
          <th>Notes</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <!-- iterate student:practice:list -->
        <tr class="[$practice:status]" title="[$practice:letter]">
          <th>[$practice:criterion:@index]</th>
          <td class="centered"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time> <em class="ticker">[$due:ticker]</em></td>
          <td class="centered">
            <a href="[[/$$student:course/criterion/practice/$practice:criterion:@index/$$student:section:@id/$$student:course]]">[$practice:criterion:@title]</a>
          </td>
          <td class="centered"><a href="[[$$student:@url/practice/$practice:criterion:@index/]]">Preview</a></td>
          <td class="[$schedule:status centered]">
            <a href="[[/$$student:course/notes/practice/$practice:criterion:@index/]]">[[$$review]]</a>
            <a href="[[/$$instructor:path/practice/$practice:criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <td class="[$schedule:status centered]">
            <strong class="percentage">[$practice:percentage]</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5">µ ⋅ <span class="percentage">[$student:practice:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:practice:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section>
    <table class="full chart">
      <caption class="rag-right">
        <!-- insert views/topics/_policy/project.html -->
      </caption>
      <colgroup>
        <col span="1" style="width:1em;" />
      </colgroup>
      <thead>
        <tr>
          <th>Project</th>
          <th>Due</th>
          <th>Details</th>
          <th>Your page<sup><a href="#cache-invalidation">[*]</a></sup></th>
          <th>Notes</th>
          <th>Raw</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <!-- iterate student:projects:list -->
        <tr class="[$project:status]">
          <th><span style="font-family:'Avenir Next Condensed';font-size:5em;font-weight:200;text-transform:uppercase;line-height:1;letter-spacing:-0.075em;color:rgba(0,0,0,0.65);">[$project:criterion:@title]</span></th>
          <td class="centered"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time> <em class="ticker">[$due:ticker]</em></td>
          <td style="width:15%">
            <a href="[[/$$student:course/criterion/project/$project:criterion:@index/$$student:section:@id]]">[ $project:criterion]</a>
          </td>
          <td class="centered"><a href="[[$$student:@url/project/$project:index/?$$entropy]]">Preview</a></td>
          <td class="[$schedule:status centered]">
            <a href="[[/$$student:course/notes/$project:criterion:path/$$student:@id]]">[[$$review]]</a>
            <a href="[[/$$instructor:path/$project:criterion:path/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <td class="[$schedule:status centered]">
            <strong>[$project:score]</strong>
          </td>
          <td class="centered"><span class="percentage">[$project:weighted]</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6">µ ⋅ <span class="percentage">[$student:projects:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:projects:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  
  <section>

    <table class="full chart">
      <caption class="rag-right">
        <!-- insert views/topics/_policy/quizzes.html -->
      </caption>
      <colgroup>
        <col span="1" style="width:10%;" />
      </colgroup>
      <thead>
        <tr class="rotate">
          <th>Exam</th>
          <th>Administered</th>
          <th title="Represents the actual mean (average) of all examinations"><span>µ</span></th>
          <th title="The weighted mean, or weighted average, is calculated using standard deviation and the max score"><em style="font-family:Baskerville">x&#x0305;</em></th>
          <th title="Standard Deviation represents the dispersion of scores, or 'the average of the average'. Basically, low standard deviation indicates the scores were very close together, high indicates very diverse range of scores."><span>σ</span></th>
          <th title="lowest score given"><span>min</span></th>
          <th title="highest score given"><span>max</span></th>
          <th title="raw points received / points available"><span>points</span></th>
          <th title="raw score"><span>raw</span></th>
          <th title="given score based on weighted mean and standard deviation"><span>score</span></th>
        </tr>
      </thead>
      <tbody>
        <!-- iterate student:quizzes:list -->
        <tr class="[$quiz:status]">
          <th>[$quiz:criterion:@title]</th>
          <td class="centered __"><time datetime="[$due:datetime]" class="[$due:status]">[$due:date]</time> <em class="ticker">[$due:ticker]</em></td>
          <td class="[$schedule:status centered]"><span>[$stats:mean]</span></td>
          <td class="[$schedule:status centered]"><span>[$stats:wmean]</span></td>
          <td class="[$schedule:status centered]"><span>[$stats:sd]</span></td>
          <td class="[$schedule:status centered]"><span>[$stats:min]</span></td>
          <td class="[$schedule:status centered]"><span>[$stats:max]</span></td>
          <td class="[$schedule:status centered]"><span>[$quiz:@credit / $quiz:criterion:@points]</span></td>
          <td class="[$schedule:status centered]">
            <span class="percentage">[$quiz:percentage]</span>
            <a href="[[/$$instructor:path/quiz/$quiz:criterion:@index/$$student:@id]]">[[$$instructor:edit]]</a>
          </td>
          <td class="centered"><strong class="percentage">[$stats:standard]</strong></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="9">µ ⋅ <span class="percentage">[$student:quizzes:weight]</span></th>
          <td class="centered"><strong class="percentage">[$student:quizzes:score]</strong></td>
        </tr>
      </tfoot>
    </table>
  </section>
  <section style="margin:5em 0;padding:2em;border-top-width:1em;">
    <h2>Cumulative Grade: <strong class="percentage" title="[$student:grade:letter]">[$student:grade:score]</strong></h2>
    <h4 class="vertical">Note</h4>
    <p>Until one of every type of assignment have been graded, the average score is based on pending perfect scores; after the midterm, based on your other criteria your scores may change significantly. Where marked, I have curved grades using <a href="https://en.wikipedia.org/wiki/Standard_score">standard score</a>. I will act as the arbiter and use the scores you see here to determine your final grade which will ultimately reflect competency gained and necessary to advance through the curriculum. </p>

  </section>
  <footer onclick="window.location.hash = '_'">
    <h2>Footnotes/<abbr title="frequently asked questions">FAQ</abbr></h2>
    <section id="cache-invalidation">
      <h3>Cache Invalidation</h3>
      <p>You may notice a random string of numbers preceded by a question mark when you link to your page—let me explain. The default behavior of a server is to do something as fast as possible, and depending on what time a file is <em>requested</em> it may <em>respond</em> with a special header code called a <code>304 Not Modified</code>, in essence, telling your browser, <q>load the same thing if you want</q>, and a browser usually does. The server your work is hosted on is configured to send 304s quite liberally—generally ok to do for production sites—but it makes it difficult to develop websites over the internet.</p>
      <p>Thus, when developing, you should (1) have dev tools open, and (2) then make sure cache is disabled (show note) to ensure you get the resource as intended. To make sure that you see you changes as requested, I append a harmless string of numbers (a common trick of <a href="https://en.wikipedia.org/wiki/Cache_invalidation">cache invalidation</a>) after the url that makes it look like a different resource to caching algorithims. This is called a <a href="https://en.wikipedia.org/wiki/Query_string">query string</a>, and they are harmless in most contexts and only used to avail in server-side programming anyway.</p>
    </section>
  </footer>
  
</article>
