<div class="tabbed inspector">
  <style media="screen">
    .inspector nav {
      background-color:#333;
      height:5vh;
      overflow:hidden;
    }
    
    .docs {
      overflow:auto;
      background-color:rgba(0,0,0,0.1);
    }
    .docs li * {
      font-size:100%;
    }
    .inspector .panel {
      width:100%;
      height:90vh;
      margin:0;
      box-sizing:border-box;
      display:block;
      opacity:1;
      transition: opacity 0.5s 0.125s;
      overflow:auto;
    }
    .panel ul.plain {
      padding: 1em 0 0;
    }


    .inspector .panel iframe {
      height:87vh;
      width:100%;
    }
    .inspector .panel pre {
      height:90vh;
      width:100%;
      box-sizing:border-box;
      white-space:pre-wrap;
    }

    .inspector .panel:not(.visible) {
      height:0;
      opacity:0;
    }
    .buttons a.active {
      background-color:#FEFEFE;
      color:#777;
    }
    .buttons a.active:before {
      color:#333;
    }
    .stretch {
      box-shadow:0 0.5em 0.5em rgba(0,0,0,0.1);
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .stretch > li {
      flex:1 0 auto;
    }
    a[data-file] {
      padding:0.5em 0;
      text-align:center;
      color:#fff;
      display:block;
    }
    li a[data-errors]:after {
      content: attr(data-errors);
      background-color: rgb(218, 75, 122);
      color:#fff;
      vertical-align: super;
      padding: 0 0.35em;
      line-height: 1;
      border-radius: 25%;
      font-size: 0.65em;
      margin-left: 0.25em;
    }
    li a[data-sloc]:before {
      content: attr(data-sloc) '\aLINES';
      color:#ffcf01;
      line-height: 1;
      display:inline-block;
      text-align:center;
      letter-spacing:1px;
      font-size: 0.5em;
      margin-right: 0.25em;
    }
    li a[data-errors='0']:after {
      background-color:rgb(78, 210, 131);
    }
    li.error {
      background-color: rgba(255,0,0,0.05);
      box-shadow: 0 0 1em 0.25em rgba(255,0,0,0.05);
    }
    li.info {
      background-color: rgba(0,0,255,0.05);
      box-shadow: 0 0 1em 0.25em rgba(0,0,255,0.05);
    }
    li a[data-type]:before {
      border-radius: 50%;
      width: 1.5em;
      display: inline-block;
      height: 1.5em;
      text-align: center;
      line-height: 1.5;
      color: #fff;
      font-family: monospace;
      margin-right: 0.5em;
    }
    li a[data-type='info']:before {
      content: 'i';
      background-color: #00A4E4;
    }
    li a[data-type='error']:before {
      content: 'e';
      background-color: #EE2E24;
    }
    section.txt * {
      font-family: Helvetica, arial, sans-serif;
    }
    
    section.txt.visible {  
      overflow:auto;
      padding: 5em;
      background-color:#fff;
    }
    
    iframe *:hover {outline: 1px dashed magenta;}
    
  </style>
  <script type="text/javascript">bloc.embed('/javascript/inspector.js');</script>
  <ul class="plain buttons stretch" style="background-color:#444;">
    <li><a data-file="preview" class="active" href="#critique">Preview</a></li>
    <!--  iterate project:files -->
    <li><a data-file="[$file:@basename]" class="code" data-errors="[$file:@errors]" data-sloc="[$file:@sloc]" href="[#_$file:@hash]">[$file:@name]</a></li>
  </ul>
  
  <section class="panel  visible" data-file="preview">
    <iframe src="[$project:baseurl?$entropy]" ondblclick="window.open(this.src);">
      <p>I frame</p>
    </iframe>
  </section>
  <!--  iterate project:files -->
  <section class="[panel $file:@type]" data-file="[$file:@basename]">[$content]</section>
</div>
