<div class="tabbed inspector">
  <style media="screen">
    .inspector nav {
      background-color:#333;
      height:5vh;
      overflow:hidden;
    }
    .inspector .panel {
      width:100%;
      height:90vh;
      margin:0;
      box-sizing:border-box;
      display:block;
    }
    .panel details {
      position:absolute;
      background-color:#333;
      width:100%;
      padding:1em;
      color:#fff;
      z-index: 2;
      overflow: auto;
      height:2em;
      transition: height 0.25s;
    }
    .panel details[open] {
      color: #333;
      height: 87.5vh;
      background-color: rgba(255,255,255,0.85);
      box-shadow: inset 0px 1px 5em 0px rgba(0,0,0,0.5);
    }
    .panel ul.plain {
      padding: 1em 0 0;
    }
    .panel ul li[data-line] {
      border-top:1px solid rgba(255,255,255,0.1);
      font-size:1.25em;
      padding:0.5em;
      line-height:1;
    }
    .panel summary {
      margin:0;
      font-size:1.5em;
    }
    

    .inspector .panel iframe {
      height:90vh;
      width:100%;
    }
    .inspector .panel pre {
      height:calc(90vh - 4em);
      width:100%;
      padding-top:4em;
      box-sizing:border-box;
    }

    .inspector .panel:not(.visible) {
      display:none;
    }
    .buttons li {
      cursor:pointer;
      padding:0.5em 0;
      text-align:center;
      color:#fff;
    }
    .buttons li.active {
      background-color:#FEFEFE;
      color:#777;
    }
    .buttons li.active:before {
      color:#333;
    }
    .stretch {
      box-shadow:0 0.5em 0.5em rgba(0,0,0,0.1);
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .stretch > li {
      flex:1 0 auto;
    }
    li[data-errors]:after {
      content: attr(data-errors);
      background-color: rgb(218, 75, 122);
      color:#fff;
      vertical-align: super;
      padding: 0 0.35em;
      line-height: 1;
      border-radius: 25%;
      font-size: 0.65em;
      margin-left: 0.25em;
    }
    li[data-sloc]:before {
      content: attr(data-sloc) '\aLINES';
      color:#ffcf01;
      line-height: 1;
      display:inline-block;
      text-align:center;
      letter-spacing:1px;
      font-size: 0.5em;
      margin-right: 0.25em;
    }
    li[data-errors='0']:after {
      background-color:rgb(78, 210, 131);
    }
    li.error {
      background-color: rgba(255,0,0,0.05);
      box-shadow: 0 0 1em 0.25em rgba(255,0,0,0.05);
    }
    li.info {
      background-color: rgba(0,0,255,0.05);
      box-shadow: 0 0 1em 0.25em rgba(0,0,255,0.05);
    }
    li[data-type]:before {
      border-radius: 50%;
      width: 1.5em;
      display: inline-block;
      height: 1.5em;
      text-align: center;
      line-height: 1.5;
      color: #fff;
      font-family: monospace;
      margin-right: 0.5em;
    }
    li[data-type='info']:before {
      content: 'i';
      background-color: #00A4E4;
    }
    li[data-type='error']:before {
      content: 'e';
      background-color: #EE2E24;
    }
    iframe *:hover {outline: 1px dashed magenta;}
    
  </style>
  <script type="text/javascript">bloc.embed('/javascript/inspector.js');</script>
  <ul class="plain buttons stretch" style="background-color:#444;">
    <li data-file="preview" class="active">Preview</li>
    <!--  iterate files -->
    <li data-url="[$url]" data-file="[$name]" class="code" data-errors="[$report:count]" data-sloc="[$report:sloc]">[$name]</li>
  </ul>
  <section class="panel visible">
    <iframe data-file="preview" src="[$url]" ondblclick="window.open(this.src);">
      <p>I frame</p>
    </iframe>
  </section>
  <!--  iterate files -->
  <section class="panel">
    <details class="console">
      <summary style="padding:0.25em">Console Messages</summary>
      <h3 class="t">Code Quality</h3>
      <ul class="plain">
        <!-- iterate console -->
        <li><dfn>[$name]</dfn>: <var>[$value]</var></li>
      </ul>
      <h3 class="t">Warnings and Errors</h3>
      <ul class="plain">
        <!-- iterate report:errors -->
        <li data-line="[$line]" class="[[$$type]]" data-type="[$type]">[Line $line: $message]</li>
      </ul>
    </details>
    <pre data-file="[$name]" class="[linenums $type]">[$content]</pre>
  </section>
</div>
