<!DOCTYPE html>
<html>
  <head>
    <title>[$title]</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/themes/journal.css"/>
    <link rel="stylesheet" href="/css/guide.css"/>
    <link rel="stylesheet" href="/css/code.css"/>
    <script type="text/javascript">
      // <![CDATA[
      // Autoload scripts
      var bloc = window.bloc || (function(s,c,p1,p2,append) {
        s.type='text/javascript';
        return {
          embed: function (u, p) {
            var ctx = s.cloneNode(); ctx.src = u; ctx.async = p;
                p ? p2.push(ctx) : ctx.onload = this.load.bind(ctx, p1.push(ctx));
          },
          load: function (i, e) {
            if (!e) return p1.concat(p2).map(append.bind(document.body));
            if (e && p1.length === i) for (var k in c) c[k].call(c[k], true);
          },
          init: function (k, f) {
            if ('call' in f) c[k] = f; return c[k];
          }
        };
      }(document.createElement('script'),{},[],[],Node.prototype.appendChild));

      var mobile = (/mobile/i).test(navigator.userAgent);

      // Embed script for site
      bloc.embed('/javascript/bloc.js');
      bloc.embed('//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js', true);
      // ]]>
    </script>
  </head>
  <body>
    <nav class="rag-left">
      <div>
        <!--  replace navigation nextSibling -->
        <ul class="index">
          <li><a href="/SWM/index">SWM</a></li>
          <li><a href="/ASWM/index">ASWM</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <!-- replace content nextSibling -->
      <article>
        <h2>Welcome, Student</h2>
        <p>Here you will find an interactive site with all of your course resources, collaboration materials, downloads materials, and progress reports. This site will evolve throughout the semester to suit our collective needs, so be prepared to speak up about ideas and suggestions.</p>
        <h3 class="tt"><a href="/course/dashboard">Go to the dashboard</a></h3>
      </article>
    </main>
    <hr />
    <!-- replace helper nextSibling -->
    <footer>
      <address><em>[© $year]</em> Brendan Metzger &#x2803;&#x2817;&#x2811;&#x281D;&#x2819;&#x2801;&#x281D; &#x280D;&#x2811;&#x281E;&#x2835;&#x281B;&#x2811;&#x2817;</address>
    </footer>
    <script type="text/javascript">
      // <![CDATA[
      function noisyBG(opacity) {
        var canvas = document.createElement("canvas"),
            ctx = canvas.getContext('2d'),
            number,
            opacity = opacity || 0.2;
        var limit = canvas.width = canvas.height = 150;
        var count = 0;
        while (250 > count++) {
          ctx.fillStyle = "rgba(225,225,100," +(0.8 * Math.random()) + ")";
          var x = Math.random() * limit;
          var y = Math.random() * limit;
          var dir = [Math.random() * limit, 1];
          ctx.fillRect(x, y, 1, 1);
        }
        return "url(" + canvas.toDataURL("image/png") + ")";
      }
      document.body.style.backgroundImage = noisyBG(0.1) + ", " + noisyBG(0.1);
      document.body.style.backgroundPosition = "0 0, 50px -50px, 20px 30px";
      window.bloc.load();
      // ]]>
    </script>
  </body>
</html>
