<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:lang="en" lang="en">
  <head>
    <title>[$title]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script type="text/javascript">
      // <![CDATA[
      // Autoload scripts
      var bloc = window.bloc || (function(s,c,p1,p2,append) {
        s.type='text/javascript';
        return {
          embed: function (u, p) {
            var ctx = s.cloneNode(); ctx.src = u; ctx.async = p;
                p ? p2.push(ctx) : ctx.onload = this.load.bind(ctx, p1.push(ctx));
          },
          load: function (i, e) {
            if (!e) return p1.concat(p2).map(append.bind(document.head));
            if (e && p1.length === i) for (var k in c) c[k].call(c[k], true);
          },
          init: function (k, f) {
            if (f && 'call' in f) c[k] = f;
            else c[k] = function() { return this };
            return c[k];
          }
        };
      }(document.createElement('script'),{},[],[],Node.prototype.appendChild));

      var mobile = (/mobile/i).test(navigator.userAgent);


      // Embed script for site
      bloc.embed('/javascript/bloc.js');
      bloc.embed('/javascript/smooth-scroll.js');
      bloc.embed('/javascript/vendor/prettify.js');
      bloc.init('prettyprint', function () {
        prettyPrint();
      });
      // ]]>
    </script>
    <link rel="stylesheet" href="/css/guide.css"/>
    <link rel="stylesheet" href="/css/themes/journal.css"/>
    <link rel="stylesheet" href="/css/grades.css"/>
    <link rel="stylesheet" href="/css/code.css"/>
    <link rel="icon"  type="image/png" href="/media/images/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/458eb080-e11e-4976-9309-44ecbcfd039a.css"/>
  </head>
  <body class="[$template]">
    <nav>
      <div>
        <!--  replace context nextSibling -->
        <ul class="index centered">
          <li><a href="/SWM/index">SWM</a></li>
          <li><a href="/ASWM/index">ASWM</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <!-- replace content nextSibling -->
      <article>
        <h2>Hello</h2>
        <p>Here you will find an interactive site with all of your course resources, collaboration materials, download materials, and progress reports. This site will evolve throughout the semester to suit our collective needs, so be prepared to speak up about ideas and suggestions.</p>
        <h3 class="tt"><a href="/course/dashboard">Go to the dashboard</a></h3>
        <hr class="ruled tt bb" />
        <footer>
          <!-- insert views/topics/glossary.html -->
        </footer>
      </article>
    </main>
    <hr />
    <!-- replace helper nextSibling -->
    <footer>
      <address><em>[© $year]</em> Brendan Metzger &#x2803;&#x2817;&#x2811;&#x281D;&#x2819;&#x2801;&#x281D; &#x280D;&#x2811;&#x281E;&#x2835;&#x281B;&#x2811;&#x2817;</address>
    </footer>
    <script type="text/javascript">
      // <![CDATA[
      function noise(opacity, count) {
        var canvas = document.createElement("canvas"),
            ctx = canvas.getContext('2d'),
            opacity = opacity || 0.2,
            limit = canvas.width = canvas.height = 150;
            ctx.fillStyle = "rgba(225,225,150,0.8)";
        while (count-- > 0) ctx.fillRect(Math.random() * limit, Math.random() * limit, 1, 1);
        return "url(" + canvas.toDataURL("image/png") + ")";
      }
      var out = 'html, .noise {background-image:'+noise(0.1, 250) + ', ' + noise(0.1, 250)+';background-position:0 0, 50px -50px, 20px 30px;}';
      // document.head.appendChild(document.createElement('style')).textContent = out;
      window.bloc.load();
      // ]]>
    </script>
  </body>
</html>
