<div style="height:87vh;overflow-y:auto;" id="notes">
  <h4 class="button centered pad"><a href="[$dashboard]">Back to dashboard</a></h4>
  <article class="critique pad" id="critique">
    <h3 class="caps centered">Project: <b class="caps">[$project:title]</b></h3>
    <h5 class="centered percentage pad"><strong>[$project:percentage]</strong> of <span>[$project:weighted]</span></h5>
    
    <!-- iterate project:inputs -->
    <figure>
      <figcaption class="h4 condensed">[$key]</figcaption>
      <meter min="0" max="0.1" low="0.04" high="0.06" optimum="0.08" value="[$value]" style="width:100%">[$key]</meter>
    </figure>
  </article>
  
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    .critique {
      min-height: 87vh;
    }
    .markdown {
      background-color:rgba(255,255,255,0.75);
      font-size:0.5rem;
      padding:2vmax 3vmax;
    }
    .markdown p {
      line-height:1.25;
      margin:1em 0;
    }
    .markdown h1,
    .markdown h2,
    .markdown h3,
    .markdown h4,
    .markdown h5 {
      font-weight:400;
    } 
    .markdown code:not([class]) {
      border-radius:0.25em;
      padding: 0 0.125em;
      border: 1px solid rgba(0,0,0,0.1);
      background-color:#fff;
    }
    
    .markdown pre code {
      white-space: pre-line;
    }
    .markdown a[href] {
      text-decoration:underline;
    }
    .markdown ul, .markdown ol {
      padding-left:2em;
    }
    .markdown blockquote {
      border-style:solid;
      border-width:1px 0;
      font-style:italic;
      padding:1em;
    }
    .critique .markdown {
      margin:1em -2vmax;
      box-shadow: 0 0 0.75em rgba(0,0,0,0.15);
      
    }
    /* ]]> */
  </style>

  <!--  iterate project:files -->
  <article id="[$file:@name-$file:@type]" class="critique pad">
    <h3 class="t b code">[$file:@path]</h3>
    <a href="[[$$edit:path#$file:@name-$file:@type]]">[[$$edit:name]]</a>
    <h5><var>[$file:@commits]</var> Revisions</h5>
    <select class="history">
      <!-- iterate revisions -->
      <option value="[[[/records/version/$$$student:@id/$$b64path/$hash]]]">[$title - $diff]</option>
    </select>
    <section class="markdown t">[$markdown]</section>
  </article>
  
  <script type="text/javascript">
    // <![CDATA[
      bloc.init('projects', function () {
        var tabs      = document.querySelectorAll('.inspector a[data-file]');
        var sections  = document.querySelectorAll('#notes article');
        var click = new MouseEvent('click', {
          bubbles: true,
          cancelable: true,
          view: window
        });
      
        var triggerClicks = function (position) {
          tabs[position].dispatchEvent(click);
        }
        scroll.monitor(document.querySelector('#notes'), sections.length, triggerClicks);
      });
    // ]]>
  </script>
</div>
