<form action="/records/quiz/" method="POST">
  <input type="hidden" name="[@index]" value="" />
  <input type="hidden" name="[@score]" value="" />
  <h2>DATE: Quiz</h2>
  
  <label for="answer">
    <h3>What counting system was developed by ancient Sumerians and Babylonians and is still used in a modified form today?</h3>
  </label>
  <textarea class="full lined" id="answer" name="answer">Base 60, or Sexagesimal. We use a modified form in the average clock as minutes and seconds have a tally of 60. Circles are often measured in degrees and seconds—360 divides by 60 nicely. 60 itself is divisible by 1,2,3,4,5, and 6, and any factors of those numbers—like 24 hours in a day and 12 hours in our am pm clocks. Our big planet makes its way around the sun in about 365 days, which is so close to 360 that you have to marvel a little bit at how efficient it all is.</textarea>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    label[for] h3 {
      font-size:2.5em;
      font-family:Inconsolata;
      line-height: 1.25;
      max-width:50%;
    }
    
    form textarea.lined {
      font-size: 2em;
      min-height:15em;
      font-family:'Contax Sans W01_35 Thin';
 
      color:#222;
      padding:1.65em 25% 0 3em;
      line-height:1.5;
      background-size: 1.5em 1.5em, 2.5em 10px;
      background-position: left -0.175em;
      background-image: linear-gradient(transparent 97.5%, rgba(0, 0, 255, 0.05) 2.5%), linear-gradient(90deg, transparent 97.5%, rgba(255,0,0,0.1) 2.5%);
      background-repeat: repeat, repeat-y;
      background-attachment: local;
    }
    :focus {
      outline: 1px solid rgba(255,0,0,0.25);
      box-shadow: 0 0 0 0.125em rgba(255,0,0,0.1);
    }
    /* ]]> */
  </style>
  <button type="submit">Answer</button>
  <button type="submit" onclick="document.querySelector('#answer').value = this.textContent;this.parentNode.removeChild(this);return false;">I don't know.</button>
</form>
