<article class="columns">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    body {
      background-image: url(/media/images/muybridge-halftone.png);
      background-size:auto 2000vh;
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-position:-10em -700vh;
      mix-blend-mode:multiply;
      isolation:isolate;
    }
    .columns {
      display:flex;
      flex-wrap:wrap;
      margin:0 -2.5vw;
    }
    .columns section {
      flex: 1 0 auto;
      background-color:rgba(255,255,255,0.25);
      padding:1em;
      margin:1em;
      box-shadow: 0 0 0 1.5em rgba(0,0,0,0.1);
    }
    section h2 {
/*        writing-mode: vertical-rl;*/
/*        text-orientation: upright;*/
    }
    /* ]]> */
  </style>

  <!-- iterate columns -->
  <section>
    <h2 class="caps">[$name]</h2>
    <ul class="plain">
      <!-- iterate essays -->
      <li>
        <a href="[/overview/topics/$path/]">[$name]</a>
        <small>[$tags]</small>
        <!-- <small>[$intro]</small> -->
        
      </li>
    </ul>
  </section>
</article>