<article>
  <h2>Readings</h2>
  <p>Depending on your familiarity with the subject matter, the reading will be a good refresher or a load of introductions to new concepts.</p>
  <h3>CSS</h3>
  <p>The Mozilla Developer Network has a<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started">Getting Started with CSS</a> Guide that you should take time investigating. Spend time reading and looking over sections 1–8, or, <q>What is CSS</q> all the way up to <q>Color</q></p>
</article>
