<footer id="reference-and-practice">
  <h2>Reference &amp; Practice Material</h2>
  <p class="intro">Here is the list of <a href="http://iam.colum.edu/brendan.metzger/vids/">previous lectures</a> that are available to watch.</p>
  <h4>Hypertext Markup Language</h4>
  <ul>
    <li><a class="read" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">Outlining an <abbr>HTML</abbr> document</a></li>
    <li><a href="https://en.wikiversity.org/wiki/Web_Design/What_is_HTML">What is HTML</a></li>
    <li>For those needing more introduction to HTML in general, <a href="http://htmldog.com/guides/html/beginner/">here is a nice tutorial for beginners</a></li>
  </ul>
  <hr class="ruled t b"/>
  <h4>Cascading Stylesheets</h4>
  <ul>
    <li><a class="read" href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started"><abbr title="Mozilla Developer Network">MDN</abbr> Getting Started Guide</a></li>
    <li><a href="http://htmldog.com/guides/css/beginner/">Beginner introduction to CSS</a> (Know the basics of all of these areas)</li>
    <li><a href="https://developer.mozilla.org/en-US/Learn/CSS/Basic_text_styling_in_CSS">Basic Text Styling</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Common_CSS_Questions">Common Questions</a></li>
  </ul>
  <hr class="ruled t b"/>
  <h4>JavaScript</h4>
  <p>Only investigate if you are anxious—I will give a proper intro to JS and programming in the coming weeks.</p>
  <ul>
    <li><a href="https://github.com/getify/You-Dont-Know-JS/blob/master/up%20%26%20going/ch1.md">Intro to programming</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript">A re-introduction to JavaScript</a></li>
  </ul>
</footer>
