<div id="[$course:@id]">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Up &amp; Running</h1>
    <p class="intro">The goal of every interval is to add a little bit to our repertoire, building on fundamentals week by week. After an introduction to filesystems and networks, once on a server, a website's raison d'être is to broadcast information, and that information must be marked up for a machine to parse and organize. Before focusing purely on style and aesthetic, it is important to understand the algorithm of how to begin structuring a page.</p>
  </header>
  <article>
    <h2><abbr title="hypertext markup language">HTML</abbr></h2>
    <p>It's important to consider that you are now <strong>marking up</strong> a document using a careful hierarchy and structure. This serves two purposes: first to add meaning so that a machine can accurately parse the data, and second, to create nodes that you can find with CSS and apply style and aesthetic.</p>
    <section>
      <h3>Sectioning Blocks</h3>
      <dl>
        <dt><code>&lt;article&gt;</code></dt>
        <dd>The HTML &lt;article&gt; element represents a self-contained composition in a document, page, application, or site, which is intended to be independently distributable or reusable (e.g., in syndication). This could be a forum post, a magazine or newspaper article, a blog entry, <mark>an object, or any other independent item of content</mark>. Each &lt;article&gt; should be identified, typically by including a heading (&lt;h1&gt;-&lt;h6&gt; element) as a child of the &lt;article&gt; element.</dd>
        <dt><code>&lt;section&gt;</code></dt>
        <dt><code>&lt;header&gt;</code></dt>
        <dt><code>&lt;footer&gt;</code></dt>
        <dt><code>&lt;nav&gt;</code></dt>
      </dl>
      <h3>Headings, Paragraphs, etc.</h3>
      <dl>
        <dt><code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code>, <code>&lt;h4&gt;</code>,<code>&lt;h5&gt;</code>, <code>&lt;h6&gt;</code></dt>
        <dt>em, i</dt>
        <dd>adds an italicized face to text. Semantically, em means 'emphasis', where i just means you want a visual distinction (em is usually the way to go)</dd>
        <dt>strong, b</dt>
        <dd>adds a bold face to text. Semantically, strong carries more meaning, b is just visual.</dd>
        <dt>p</dt>
        <dd>represents paragraphs</dd>
        <dt>a</dt>
        <dd>hyperlinks are added via the a tag, and links are facilitated through an href attribute.</dd>
      </dl>
    </section>
  </article>
  <article>
    <h2><abbr title="Cascading Style Sheets">CSS</abbr>: Descendant Selectors and Typography</h2>
    <h3>Declaring <abbr title="Cascating Stylesheets">CSS</abbr></h3>
    <p>Glancing at an <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax">overview of the syntax</a>, the declaration of a <abbr>CSS</abbr> ruleset resembles a programming data structure to some degree. Curly braces, colons, semicolons and careful use of punctuation operators is the starting point. From the onset, organization and code conventions are not only important, but mandatory for this course.</p>
    <h3>Units (of measure)</h3>
    <p>There are several <a href="https://www.w3.org/Style/Examples/007/units.en.html"><abbr>CSS</abbr> units</a>, but you really only need to get comfortable with a handful of them.</p>
    <dl>
      <dt>px (pixels)</dt>
      <dt>em</dt>
      <dd>an em is the width of a letter 'M', it is percentage based, so it is good for responsive design</dd>
      <dt>%</dt>
      <dd>Percentages are tough to get the hang of. They generally work well, and I would recommend them for widths.</dd>
      <dt>vh, vw, vmax, vmin</dt>
      <dd>A percentage of the viewport height and viewport width respectively. This is a handy one.</dd>
    </dl>
    <h3>Text Properties</h3>
    <dl>
      <dt>text-align</dt>
      <dd>Used to align left, center, right align, as well as justify text. You can only align text in block-level elements.</dd>
      <dt>text-transform</dt>
      <dd>Offers transform to upper/lowercase, can capitalize a sentence, etc.</dd>
      <dt>text-decoration</dt>
      <dd>Controls underline, line-through, overline, etc.</dd>
      <dt>text-indent</dt>
      <dd>set the indentation using a CSS unit.</dd>
    </dl>
    <h3>Font Properties</h3>
    <dl>
      <dt>font-size</dt>
      <dd>Changes the size of text in a selected element. Can use any unit.</dd>
      <dt>font-family</dt>
      <dd>Changes the typeface of an element. Specify this as a sequences of typefaces.</dd>
      <dt>font-weight</dt>
      <dd>Controls weight thin/normal/bold, or in 3 digit numbers like 200, 400, 800 (prefferred)</dd>
      <dt>font-variant</dt>
      <dd>Can add small-caps</dd>
    </dl>
  </article>
  <article>
    <h2>Javascript &amp; Programming: The briefest introduction.</h2>
    <p>Computers are essentially very complicated machines that do something very simple, and that is they turn electricity into a trove of circuits that can count very (<strong>very</strong>) fast. The fascinating thing is that there are many ways to count, in fact, an infinite number of ways.</p>

  </article>
  <article>
    <h2>Review &amp; Extra: Text, Editors, and Keyboards</h2>
    <p>In this class we are going to use <a href="https://en.wikipedia.org/wiki/Text_editor">Text Editors</a>; for those unfamiliar, we'll get farther by starting with what a text editor is not. Dreamweaver, Word, Pages, or anything that gives you an option to write anything other than monospaced, non-italicized, single-weight text is <em>not a text editor</em>. Text editors write plain text—text with the sole purpose of representing sequences of characters that make up the necessary syntax of a markup language, stylesheet language, or programming language.</p>
    <h3>Keys to successful text editing</h3>
    <ul>
      <li>Try to use the mouse less and less</li>
      <li>Learn shortcuts to jump to front and back of lines</li>
      <li>Saving a document and moving to a browser and refreshing can be a swift mouse-less motion.</li>
    </ul>
  </article>
  <article>
    <h2>References and Practice Materials</h2>
    <dl>
      <dt>A Web Development Primer</dt>
      <dd>This course, while having no pre-requisites, will move at a good clip. If you are rusty, new, or want to be really prepared, I highly (highly) suggest you spend a good chunk of time going over <a href="http://marksheet.io/introduction.html">how the web works</a>, <a href="http://marksheet.io/html-basics.html">HTML basics</a>, and <a href="http://marksheet.io/html-content.html">HTML content</a>.</dd>
      <dt>HTML Elements</dt>
      <dd>The Mozilla Developer Network has a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">comprehensive list</a> of elements—no need to memorize, <strong>absolutely spend some time reviewing this list</strong>.</dd>
      <dt>Javascript and the Browser</dt>
      <dd>Though it's <a href="http://eloquentjavascript.net/12_browser.html">Chapter 12</a> of a JavaScript Programming book, I think it serves as a perfect starting point for the level of thinking we need to engage in, and that is the notion of networks, servers, clients and protocols.</dd>
    </dl>
  </article>

  <script type="text/javascript">
    // <![CDATA[

    function takeBeanFrom(beans) {
      return beans - 1;
    }

    function giveBeanTo(beans) {
      return beans + 1;
    }

    function addBeans(my_beans, your_beans) {
      if (your_beans > 0) {
        return addBeans(giveBeanTo(my_beans), takeBeanFrom(your_beans));
      }
      return my_beans;
    }
    // ]]>
  </script>
</div>
