<div id="[$course:@id]">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Up &amp; Running</h1>
    <p class="intro m ______">The goal of every interval is to add a little bit to our repertoire, building on fundamentals week by week. After an introduction to filesystems and networks, once on a server, a website's raison d'être is to broadcast information, and that information must be marked up for a machine to parse and organize. Before focusing purely on style and aesthetic, it is important to understand the algorithm of how to begin structuring a page.</p>
  </header>
  <article>
    <h2><abbr title="hypertext markup language">HTML</abbr></h2>
    <section>
      <h3>Sectioning Blocks</h3>
      <p>section, article, aside, footer, header, nav, hgroup</p>
    </section>
  </article>
  <article>
    <h2><abbr title="Cascading Style Sheets">CSS</abbr>: Descendant Selectors and Typography</h2>
    <h3>Declaring <abbr title="Cascating Stylesheets">CSS</abbr></h3>
    <p>Glancing at an <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax">overview of the syntax</a>, the declaration of a <abbr>CSS</abbr> ruleset resembles a programming data structure to some degree. Curly braces, colons, semicolons and careful use of punctuation operators is the starting point. From the onset, organization and code conventions are not only important, but mandatory for this course.</p>
    <h3>Element Selectors and Descendants</h3>
    <h3>Typographic <abbr>CSS</abbr> selectors</h3>
    <!-- insert views/outline/_/tables/css/typography.html -->
    <h3>Units</h3>
  </article>
  <article>
    <h2>Programming: The briefest introduction.</h2>
  </article>
  <article>
    <h2>Review &amp; Extra: Text, Editors, and Keyboards</h2>
    <p>In this class we are going to use <a href="https://en.wikipedia.org/wiki/Text_editor">Text Editors</a>; for those unfamiliar, we'll get farther by starting with what a text editor is not. Dreamweaver, Word, Pages, or anything that gives you an option to write anything other than monospaced, non-italicized, single-weight text is <em>not a text editor</em>. Text editors write plain text—text with the sole purpose of representing sequences of characters that make up the necessary syntax of a markup language, stylesheet language, or programming language.</p>
    <h3>Keys to successful text editing</h3>
    <ul>
      <li>Try to use the mouse less and less</li>
      <li>Learn shortcuts to jump to front and back of lines</li>
      <li>Learn</li>
    </ul>
  </article>


  <script type="text/javascript">
    // <![CDATA[

    function takeBeanFrom(beans) {
      return beans - 1;
    }

    function giveBeanTo(beans) {
      return beans + 1;
    }

    function addBeans(my_beans, your_beans) {
      if (your_beans > 0) {
        return addBeans(giveBeanTo(my_beans), takeBeanFrom(your_beans));
      }
      return my_beans;
    }
    // ]]>
  </script>
</div>
