<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">A notion of <abbr title="Cascading Stylesheets">CSS</abbr> <q class="plain">Namespaces</q> as a means of understanding variable scope. Inserting and manipulating DOM content with events.</p>
  </header>
  <article>
    <h2>Review</h2>
  </article>
  <article class="">
    <h2>Namespaces and Scope</h2>
    http://www.w3schools.com/tags/ref_language_codes.asp
  </article>
  <article>
    <h2>Case Study: A Lightbox &amp; its Companions</h2>
  </article>
  <article>
    <dl>
      <dt>Enhancing the <abbr>DOM</abbr></dt>
      <dd>Chapter 3, <a href="https://www.lynda.com/HTML-tutorials/Changing-HTML-attributes/122462/137630-4.html?">modifying <abbr>DOM</abbr> attributes and content</a></dd>
      <dd>Chapter 4, <a href="https://www.lynda.com/HTML-tutorials/Creating-appending-nodes/122462/137638-4.html?">inserting and Deleting Nodes</a></dd>
      <dt>Objects, Functions, Scope</dt>
      <dd>More on <a href="http://hangar.runway7.net/javascript/guide">objects, functions, scopes...</a> if you’re ready, a nice article to revisit some of the finer points and untangle the language. Read lightly, this introduces techniques we don't have to get too serious about yet.</dd>

    </dl>
  </article>
</div>
