<div>
  <link rel="stylesheet" href="/css/review.css" media="screen" charset="utf-8" />
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Artiface</h1>
    <p class="intro">A notion of <abbr title="Cascading Stylesheets">CSS</abbr> <q class="plain">Namespaces</q> as a means of understanding variable scope. Inserting and manipulating DOM content with events.</p>
  </header>
  <article>
    <h2>Review</h2>
    <p class="intro">We have been discussing functions with more confidence every week. We know about declaring them, applying them, passing them undeclared to other functions <em>as callbacks</em>. You should be thinking about functions as nothing more than another type of variable; let’s revisit what variables are and what values they hold.</p>
    <p>Lest we forget, there are a handful of <em>types</em> that can represent a <em>value</em> in JavaScript. First are <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Data_structures">primitive types</a>, such as <strong>Number</strong>, <strong>String</strong>, <strong>Boolean</strong>, <strong>Null</strong> and <strong>Undefined</strong>. Then, there are <em>object-types</em>: objects are combinations of primitive types as well as other objects, and we can make an <em>object literal</em> in a fashion such as <code>var obj = {};</code>. The <strong>Array</strong> is a special case of object as is the <strong>Function</strong>—in JavaScript, a function is really just a <em>callable object</em>.</p>
    <p>Some minutia notwithstanding, <strong>there are roughly 6 things you can make in JavaScript</strong>—devising interesting combinations of them; this can loosely be called <q>programming</q></p>
    <h4 class="tt">Review the following and jot down the answers (there are 8 questions)</h4>
    <dl class="review b">
      <dt><code>Math.pow</code></dt>
      <dd>What is Math, and what is pow? Where is it declared? (<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/pow">hint</a>); Has it been applied?</dd>
      <dt><code>var ultimate_answer = 42;</code></dt>
      <dd>What is the value of our declared variable? What is it named? What is its type?</dd>
      <dt><code>var expression = Math.pow(7, 2) - 7;</code></dt>
      <dd>What is happening here? What is the value? What is the <em>type</em> of the value?</dd>
    </dl>
  </article>
  <!-- insert views/topics/tables/css-specificity.html -->
  <!-- insert views/topics/javascript/first-class-functions.html -->
  <article>
    <h2>Namespaces and Scope</h2>
    <section>
      <h3>Context-based style</h3>
      <p>Given two classes with the same name, can you conceive of a way to have them behave differently? In the beginning of our lightbox case-study, I discussed the method of using a parent element to control the visibility of a child element by adding a class to the parent.</p>
      <h4>A silly example</h4>
      <div class="comparison container whitepaper t b">
        <h4>Night/Day</h4>
        <p>Silly, yes, but note how attitude has two intirely different meanings depending on the class of a parent element. A useful feature; <em>you should employ such tactics frequently</em>.</p>
        <hr class="ruled t b" />
        <link rel="stylesheet" href="/css/examples/namespace.css" media="screen" charset="utf-8" />
        <div class="half float left">
          <pre class="prettyprint">
            <!-- review views/css/examples/namespace.css night  -->
          </pre>
          <h5 class="pad code">&lt;div class="night"&gt;<br/>  &lt;p class="attitude"&gt;...</h5>
          <div class="night">
            <p class="attitude">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="half float left">
          <pre class="prettyprint">
            <!-- review views/css/examples/namespace.css day -->
          </pre>
          <h5 class="pad code">&lt;div class="day"&gt;<br/>  &lt;p class="attitude"&gt;...</h5>
          <div class="day">
            <p class="attitude">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <h4>A practical example</h4>
      <p>Remembering the first ‘W’ in <abbr title="world wide web">www</abbr> stands for world, let's recall that in the root element of our <abbr>html</abbr> document there is an attribute named <code>lang</code>. In that attribute, we specify the two character <a href="http://www.w3schools.com/tags/ref_language_codes.asp">language code</a> of our document—typically <code>lang="en"</code> for english.</p>
      <p>Obviously there is a lot of <a href="https://en.wikipedia.org/wiki/Internationalization_and_localization">internationalization</a> that must occur to adapt applications different languages and regions, but let's start with some simple (and interesting) typographic principles. In Spanish, a question is prefixed with an inverted question mark, in Greek, a question phrase is terminated with a semi-colon. In many languages, different punctuation marks are expressed differently, many countries use <a href="https://en.wikipedia.org/wiki/Guillemet">Guillemets</a>, some subscripted apostrophes and many a combination thereof in reversed order. With that, let us begin a useful investigation of the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q">quote</a> element.</p>
      <div class="whitepaper t container">
        <aside class="note ___ float left">
          <h6>Consider a way to internationalize the quote given in the following languages. The adjacent <abbr>CSS</abbr> takes care of the default (English) version.</h6>
          <p><q lang="en">English</q></p>
          <p><q lang="fr">French</q></p>
          <p><q lang="de">German</q></p>
          <p><q lang="pl">Polish</q></p>
          <link rel="stylesheet" href="/css/examples/quotes.css" />
        </aside>
        <div class=" _______ float left">
          <pre class="prettyprint">&lt;q cite="https://goo.gl/zN7JT"&gt;Any fool can know. The point is to understand&lt;/q&gt;</pre>
          <pre class="prettyprint">
            <hr class="divider" data-before="HTML" data-after="CSS" />
            <!-- review views/css/examples/quotes.css english default -->
          </pre>
        </div>
      </div>
    </section>
    <hr class="ruled clear t b" />
    <section>
      <h3>Variable Scope</h3>
      <p>So we can stylistically determine how something looks (as will as linguistically add meaning) based on the heirarch and structure of our stylesheet. Likewise, we can (and should) be doing the same thing with our program code. Recalling <a href="http://eloquentjavascript.net/03_functions.html">Chapter 3</a> of <em>Eloquent JavaScript</em>, I mentioned that the material was a bit terse, so now we'll look a little closer.</p>
      <p>If I declare a function, it is not much different than declaring a variable. I pick out a name, and that name, gives me a way to assign and store some <em>value</em> for later use: strings, numbers, booleans, nulls, undefined, and objects (which include arrays and functins). Where that variable declaration happens and how we gain access to it falls under the canopy of <strong>variable scope</strong></p>

      <div class="whitepaper container t">
        <h4 class="clear centered">All Sorts of Scope</h4>
        <aside class="note ______ float left">
          <h5>Variables must be declared somewhere.</h5>
          <p>When you write some code a compilation process takes looks at all of your declarations and converts them to program code. The outermost layer is called <em>the global scope</em>. At right, we have declared two things and added them to the global scope, what are they?</p>
        </aside>
        <pre class="prettyprint float left ____">
          <!-- review views/javascript/examples/scope.js global  -->
        </pre>
        <hr class="clear ruled t b" />
        <aside class="note ______ float left">
          <h5>Global Scope vs. Local Scope</h5>
          <p>In the current version<sup>*</sup> of javascript, there is only one other type of scope available, called <em>local scope</em>. Local scope is created within the body of a function declaration. Spot the following: there are three variables declared, two in the global scope, one scoped to the <code>drive</code> function. The two <code>truck</code> variables share the <em>same name</em>, but they in <em>different scopes</em>, and thus, <em>different variables</em>.</p>
        </aside>
        <pre class="prettyprint ____ float left">
          <!-- review views/javascript/examples/scope.js local  -->
        </pre>
        <hr class="clear ruled t b" />
        <aside class="note ______ float left">
          <h5>Arguments and Parameters</h5>
          <p>Something we often forget about is the nature of declared arguments as a way to usurp the scope of a variable. Arguments are scoped to the function they belong. A correct way of thinking about arguments might be <code>function(var something)...</code> as we are declaring a variable to store whatever we pass in as a parameter. This is a good way of thinking about it, but never actually write var, it is a syntax error.</p>
        </aside>
        <pre class="prettyprint ____ float left">
          <!-- review views/javascript/examples/scope.js arguments  -->
        </pre>
        <hr class="clear ruled t b" />
        <aside class="note ______ float left">
          <h5>Nesting Scopes</h5>
          <p>Once again, functions are objects, and objects can contain other objects. Declaring a function is declaring a variable, and if we can declare a variable within a function, it would seem like we should be able to declare a function inside another function—and we can. The important thing to remember is that a function will always go up the scope chain, all the way to the global scope if necessary. It will stop whenever it finds a variable with the name it seeks, and if no variable can be found with that name, it will be an <em>undefined</em></p>
          <p>Spot the following: five variable declarations, three scopes. Practice spotting the difference between function <em>declaration</em> and function <em>application</em>.</p>
        </aside>
        <pre class="prettyprint ____ float left">
          <!-- review views/javascript/examples/scope.js nested  -->
        </pre>
      </div>
    </section>
  </article>
  <article id="mouse-example">
    <h2>Case Study: Mouse Trail</h2>
    <p class="intro">I have made a few <q>mouse-trails</q> that illustrate some interesting techniques. In the simplest of cases, they are really quite simple tricks.</p>
    <p>Picture a stack of 60 cards, which is really just a list, or in our parlance, an <code>array</code>. Now picture a ticking clock with 60 seconds: every second that ticks by, you pay attention to the card in the stack that corresponds to the second hand, ie. 30 seconds in, we are focusing on card 30. With that as a visual, consider the following instructions.</p>
    <ol class="whitepaper t b">
      <li>Declare an array to hold a list of Elements.</li>
      <li>Make a loop, and for each iteration, append an Element to your html document and to the previously mentioned array.</li>
      <li>Declare some css to set the style of the Elements (notably absolute positioning)</li>
      <li>Set up an event listener to track mouse movement; first parameter is 'mousemove', second parameter is a <em>callback</em> function.</li>
      <li>Set a variable to keep count of our cycle—make sure the variable is outside of your callback; this is a scope issue.</li>
      <li>Whenever your callback fires, update your counter variable by one</li>
      <li>Take count % total length to know you which element to update (this is <a href="https://en.wikipedia.org/wiki/Modular_arithmetic">modular arithmetic</a>)</li>
      <li>count % total will give you an integer, use that integer to grab an element of the list of elements (<code>array[int]</code>)</li>
      <li>your callback should have an event object: use some of the properties it provides to find where the mouse was when the event fired</li>
      <li>using your element from number 7 set the <code>left</code> property to the x coordinate, and the <code>top</code> property to the y property.</li>
    </ol>
    <style media="screen">
      .mouse-trail {
        padding: 0;
        list-style-type: none;
      }

      .mouse-trail li {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.25);
      }
    </style>
    <script type="text/javascript">
      bloc.embed('/javascript/examples/assigned/mouse-trail.js');
      bloc.init('mouse', function() {
        document.querySelector('#mouse-example').addEventListener('click', function(evt) {
          createTrail(25, this);
        });

      });
    </script>
  </article>
  <article>
    <h2>Reference and Practice Material</h2>
    <dl>
      <dt>Enhancing the <abbr>DOM</abbr></dt>
      <dd>Chapter 3, <a href="https://www.lynda.com/HTML-tutorials/Changing-HTML-attributes/122462/137630-4.html?">modifying <abbr>DOM</abbr> attributes and content</a></dd>
      <dd>Chapter 4, <a href="https://www.lynda.com/HTML-tutorials/Creating-appending-nodes/122462/137638-4.html?">inserting and Deleting Nodes</a></dd>
      <dt>Objects, Functions, Scope</dt>
      <dd>Chapter 3 of Eloquent JavaScript introduces </dd>
      <dd>More on <a href="http://hangar.runway7.net/javascript/guide">objects, functions, scopes...</a> if you’re ready, a nice article to revisit some of the finer points and untangle the language. Read lightly, this introduces techniques we don't have to get too serious about yet.</dd>
    </dl>
  </article>
</div>
