<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/shark-head.png]" class="float left __" style="margin-top:3em;"/>
    <h1 class="massive">Challenges</h1>
  </header>
  <aside class="review margins">
    <h3>Preamble</h3>
    <p>We often take classes in a foreign language, though few of us learn to speak that language fluently. Even fewer learn to <em>express their unique ideas</em> articulately in another language. In this course, instead of, say, Romance languages, we are interested in programming languages, and the dialogue is not between helpful friendly humans, but with cold, calculating machines.</p>
    <p>I chose the book <cite>Eloquent JavaScript</cite> not because it is the easiest or best at telling you exactly how to do some specific thing, but because it is a thoughtful book that is worth reading.  The author—Marijn Haverbeke—writes in a way that respects the reader by not treating the language as a recipe for tasks but as fundamental processes that can be combined into bigger and bigger ideas. This puts a lot of the learning into the hands of an individual, which is always a challenge, but also worthwhile. Talking about the language this way is beneficial for a majority of students, even those who do not intend to become professional developers.</p>
    <blockquote cite="http://eloquentjavascript.net/00_intro.html" class="t b">
      <p style="font-size:3em;line-height:1.25;"><q>Programming, it turns out, is hard. The fundamental rules are typically simple and clear. But programs built on top of these rules tend to become complex enough to introduce their own rules and complexity. You’re building your own maze, in a way, and you might just get lost in it.</q></p>
      <p class="rag-left">—Marijn Haverbeke</p>
    </blockquote>
    <p>I want to stress a fundamental point, and it's a long standing goal for this course: leave evidence of practice. Anyone who has practiced a musical instrument knows that there are pretty simple rules for getting a noise to come out, yet producing melody takes a lot of noise-making. Writing your own melody is a massive leap. This is not something to neglect—show you can <q>play the notes</q> and this class might lead to a meaningful tune someday.</p>
    <hr />
    <p><b class="caps">Today</b>, spend the first half of class (re)reading <a href="http://eloquentjavascript.net/02_program_structure.html">Chapter Two on  Program Structure</a>. I want you to attempt the <em>Looping a triangle</em> and <em>FizzBuzz</em> programs. In the second half—if we have time—we will go over one of the examples from <a href="http://eloquentjavascript.net/14_event.html">Chapter 14 on Events</a>—that allow us to play with keyboards or mouse movement. If you have already done any of these programs, try writing them again in a different way.</p>
  </aside>
  

  
  <!-- insert views/topics/studies/mouse-trail.html -->
  <!-- insert views/topics/studies/censored-keyboard.html -->

  <footer id="reference-and-practice">
    <h2>Reference and Practice Material</h2>
    <p>Read Chapter 4, titled <a href="http://eloquentjavascript.net/04_data.html">Data Structures: Objects and Arrays</a> in <cite>Eloquent JavaScript</cite></p>
    <!-- insert views/topics/studies/examples.html -->
  </footer>
</div>
