<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Learning about forms, input and  data. Introduction to timing with intervals and
timeouts and dates</p>
  </header>
  <article>
    <h2>Review</h2>
  </article>
  <article>
    <h2>Data &amp; The <code>&lt;input&gt;</code> element</h2>
    <p>I planned on talking about this in this course, but I’m going to make this stuff self directed.</p>
    https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms
    <ul>
      <li>text</li>
      <li>range</li>
      <li>color picker input</li>
    </ul>
  </article>
  <article>
    <dl>
      <dt>Working with JSON</dt>
      <dd>Chapter 1 of this Lynda.com video series. <a href="http://www.lynda.com/JavaScript-tutorials/Debugging-JavaScript-objects-your-browser/114901/125766-4.html?srchtrk=index%3a1%0alinktypeid%3a2%0aq%3ajavascript%0apage%3a1%0as%3arelevance%0asa%3atrue%0aproducttypeid%3a2"></a></dd>
      <dt>Forms</dt>
      <dd><a href="https://www.lynda.com/CSS-tutorials/Design-Web-Styling-Form-Elements/424047-2.html">Styling Forms</a></dd>
    </dl>
  </article>
</div>
