<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Routine</h1>
    <p class="intro">Event Minutia, Introduction to timing with intervals and
timeouts, Intro to 3rd party Libraries (API’s).</p>
  </header>
  <article>
    <h2>Review</h2>
    <p>Last week we looked at input elements, finished our lightbox case-study and covered <abbr title="JavaScript Object Notation with Padding">JSONp</abbr> as a means to embedding data on your page.</p>
  </article>

  <article>
    <h2>Intervals and Timeouts</h2>
    <p><a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/setTimeout">Window Timers</a> are a mechanism in JavaScript that allow you to delay or repeat the application of bits of code. Conceptually, it shouldn't bend the mind too much to learn that these efforts require the use of <em>callbacks</em>, that is, functions passed to another function, with the other function determining <em>when to apply the callback</em>. We understand the motivation behind this from our experience with <strong>Event Listeners</strong>; they employ the same principles of <a href="https://en.wikipedia.org/wiki/Asynchrony_(computer_programming)">asynchrony</a>.</p>
    <section class="whitepaper container t b">
      <aside class="_____ note float left">
        <h5>Setting a timeout.</h5>
        <p>The button below has an event listener applied, and that listener will set the timeout you see to the right. When clicked, the button will set two timeouts. The first will display an alert message in 1 second, the second will reset the html to a the initial state before the click.</p>
        <p><strong>Note:</strong> timeouts are set in milliseconds, so 1000 milliseconds is equal to 1 second.</p>
        <button type="button" onclick="timers.basic(this)">I am slow..</button>
      </aside>
      <pre class="prettyprint _____ float left">
        <!-- review views/javascript/examples/timing.js basic timeout -->
      </pre>
      <hr class="clear ruled t b"/>
      <aside class="_____ note float left">
        <h5>Setting an interval.</h5>
        <p>The most obvious analogy one can draw to an interval is a clock. So obvious in fact, that we get lost in the nature of what an <em>intervals</em> explain concepts in mathematics, music, and cartesian space. They give means to understand phenomena that occurs on a continuum through finite analysis, and any explanation of color, time and distance cannot avoid such analysis.</p>
        <p id="color" class="notate">The script adjacent employs an interval combined with a transition in css. Recall our modulus operator can explain an interval. The <abbr title="Cascading Stylesheet">CSS</abbr> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">hsl color</a> property describes color value along a <a href="https://en.wikipedia.org/wiki/HSL_and_HSV">cylindrical coordinate</a>. Circles, loops, timers, color: <strong>they can all be merged conceptually as intervals.</strong></p>
      </aside>
      <pre class="prettyprint _____ float left">
        <!-- review views/javascript/examples/timing.js basic interval -->
      </pre>
      <hr class="clear ruled t b"/>
      <aside class="_____ note float left">
        <h5>Clearing timeouts and intervals.</h5>
        <p>When applying a <code>setTimeout</code> or <code>setInterval</code>, you must be concerned with one other facet, and that is how to stop them. Using the <em>focus</em> and <em>blur</em> events of the <code>textarea</code> below you can see a simple typewrite effect in action. When calling setTimeout, it will return an integer representing the timeou ID. You can pass that id to a function called <code>clearTimeout</code> and it will cancel your callback from executing.</p>
        <textarea name="limerick" class="code" style="width:100%;height:10em;font-size:2em;line-height:1.25;border:1px solid rgba(0,0,0,0.1)" spellcheck="false">
          <!-- preview views/_draft/limerick.txt 1..100 -->
        </textarea>
        <p>You may notice some new stuff: I introduce some string functions that let you slice apart a string, as well as a cryptic looking <em>regular expression</em> that I use to give an extra pause whenever the last word typed is capitalized or a non-word character. Simple tricks like this can be used to give programs <q>human</q> feel.</p>
      </aside>
      <pre class="prettyprint _____ float left">
        <!-- review views/javascript/examples/timing.js clearing timers -->
      </pre>
    </section>
    <script type="text/javascript">
      bloc.embed('/javascript/examples/timing.js');
      bloc.init('intervals', function() {
        timers.interval();
        timers.typewriter();
      });
    </script>
  </article>

  <!-- bubble-capture.html -->
  <article>
    <h2>Bubbling and Delegation</h2>
    <p class="intro">Now that we are well along in our semester, some of you may find it useful to understand event bubbling and more importantly, a concept known as <strong>event delegation</strong>. Even if not immediatly relevant, event delegation is a great introduction to the concept of <a href="https://en.wikipedia.org/wiki/Design_pattern">design patterns</a>.</p>
    <p>Paraphrased, a design pattern is <q>the reusable form of a solution to a design problem.</q> Often when engaged with large-scale design and programming projects, you can break big challenges into smaller, familiar sets of premises. One such premise in interactive design is the presentation visual matrix, or grid of elements that you would like to interact with, such as a gallery or sequencing/matching game.</p>

    <div class="dropcap indented three columns tt bb">
      <h4 class="t">Bubbling vs. Capturing</h4>
      <p>If you have been keeping up with the documentation on Event Listeners, you will have undoubtetly run across the notion of event <q>bubbling</q>. By now, because I have been an agressive proponent of <code>addEventListener</code> over all other techniques, I can begin to explain the concept. As we know, elements are children of other elements, and <em>any</em> element can have an event listener applied (or many event listeners for that matter). At some point, it becomes a concern where a parent element and a child element both have an event listener applied, and we need to know which will fire first—programming is anything but arbitrary. When an event is <em>bubbled</em>, it applies to the innermost element first, ending at the outermost element last, and <em>capturing</em> is the reverse of this. In practice, you rarely never specify capturing, as by default, events bubble. As long as that is understood, one can begin to do interesting things.</p>
      <p><em>Event delegation</em> is one such thing you can do with the event bubble. Going back to our gallery example, if we were careful about our structure, we should probably have put our images in a container.</p>
    </div>
    <p>Here is <a href="http://javascript.info/tutorial/event-delegation">a tutorial on event delegation</a>.</p>
  </article>
</div>
