<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/clock-diagram.png]" style="mix-blend-mode: multiply;shape-outside:circle(50%);" class="tt ___ float left"/>
    <h1 class="massive">Routine</h1>
    <p class="intro">A distinguishing feature of interactive design (IxD) is controlling notions of <q>when</q> and <q>how often.</q> Here is an introduction to timing with intervals and
timeouts.</p>
  </header>
  <aside>
    <h3>Review</h3>
    <p>Last week we looked at Web Servers. This week we will mostly be practicing and working out examples.</p>
  </aside>
  <!-- insert views/topics/javascript/intervals-and-timeouts.html -->
  <!-- insert views/topics/javascript/bubble-capture.html -->
  <!-- insert views/topics/stylesheets/flexbox.html -->
  <!-- insert views/topics/studies/dom-cut-and-paste.html -->
  <footer id="reference-and-practice">
    <h2>Reference and Practice Material</h2>
    <dl>
      <dt>Flexbox</dt>
      <dd>A <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS tricks guide</a> to flexbox</dd>
      <dd>A lynda.com series of <a href="https://www.lynda.com/CSS-tutorials/CSS-Flexbox-First-Look/116352-2.html">flexbox basics</a>—please note, technology is dated very quickly, and wherever you see <a href="https://developer.mozilla.org/en-US/docs/Glossary/Vendor_Prefix">vendor prefixes</a> used in regards to flexbox you should realize that the material may be stale.</dd>
      <dd>And of course, the Mozilla Developer Network page on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes">using CSS Flexible Boxes</a></dd>
    </dl>
  </footer>
</div>
