<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Intro to frameworks: DOM manipulation, drawing, programming, and other areas.</p>
  </header>
  <article>
    <h2>Frameworks</h2>
    <p>Using frameworks falls into some distinct patterns—I realize this may be insulting, but it’s really quite accurate.</p>
    <ol>
      <li>You don’t have time</li>
      <li>You don’t know how</li>
      <li>Probably Both</li>
    </ol>
    <p>The truth is that there is no shame in this, oftent we are just too proud to admit we don’t know everything (oddly, we have no trouble admiting we don’t have the time [though that’s often less true]). There are always problems that are difficult to solve and others have already solved in some fashion. Given plenty of experience and time, frameworks are nothing more than convenient; but without those two factors, they are quite necessary.</p>
    <p>There was a point in JavaScript development where different browsers implemented the <abbr title="document object model">DOM</abbr> differently—it was so ugly that you had either had to spend all your time fixing bugs or use a framework that did it for you. One such framework called jQuery, and it still lives on, despite arguments springing up that it it unnecessary. And this is a caveat I'd mention; when a framework prevents you from expanding your perspective, it is an awkward tool. Like a crutch that alleviates an ailment, it won't provide an advantage over someone who can function without one.</p>
    <p>This is an important point I make: we should use frameworks often, and enjoy using them, but take to heart, in a best case world, you write your own code. Take a humble moment every now and then to remember that and let it push your design and your curiosity forward.</p>
    <!--
    a potential svg project/processing
    https://www.khanacademy.org/computer-programming/how-to-read-documentation/1239335119
    -->
  </article>
  <article>
    <h2>Review</h2>
  </article>
</div>
