<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/butterflies.png]" class="float left ___" style="mix-blend-mode: multiply;margin:2em 5em 0 -1em;shape-outside:circle(50%)"/>
    <h1 class="massive">Taxonomy</h1>
    <p class="m intro">Introducing our next markup topic where we actually begin to name things ourselves and start our first introduction to seeing an actual simple programming in JavaScript.</p>
  </header>
  <aside>
    <h3>Review/Questions</h3>
    <p>Last Week we went over structure and outlining and introduced type and descendant selectors in <abbr>CSS</abbr>. We are becoming comfortable the web development workflow and tools.</p>
  </aside>
  <!-- insert views/topics/concepts/computability.html -->
  <!-- insert views/topics/concepts/keyboards.html -->
  <!-- insert views/topics/markup/attributes.html -->
  <article>
    <h2>Grouping Elements</h2>
    <!-- insert views/topics/tables/html/grouping-content.html -->
  </article>
  <!-- insert views/topics/studies/resume.html -->
  <!-- insert views/topics/stylesheets/length-units.html -->
  <!-- insert views/topics/stylesheets/class-and-id-selectors.html -->
  <!-- insert views/topics/perspective/naming-conventions.html  -->
  <article>
    <h2>In Class Work</h2>
    <p>Use some time to play with the résumé  provided, and make sure you are able to do the implement and understand:</p>
    <ul class="stylized star t">
      <li>add multiple classes to one element</li>
      <li>use a type selector with a class</li>
      <li>use descendant selectors (class and type)</li>
      <li>use types, classes, and descendent selectors all together</li>
    </ul>
  </article>
  
  <footer id="reference-and-practice" class="margins">
    <h3>Reference &amp; Practice Material</h3>
    <p>In your <abbr>CSS</abbr> book, give <strong>chapter three</strong> a solid read and make yourself aware of <strong>Appendix A</strong>, especially regarding length and size units. Read <strong>chapter two</strong> of the <abbr>html5</abbr> manual.</p>
    <p>Concerning JavaScript, programming is painfully abstract to many people. So before we go down that road, watch Brett Victor give this fascinating presentation titled <cite><a href="https://vimeo.com/36579366">Inventing on Principle</a></cite>. His primary thesis is that programming tools aren't very good at showing the meaning behind programming. Even though this is <em>not</em> how programming works, I think it will be good to see what manipulating odd syntax can do.</p>
  </footer>
</div>
