<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/butterflies.png]" class="float left ___" style="mix-blend-mode: multiply;margin:2em 5em 0 -1em;shape-outside:circle(50%)"/>
    <h1 class="massive">Taxonomy</h1>
    <p class="m intro">Introducing our next markup topic where we actually begin to name things ourselves and start our first introduction to seeing an actual simple programming in JavaScript.</p>
  </header>
  <aside class="pulled review">
    <h3>Review/Questions</h3>
    <p>Last Week we went over structure and outlining and introduced type and descendant selectors in <abbr>CSS</abbr>. We are becoming comfortable the web development workflow and tools.</p>
    <h3>Essential Keyboard Shortcuts</h3>
    <p>You should have observed me using command+arrow keys to jump around my source-code editor. You know that holding shift down while doing this will select text. If you are not aware of any of this stuff yet remember to ask me, a peer, or research it on your own—this is the convenient stuff that will make your life easier!</p>
      <p>Over the last few weeks you've spent some time writing markup and indenting and organizing. Taking it a step further, let’s investigate ways we can <strong>indent a bunch of lines at once</strong> and talk about commenting <strong>commenting</strong>.</p>
    <h3>Macros</h3>
    <p>There are many things a text editor can do to optimize your workflow—depending on the text editor of course. Many editors have something called a like adding packages and modifying snippits, setting preferences and tiding things up. None of these are a total replacement for being organized and thoughtful, but they can make repetitive or arduous tasks much more convenient.</p>
  </aside>
  <article>
    <h2>Groups</h2>
    <p class="intro">It is often necessary to distinguish singular ideas into larger groups. <q>Buy Avocados</q> given the proper context probably lives inside a shopping list, inside a memo pad, perhaps on a magnet on a refrigerator, in our apartment. We group elements to give them context in order to add semantic meaning. Properly grouped elements also make application of stylesheets more elegant.</p>
    <!-- insert views/topics/tables/html/grouping-content.html -->
  </article>
  
  <!-- insert views/topics/stylesheets/length-units.html -->
  <!-- insert views/topics/stylesheets/class-and-id-selectors.html -->
  <!-- insert views/topics/perspective/naming-conventions.html  -->
  <!-- insert views/topics/studies/outlining.html -->
  
  <footer id="reference-and-practice" class="margins">
    <h3>Reference &amp; Practice Material</h3>
    <p>In your <abbr>CSS</abbr> book, give <strong>chapter three</strong> a solid read and make yourself aware of <strong>Appendix A</strong>, especially regarding length and size units. Read <strong>chapter two</strong> of the <abbr>html5</abbr> manual.</p>
    <p>Concerning JavaScript, programming is painfully abstract to many people. So before we go down that road, watch Brett Victor give this fascinating presentation titled <cite><a href="https://vimeo.com/36579366">Inventing on Principle</a></cite>. His primary thesis is that programming tools aren't very good at showing the meaning behind programming. Even though this is <em>not</em> how programming works, I think it will be good to see what manipulating odd syntax can do.</p>
  </footer>
</div>
