<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Accuracy</h1>
    <p class="m intro">Without further delay, I think it’s important to briefly introduce our next HTML and CSS topic, release you to some self-guided exploration, and start our introduction to world of programming.</p>
  </header>
  <article>
    <h2>Review/Questions</h2>
    <p>Last Week we went over structure and outlining and introduced element selectors in CSS. We are becoming more familiar with the web development workflow and tools.</p>
  </article>
  <article class="indented">
    <h2>Classes, IDs, and pseudo classes</h2>
    <p>Now that we are familiar with element selectors and HTML outlining structure, we take our first step towards naming things. Classes and IDs are added as <a href="https://en.wikipedia.org/wiki/HTML_attribute">attributes</a> to HTML Elements. Attributes are keywords followed by an = sign and a quoted string of text.</p>
    <p>Adding classes to elements is the most powerful way to style a document. Adding IDs is less important for styling and more important for targeting a unique (that means only one) element—which is especially useful in JavaScript and XML. <a href="http://www.w3schools.com/css/css_pseudo_classes.asp">Pseudo-classes</a> are ways to style transient states, such as a user hovering over an element with <code>:hover</code>, or an element’s position in the hierarchy with <code>:first-child</code> They are called pseudo because you don’t add them, the browser kind of adds them for you when necessary.</p>
    <p>With <strong>well structured HTML</strong>, you need fewer elements to accomplish an elegant design through CSS—as opposed to sloppy HTML that mandates too many classes/ids and other selectors, and the less you write, the easier it is to maintain code. Some general rules of thumb that I think works great: if your CSS class doesn’t seem like it could apply to more than one element, you should rethink your approach. If your ID seems like it could apply to several things, you should rethink your approach. Lastly, I think you should steer clear of ID selectors for CSS, only use them to add meaning, uniqueness, and specificity to your markup.</p>
    <section class="comparison container">
      <pre class="prettyprint half float left lang-css">
        <!-- preview views/student/structure/tags.html 5..17 -->
      </pre>
      <pre class="prettyprint half float left lang-html">
        <!-- preview views/student/structure/tags.html 20..32 -->
      </pre>
    </section>
    <p>You can <a href="/student/structure/tags.html">open this file</a> to see what is happening. And don’t forget to inspect and view source!</p>
  </article>
  <!-- insert views/topics/perspective/naming-conventions.html  -->
  <article>
    <h2>JavaScript in the Browser</h2>
    <p>The browser console is yet again an amazing asset when it comes to authoring JavaScript. Many A-grade browsers have them, but for consistency in this course, I’ll be using <a href="https://developers.google.com/web/tools/chrome-devtools/debug/console/console-ui">Chrome’s</a> and suggest you do the same.</p>
  </article>
</div>
