<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/hand.jpg]" class="float left __" style="mix-blend-mode:multiply;margin:0 2.5em;"/>
    <h1 class="massive">Explanations</h1>
    <p class="intro">It is no small feat to articulate ideas—luckily it has been going on long enough that there is plenty of advice for the taking.</p>
  </header>
  <aside class="pulled review">
    <h3>Review</h3>
    <p>Last week we went over classes and ID’s, naming conventions and you began an introduction to programming. Because they are so important, we are going to continue the work started last week and investigate further applications of stylesheets to structured data. Before all that, I want to introduce some <a href="#import-of-counting">brain melting</a> material and give everyone a conceptual taste of programming.</p>
    <p>A preliminary discussion of the box-model is on the docket; with it is a push towards understanding the facilities of background images and a careful examination of units and how you <a href="https://gist.github.com/brendanmetzger/4cc5badd8dd0236cc24b9a8ded307df4">can visualize them carefully.</a></p>
  </aside>
  <!-- insert views/topics/markup/semantic-markup.html -->
  <!-- insert views/topics/markup/attributes.html -->
  <!-- insert views/topics/markup/media.html -->
  <!-- insert views/topics/stylesheets/color-units.html -->
  <!-- insert views/topics/concepts/control-statements.html -->
  <!-- insert views/topics/concepts/computability.html -->
  <footer id="reference-and-practice">
    <h3>Reference &amp; Practice Material</h3>
    <blockquote class="centered">
      <p><q>If you do not appreciate reading, consider what spending <a href="http://www.colum.edu/student-financial-services/create-a-plan/calculate-your-costs/tuition-and-fees/2016-2017/tuition-and-fees-2016-2017.php">$24k</a> on travel, beer and movies would get you.</q></p>
      <p><cite>- Richard Blueberry</cite></p>
    </blockquote>
    <p>In your <cite><abbr>CSS</abbr></cite> book you are extremely familiar with <strong>Appendix A</strong>. Do not stop there, you must be intimately aware of how much you can do with graphics, so read <strong>chapter eight</strong>. Skim <strong>chapter three</strong> and <strong>chapter five</strong> of the <cite><abbr>html5</abbr></cite> book.</p>
    <p>Concerning JavaScript, programming is painfully abstract to many people. So before we go down that road, watch Brett Victor give this fascinating presentation titled <cite><a href="https://vimeo.com/36579366">Inventing on Principle</a></cite>. His primary thesis is that programming tools aren't very good at showing the meaning behind programming. Even though this is <em>not</em> how programming works, I think it will be good to see what manipulating odd syntax can do.</p>
  </footer>
</div>
