<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/hand.jpg]" class="float left __" style="mix-blend-mode:multiply;margin:0 2.5em;"/>
    <h1 class="massive">Explanations</h1>
    <p class="intro">It is no small feat to articulate ideas—luckily it has been going on long enough that there is plenty of advice for the taking.</p>
  </header>
  <aside class="pulled review">
    <h3>Review</h3>
    <p>Last week we went over classes and ID’s, naming conventions and you began an introduction to programming. Because they are so important, we are going to open up the resumé from last week and cover classes and ids some more, as well as go over the concept of a jump-nav</p>
  </aside>
  <!-- insert views/topics/markup/semantic-markup.html -->
  <!-- insert views/topics/markup/attributes.html -->
  <!-- insert views/topics/markup/media.html -->
  <!-- insert views/topics/stylesheets/color-units.html -->
  <!-- insert views/topics/concepts/control-statements.html -->
  <!-- insert views/topics/concepts/computability.html -->
  <footer id="reference-and-practice">
    <h3>Reference &amp; Practice Material</h3>
    <p>In your <cite><abbr>CSS</abbr></cite> book you are extremely familiar with <strong>Appendix A</strong>. Do not stop there, you must be intimately aware of how much you can do with graphics, so read <strong>chapter eight</strong>. Skim <strong>chapter three</strong> and <strong>chapter five</strong> of the <cite><abbr>html5</abbr></cite> book.</p>
    <p>Concerning JavaScript, programming is painfully abstract to many people. So before we go down that road, watch Brett Victor give this fascinating presentation titled <cite><a href="https://vimeo.com/36579366">Inventing on Principle</a></cite>. His primary thesis is that programming tools aren't very good at showing the meaning behind programming. Even though this is <em>not</em> how programming works, I think it will be good to see what manipulating odd syntax can do.</p>
  </footer>
</div>
