<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/container.png]" class="float left __" style="mix-blend-mode:multiply;margin:0 2.5em;"/>
    <h1 class="massive">Containers</h1>
    <p class="intro">An introduction to JavaScript Objects and Arrays, and the dot operator. Intro to <abbr>css</abbr> positioning and careful study of the box-model.</p>
  </header>
  <aside class="pulled review">
    <h3>Review</h3>
    <p>To be continued.</p>
  </aside>
  <!-- insert views/topics/javascript/timekeeping.html -->
  <!-- insert views/topics/design/box-model.html -->
  <!-- insert views/topics/design/layout-modes.html -->
  <!-- insert views/topics/stylesheets/combinators.html -->
  <footer  id="reference-and-practice" class="margins">
    <h3>Reference &amp; Practice Materials</h3>
    <p><strong>Chapter seven</strong> of the <cite><abbr>CSS</abbr></cite> book is to be read intimately, because the box-model is not to be misunderstood. There are so many <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model">write-ups</a> of the box-model. Some are <a href="http://adamschwartz.co/magic-of-css/chapters/1-the-box/">pretty</a>, but they all pretty much say <a  href="https://css-tricks.com/the-css-box-model/">the same thing</a>. Get the drift. All this is to say, we are on the precipice of having all of the tools necessary to <a href="http://learnlayout.com/no-layout.html">learn layout</a>—that is an easy click-through tutorial—check it out.</p>
    <p>For a dose of perspective on how why we should try as hard as ever, here is a <cite>Freakonomics</cite> podcast titled <a href="http://freakonomics.com/podcast/internet/">Is the Internet Being Ruined?</a></p>
  </footer>
  <!-- insert views/topics/commentary/absolute-beginning.html -->
</div>
