<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Containers</h1>
    <p class="intro">An introduction to JavaScript Objects and Arrays, and the dot operator. Intro to <abbr>css</abbr> positioning and further study of the box-model.</p>
  </header>
  <aside class="margins indented">
    <h3>Review</h3>
    <p>Last week we covered class combinators and color, went over block vs inline vs. inline block once again and as well as introduced a bit of boolean logic.</p>
    <p>At this point in the semester, I have introduced the topics that I consider requisite and will spend less time revisiting and you’ll research and fill in the pieces as we go. We now know about the browser console, keeping it open while we develop. You know that HTML has a structure, and you are aware that careful indentation gives you a visual aid to interpret and see this structure. You are aware that there are semantic tags for to describe content and those tags have meaning.</p>
  </aside>
  <!-- insert views/topics/javascript/data-storage.html -->
  <!-- insert views/topics/design/box-model.html -->
  <!-- insert views/topics/design/layout-modes.html -->
  <footer  id="reference-and-practice">
    <h2>References and Practice Materials</h2>
    <p class="intro">Here is the list of <a href="http://iam.colum.edu/brendan.metzger/vids/">previous lectures</a> that are available to watch. Here is <a href="/outline/resources/business-site.txt">the markup</a> I used for in class examples.</p>
    <dl>
      <dt>Revisit</dt>
      <dd><abbr title="Cascading Style Sheets">CSS</abbr> needs to start looking familiar at this point—especially regarding the syntax. If you are still foggy, here is <a href="http://htmldog.com/guides/css/beginner/">a beginner tutorial</a>. Go through the entire thing and believe it or not, it will hit on the box model.</dd>
      <dt>The <abbr>CSS</abbr> Box Model</dt>
      <dd>The <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model">Introduction to the <abbr>CSS</abbr> box model</a> provided by the Mozilla Developer Network</dd>
      <dd>It’s hard not to wind up on a website called CSS tricks, but they have a <a  href="https://css-tricks.com/the-css-box-model/">box model write up as well</a></dd>
      <dd>Yet another well designed writeup on the box-model from <a href="http://adamschwartz.co/magic-of-css/chapters/1-the-box/">the magic of CSS</a>.</dd>
      <dd>The overflow property is one you ought to understand when it comes to controlling the behavior of things that are too big for their container. We will hit on this in the coming weeks, but here is a <a href="https://css-tricks.com/the-css-overflow-property/">good article</a> to get you started.</dd>
      <dd>The more concise version of the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/overflow">overflow property</a></dd>
      <dt>Tutorials</dt>
      <dd>I mentioned above this tutorial called <a href="http://learnlayout.com/">learn layout</a>; you should note something called <q>vendor prefixes</q> used on the <code>border-box</code>; these are <a class="discuss" href="http://caniuse.com/#feat=css3-boxsizing">unnecessary</a></dd>
      <dd>If you prefer to watch, Lynda has a series called <a href="http://www.lynda.com/CSS-tutorials/Displaying-information-through-web/372544/419397-4.html">displaying Information through the web</a>.</dd>
      <dt>JavaScript</dt>
      <dd>The last two outlines have the intro to programming videos: last week to have those under your belt before we begin covering that material in depth.</dd>
      <dd>Read <a href="http://eloquentjavascript.net/12_browser.html">JavaScript and the Browser</a> from the book <em>Eloquent JavaScript</em></dd>
    </dl>
  </footer>
</div>
