<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Objects &amp; Models</h1>
    <p class="intro">Coming up an introduction to the <em>Document Object Model</em> as seen by <abbr>html</abbr>, <abbr title="Cascading Stylesheets">css</abbr> and JavaScript. Media Queries, and key components and principles of responsive design will be introduced. In class we will go over a new example  starting with a media query, then utilizing <code>float</code> to attain a layout, explore <code>vmax</code> and <code>vmin</code> more carefully, introduce the <code>overflow</code> property.</p>
  </header>
  <aside>
    <h3>Review</h3>
    <p>Last week you spent time learning about the box model and some of the quirks involved. JavaScript types, including arrays and objects were introduced. Look at the warm up exercises below, and given some time, I will demonstrate some solutions at the end of class.</p>
    <ul>
      <li>Warm up: <a href="http://codepen.io/brendanmetzger/pen/RGyNva?editors=1100#0">refactor this <abbr>html</abbr></a> to be less redundant.</li>
      <li>Warm up: <a href="http://codepen.io/brendanmetzger/pen/zKjGBg/?editors=1100#0">refactor this to remove <code>&lt;br/&gt;</code> tag</a></li>
    </ul>
  </aside>
  <!-- insert views/topics/stylesheets/pseudo-classes.html -->
  <!-- insert views/topics/design/document-object-model.html -->
  <!-- insert views/topics/design/responsive-techniques.html -->
  <footer id="reference-and-practice">
    <h3>Reference &amp; Practice Material</h3>
    <p>I prefer to read about programming—using syntax to learn syntax, you can bookmark, reread passages as you need. Read <a href="http://eloquentjavascript.net/01_values.html">Values, Types, and Operators</a> and <a href="http://eloquentjavascript.net/02_program_structure.html">program structure</a> from <cite>Eloquent JavasScript</cite> (book available if you like tangible things). </p>
  </footer>
</div>
