<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="[$cdn/media/images/skeleton.png]" class="float left __" style="mix-blend-mode:multiply;margin:5em 1em 0 0;"/>
    <h1 class="massive">Objects &amp; Models</h1>
    <p class="intro">An introduction to the <em>Document Object Model</em>, then media queries, and key components and principles of responsive design will be introduced. In class we will go over a new example  starting with a media query, then utilizing <code>float</code> to attain a layout and explore <code>vmax</code> and <code>vmin</code> more carefully.</p>
  </header>
  <aside class="pulled review">
    <h3>Review</h3>
    <p>Last week you spent time learning about the box model and some of the quirks involved. JavaScript types, including arrays and objects were introduced. Look at the warm up exercises below, and given some time, I will demonstrate some solutions at the end of class.</p>
    <p>With 1/3 of the semester over, you have a solid start on one project and ideas taking shape on several others. Use the new techniques introduced every week to address shortcomings of the code delivered thus far.</p>
    <ul class="stylized star tt">
      <li>Warm up: <a href="http://jsbin.com/wusukih/edit?html,css,output">refactor this</a>  to remove <code>&lt;br/&gt;</code> elements and add other semantic features</li>
      <li>Warm up: <a href="http://jsbin.com/sigopofunu/edit?html,css,output">refactor this <abbr>html</abbr></a> to be less redundant</li>
      <li>Once you have read over <a href="#pseudo-classes">pseudo classes below</a> you can have a leg up on finishing <a href="http://jsbin.com/cekivoq/edit?css,output">this flipboard-logo design exercise</a></li>

    </ul>
  </aside>
  <!-- insert views/topics/stylesheets/pseudo-classes.html -->
  <!-- insert views/topics/javascript/data-storage.html -->
  <!-- insert views/topics/design/document-object-model.html -->
  <footer id="reference-and-practice" class="margins">
    <h3>Reference &amp; Practice Material</h3>
    <p>At this point in the semester, it's time to get a little more serious about JavaScript. Personally, I've always done better reading about programming rather than watching tutorials because I can bookmark, reread, and consult appendices. Read <a href="http://eloquentjavascript.net/01_values.html">Values, Types, and Operators</a> from <cite>Eloquent JavasScript</cite> (which you can purchase if you like tangible things, otherwise the entire book is available online).</p>
    <p>At over a third of the way through the semester you should be developing the basic tools to control layout. Last week, <strong>Chapter 12</strong> of the <cite><abbr>css</abbr> manual</cite> was an introduction to layouts; by this point you have all the skills necessary to routinely apply the methods of <strong>Chapter 13</strong>, <i>Building Float-Based Layouts</i></p>
  </footer>
</div>
