<div>
  <link rel="stylesheet" href="/css/examples/transitions.css"/>
  <script type="text/javascript">bloc.embed('/javascript/examples/dom.js');</script>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Razzle Dazzle</h1>
    <p class="intro"><abbr title="Hypertext Markup Language">html</abbr> Attributes, CSS Transitions, Intro to DOM programming and manipulation</p>
  </header>
  <article id="review">
    <h2>Review</h2>
    <p>Last week we went over the media queries and introduced what modeling a document looks like.</p>
  </article>
  <article>
    <h2>Transitions and Transforms</h2>
    <section class="dropcap indented three columns">
      <p>Other than the initial five letters, transitions and transforms have little to do with one another. The reason they might be good to learn at the same time is that potential confusion could arise if you happened to let google auto-suggest take the reins; <q>How do I... CSS... Trans...</q> could send you down the wrong path.</p>
      <p>From the W3C spec regarding transitions: <q>CSS transitions allow property changes in CSS values to occur smoothly over a specified duration</q> Essentially, transitions are animating from one style to another—which used to be the purview of fairly complicated JavaScript and is now, remarkably easy to accomplish.</p>
      <p>When researching transitions, you’ll no doubt notice a lot of resources using <em>vendor-prefixes</em>. At this point, un-prefixed use of the <code>transition</code> property has <a href="http://caniuse.com/#feat=css-transitions">wide support</a>, and any tutorial or literature using a prefix is somewhat outdated. This is why it is so important to <strong>research and cite multiple resources for information</strong>.</p>
      <p>Transforms, on the other hand, apply methods and vernacular commonly seen in programming, especially in regards to how elements are <em>painted or drawn</em>. From the spec on transforms: <q>CSS transforms allows elements styled with CSS to be transformed in two-dimensional or three-dimensional space. </q></p>
    </section>
    <hr class="ruled t b"/>
    <h3>Keep in Mind</h3>
    <p>When you learn how to jazz things up it quickly becomes tempting to go a little crazy. Starting out, I say what the hell, go over the top... but I would be remiss if I didn’t point out that sometimes effects can get annoying when they pile up or make things difficult to use. In addition to that, I've made a list of a few pointers for the road, if you will.</p>
    <ul class="stylized star t">
      <li>Transitions <em>enhance</em> presentation, they should not provide meaning.</li>
      <li>Transitions <a href="https://en.wikipedia.org/wiki/Fault_tolerance">degrade gracefully</a> by default (or they should); ie, nobody should be impacted if they go missing.</li>
      <li>Not all properties are animatable (<code>display</code>, for instance); here is the <a href="http://www.w3schools.com/cssref/css_animatable.asp">list of animatable properties</a>.</li>
      <li>Transitions are not <em>Animations</em>, which are also possible, but something wholly different.</li>
      <li>I won’t talk further about <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations">keyframe animations</a> in this course—you’re welcome to explore them on your own.</li>
    </ul>
  </article>
  <article class="margins">
    <h2>More on Attributes</h2>
    <h4>Selectors</h4>
    <p>Attribute <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors">selectors</a> offer us yet another dimension of targeting Elements. I have made an <a href="http://codepen.io/brendanmetzger/pen/kkArJm">example here</a>, but essentially you use square brackets to inspect the presence, or even the value of a specified attribute. It will be important to understand the new syntax presented, as it is a good introduction to the style of syntax we use to execute programs.</p>
    <p>For some reading material, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors">here are the docs</a> on attribute selectors, or for a more visual explanation <a href="https://css-tricks.com/attribute-selectors/">check out this tutorial</a>. Attribute selectors pretty much round out our selection suite, which all together, looks something like this: Element &amp; descendant selectors, classes and IDs, children and sibling combinators, class chaining, and now attribute selectors. Both <abbr>css</abbr> and JavaScript employ these selection techniques.</p>
    <hr class="ruled" />
    <h4>Data</h4>
    <p><abbr>HTML</abbr> has a way to store data in an attribute. Interestingly, it’s called a <a href="http://www.w3schools.com/tags/att_global_data.asp">data attribute</a>. Data attributes (well, all attributes) can be seen by the inspecting eyes of <abbr>css</abbr>, which is an introduction to attribute selectors. Likewise, data-attributes can be seen and set in very straight forward ways using object access methods (more on that to come), and this can be quite elegant. Within your <abbr>html</abbr>, you can simply add <code>&lt;p data-foo="bar"&gt;</code> where <strong>foo</strong> is the name of your custom attribute and <strong>bar</strong> is the value.</p>
    <p>The important takeaway here is twofold. You can make up an attribute to store data for later (hint, JavaScript), but you can also target that attribute with the a <abbr>css</abbr> selector.</p>
  </article>
  <article class="introductory">
    <h2>Intro to <abbr title="Document Object Model">DOM</abbr> Programming</h2>
    <section class="two columns outdented">
      <p>I’m going to expose the tiniest bit of JavaScript that should dovetail nicely with the concepts we’re becoming comfortable with. Namely, we know that when we load up a big <abbr>HTML</abbr> file that it it is converted into this very specific <strong>object</strong>, and this object, like any object, has properties that describe it. Some of the properties actually perform tasks, and as such, they are actually a <code>function</code> of the object, often called <em>methods</em>. Get comfortable with the terms <em>property</em> and <em>method</em> when talking about objects.</p>
      <p>To further analyze this way of thought, picture your oven. It has knobs and burners, it has a <i>color</i>, a <i>manufacturer</i>, and it might have properties indicating its state, like <i>‘is clean’</i>. These are all properties, but let’s note the differences between how they describe the oven. The <i>color</i> property is static, that is it will not change, while the <i>‘is clean’</i> property may change as the result of other actions. The knobs property is interesting; notice that they perform an <em>action</em>—turning knob is expected to cause a change the <i>temperature</i> property.</p>
      <p>As meta as this all seems, this abstraction is important, and perfectly describes programming. Looking back, we already know we have a <code>document</code> object that it has properties and properties tell us things about the object, like when it was last modified: type <code>document.lastModified</code> into your browser console and see what happens (in fact, do it several times).</p>
      <p>Of present concern is the things we can ask the <code>document</code> to do for us, like find elements. One of the most important parnts of a document is the fact that it can help us find other elements using <em>query selectors</em>—yes, the very same selectors you've been learning about for weeks!</p>
    </section>
    <hr class="ruled t b"/>
    <p>Arguably the most useful feature of JavaScript is the tight integration to the Document Object Model, and the quickest introduction we can make is by employing our <abbr>CSS</abbr> selector knowledge. The <code>document</code> object itself has many methods for selecting Elements, but there are really only two you need to remember. The two methods in question are <em>querySelector</em> and <em>querySelectorAll</em>, and you access them by using the ‘.’ operator on the <code>document</code>. These two methods can be fed regular <abbr>css</abbr> query selectors as arguments and will return the appropriate <abbr>html</abbr> element(s).</p>
    <section class="instruction container pad">
      <dl class="______ float left">
        <dt class="h5 pad"><code>document.querySelector(<em>query</em>)</code></dt>
        <dd>Select and return the first node that matches the query</dd>
        <dd>ex: <code>document.querySelector('div')</code> selects the first <code>&lt;div&gt;</code> in the document</dd>
        <dd>ex: <code>document.querySelector('div#test')</code> selects a <code>&lt;div id="test"&gt;</code> element.</dd>
        <dt class="h5 pad"><code>document.querySelectorAll(<em>query</em>)</code></dt>
        <dd>ex: <code>document.querySelectorAll('div')</code> selects <strong>all</strong> <code>&lt;div&gt;</code>'s the document</dd>
        <dd>ex: <code>document.querySelectorAll('section > p')</code> selects <strong>all</strong> <code>&lt;p&gt;</code>'s that are the immediate children of a section.</dd>
      </dl>
      <ol class="____ float left whitepaper">
        <li>Open your console so you can query <em>this document</em></li>
        <li>place your cursor after the <strong>&gt;</strong> prompt</li>
        <li>If you haven’t yet, type <code>document</code> and inspect output</li>
        <li>type <code>document.querySelector</code></li>
        <li>Output indicates function <em>has not been called</em>!</li>
        <li>type <code>document.querySelector('h2');</code></li>
        <li>type <code>document.querySelectorAll('h2');</code></li>
        <li>type <code>document.querySelectorAll('h2').item(0);</code></li>
        <li>Compare output of #5 to #7</li>
      </ol>
    </section>
    <p class="focus"><strong>Note</strong>, some people still use things like <code>document.getElementById</code> and <code>document.getElementsByTagName</code>, and you’ll surely run into decades of tutorials suggesting you do the same. Be aware, modern methods provide a significant upgrade and I suggest you use the new stuff</p>
  </article>
  <article>
    <h2>Complicating things...</h2>
    <p>I've put together the following example not in the spirit of knowing it fully as an exercise, but as an anecdote to what interactive programming really entails; a lot of stylesheet manipulation, a a little bit of JavaScript and very thoughtful structure of content and data.</p>
    <section class="container t ruled top">
      <aside class="note ____ float left">
        <p>Transitions are simple enough to implement, but designing with the full power of transitions can be quite masterful. In the example <abbr>CSS</abbr> I've provided, scan the document for <code>&lt;h2&gt;</code> Elements with a little pair of scissors before the text—click on them. Note in the code, the <abbr>CSS</abbr> is controlling the scissor with the <code>content</code> property, and thus can be manipulated with <abbr>CSS</abbr> techinques we have available.</p>
        <p>Look at the contrasting <abbr>CSS</abbr> and Javascript as it illustrates a key point about the nature of our programming languages. First, <mark>I haven’t changed the structure of my markup</mark> to accommodate the <abbr>CSS</abbr> or JavaScript I need to pull off a trick—that structure is solid. The next is that <abbr>CSS</abbr> is by far most verbose part of any program I write. The last is the JavaScript, when aided by efficient <abbr>CSS</abbr> and <abbr>HTML</abbr>, is typically concise.</p>
        <p><strong>Please Note:</strong> I wrote the JavaScript in an extra obscure manner not only to illustrate this point, but so that you don’t spend too much time trying to implement something similar. You will learn <em>much easier</em> techniques for accomplishing this task using loops, variables and other beginner-friendly methods.</p>
        <hr class="ruled"/>
        <p><strong>When using transforms</strong>, be aware that you’ll only be able to apply transformations to a <a href="https://www.w3.org/TR/css-transforms-1/#transformable-element">transformable elements</a>, that is, <em>an element that applies block-formatting</em> via the box-model. Remember, <mark> any element can be forced into a block formatted element explicitly by setting <code>display</code> property to 'block' or 'inline-block', or implicitly when you have set a <code>float</code> or used an absolute or fixed <code>position</code></mark>.</p>
      </aside>
      <pre class="prettyprint ______ float left whitepaper">
        <!-- review views/css/examples/transitions.css transitions -->
        <hr class="divider" data-before="CSS" data-after="JavaScript"/>
        <!-- review views/javascript/examples/dom.js click to cut -->
      </pre>
    </section>
  </article>
  <article>
    <h2>References and Practice Material</h2>
    <dl>
      <dt>CSS Transisitions and Transforms</dt>
      <dd>Here are the <abbr>MDN</abbr> specs for referencing <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition">transitions</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform">transforms</a></dd>
      <dd>An <a class="read" href="http://learn.shayhowe.com/advanced-html-css/transitions-animations/">outline/tutorial</a>, I'd consider worth reading up through the part on animation.</dd>
      <dd>Here is a <a class="watch" href="http://www.lynda.com/Dreamweaver-tutorials/CSS-Transitions-Transforms/101072-2.html">video series</a> on both transitions and transforms, worth watching up through chapter 3</dd>
      <dt>JavaScript and the Document Object Model</dt>
      <dd><em>Eloquent Javascript</em>, Chapter 12, <a href="http://eloquentjavascript.net/12_browser.html">JavaScript and the Browser</a></dd>
      <dd><em>Eloquent Javascript</em>, Chapter 13, <a href="http://eloquentjavascript.net/13_dom.html">The Document Object Model</a></dd>
      <dt>Responsive Design</dt>
      <dd>An elusive goal, so this content is option at the moment. For those interested in going <em>mobile first</em> or honing skills more suited for tablets, <a href="http://www.lynda.com/Web-Responsive-Design-tutorials/Responsive-Design-Fundamentals/104969-2.html">responsive design series</a> may be valuable.</dd>
    </dl>
  </article>
</div>
