<div>
  <link rel="stylesheet" href="/css/examples/transitions.css" />
  <script type="text/javascript">
    bloc.embed('/javascript/examples/dom.js');
  </script>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Razzle Dazzle</h1>
    <p class="intro"><abbr title="Hypertext Markup Language">html</abbr> Attributes, CSS Transitions, Intro to DOM programming and manipulation</p>
  </header>
  <aside id="review">
    <h3>Review</h3>
    <p>Last week we went over the media queries and introduced what modeling a document looks like.</p>
  </aside>
  <!-- insert views/topics/stylesheets/transitions-and-transforms.html -->
  <!-- insert views/topics/stylesheets/animation.html -->
  <!-- insert views/topics/stylesheets/attribute-selectors.html -->
  <!-- insert views/topics/javascript/intro-dom-programming.html -->
  <!-- insert views/topics/studies/dom-cut-and-paste.html -->
  <footer id="reference-and-practice">
    <h2>References and Practice Material</h2>
    <p class="intro">Here is the list of <a href="http://iam.colum.edu/brendan.metzger/vids/">previous lectures</a> that are available to watch.</p>
    <dl>
      <dt>CSS Transitions and Transforms</dt>
      <dd>Here are the <abbr>MDN</abbr> specs for referencing <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition">transitions</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform">transforms</a></dd>
      <dd>An <a class="read" href="http://learn.shayhowe.com/advanced-html-css/transitions-animations/">outline/tutorial</a>, I'd consider worth reading up through the part on animation.</dd>
      <dd>Here is a <a class="watch" href="http://www.lynda.com/Dreamweaver-tutorials/CSS-Transitions-Transforms/101072-2.html">video series</a> on both transitions and transforms, worth watching up through chapter 3</dd>
      <dt>JavaScript and the Document Object Model</dt>
      <dd><em>Eloquent Javascript</em>, Chapter 12, <a href="http://eloquentjavascript.net/12_browser.html">JavaScript and the Browser</a></dd>
      <dd><em>Eloquent Javascript</em>, Chapter 13, <a href="http://eloquentjavascript.net/13_dom.html">The Document Object Model</a></dd>
      <dt>Responsive Design</dt>
      <dd>An elusive goal, so this content is option at the moment. For those interested in going <em>mobile first</em> or honing skills more suited for tablets, <a href="http://www.lynda.com/Web-Responsive-Design-tutorials/Responsive-Design-Fundamentals/104969-2.html">responsive design series</a> may be valuable.</dd>
    </dl>
  </footer>
</div>
