<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">CSS pseudo elements, CSS Transitions, Intro to DOM programming and manipulation</p>
  </header>
  <article>
    <h2>Review</h2>
  </article>
  <article>
    <h2>Pseudo-stuff</h2>
    <ul>
      <li>:not</li>
    </ul>
  </article>
  <article>
    <h2>References and Practice Material</h2>
    <dl>
      <dt><a href="http://www.lynda.com/Web-Responsive-Design-tutorials/Responsive-Design-Fundamentals/104969-2.html">Responsive Design Series</a></dt>
      <dd>An elusive goal, so this content is option at the moment. For those interested in going <em>mobile first</em> or honing skills more suited for tablets, this series will be valuable.</dd>
      <dt><a class="watch" href="http://www.lynda.com/XML-tutorials/Introduction-DOM/145930/164618-4.html">Introduction to the Document Object Model</a></dt>
      <dd>This 6 minute Lynda.com video goes a bit more into the weeds, but I'm including it as a reference because it is from an <abbr>xml</abbr> series.</dd>
      <dd>Though it's about <abbr>xml</abbr>, it wouldn't be a bad idea at all to watch the entirety of chapter 5.</dd>
    </dl>
  </article>
</div>
