<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Naming</h1>
    <p class="intro">Ever advancing <abbr>CSS</abbr> techniques and an introduction to <q>function-esque</q> thinking.</p>
  </header>
  <aside class="review">
    <h3>To be determined...</h3>
  </aside>
  <article>
    <h2>Drawing</h2>
    <p>TBD</p>
  </article>
  <article>
    <h2>Positioned Layouts</h2>
    <p>TBD</p>
  </article>
  <!-- insert views/topics/stylesheets/attribute-selectors.html -->
  <!-- insert views/topics/tables/css-specificity.html -->
  <!-- insert views/topics/stylesheets/advanced-techniques.html -->
  <!-- insert views/topics/studies/dom-cut-and-paste.html -->
  <article>
    <h2>Survey &amp; Next Steps</h2>
    <p>I hope throughout the course of working on a midterm you have identified some weak spots and areas that you need to focus on. When faced with a blank canvas, it becomes incredibly easy to let frustrations get the better of us. I understand this all too well, but hopefully this exercise reinforces that once you get the ball rolling it becomes easier to apply new concepts.</p>
    <ol class="t">
      <li>What is the most important thing you've learned so far?</li>
      <li>What do you feel we should spend more time on?</li>
    </ol>
  </article>
  <footer id="reference-and-practice" class="margins">
    <h3>Reference &amp; Practice Material</h3>
    <p>Read <a href="http://eloquentjavascript.net/02_program_structure.html">program structure</a> from <cite>Eloquent JavasScript</cite>.</p>
    <p>Here we are standing at the midpoint of the semester; a design hurdle should have been cleared, your efforts should be paying off at this point<sup>*</sup>. I want you to reread <strong>Chapter 3</strong> of the <cite><abbr>css</abbr> manual</cite> and this time around everything should be relatively understood. At this point you can finish up <strong>Chapters 4 and 5</strong> that cover inheritance and specificity, among other topics. From here on we embark only moving forward into application, which is to say, our stylesheets should be evolving, becoming more advanced and thinking more and more about context and interactivity.</p>
    <hr class="ruled"/>
    <p><sup>*</sup>I say <em>should</em> be paying off in terms of rapidly advancing techniques and skills. If the material in <strong>Chapter 3</strong> sounds unfamiliar or you come away thinking <q>when would I ever use this?</q> then you are probably going to have give considerably more effort in the second half of this course.</p>
  </footer>
</div>
