<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Naming</h1>
    <p class="intro">Quiz recap, midterm critique and discussion, some advanced <abbr>CSS</abbr> techniques, survey and next steps.</p>
  </header>
  <aside>
    <h2>Review Topics</h2>
    
  </aside>

  <!-- insert views/topics/stylesheets/advanced-techniques.html -->
  <article>
    <h2>Survey &amp; Next Steps</h2>
    <p>I hope throughout the course of working on a midterm you have identified some weak spots and areas that you need to focus on. When faced with a blank canvas, it becomes incredibly easy to let frustrations get the better of us. I understand this all too well, but hopefully this exercise reinforces that once you get the ball rolling it becomes easier to apply new concepts.</p>
    <ol class="t">
      <li>What is the most important thing you've learned so far?</li>
      <li>What do you feel we should spend more time on?</li>
    </ol>
  </article>
  <footer id="reference-and-practice">
    <h3>Reference &amp; Practice Material</h3>
    <p>Read <a href="http://eloquentjavascript.net/02_program_structure.html">program structure</a> from <cite>Eloquent JavasScript</cite> </p>
    <p class="intro">Here is the list of <a href="http://iam.colum.edu/brendan.metzger/vids/">previous lectures</a> that are available to watch. A reminder: post midterm, we will begin actually using JavaScript, so you should have watched and read and practiced enough to let the mystery subside and be comfortable dealing with the basics: <code>variables</code>, <code>objects</code>, <code>arrays</code>, <code>conditions</code>, <code>operators</code>, <code>loops</code> and <code>functions</code>.</p>
  </footer>
</div>
