<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">To be exact.</h1>
    <p class="intro">CSS Specificity, intro to functions. We'll also look at <a href="#smooth-scrolling">smooth scrolling</a> and begin a case study on the lightbox.</p>
  </header>
  <article>
    <h2>Review</h2>
    <p>Last we spoke we went over our midterms. Hopefully you found time over break to refresh a little bit, no doubt bursting with excitement to be back in this windowless room staring at a backlit screen.</p>
  </article>
  <!-- insert views/topics/tables/css-specificity.html -->
  <article id="smooth-scrolling">
    <script src="/javascript/smooth-scroll.js" charset="utf-8"> </script>
    <h2>Smooth Scrolling</h2>
    <p class="indented">I've written a <a href="/javascript/smooth-scroll.js">smooth-scrolling snippet</a> that you can use if you like. This bit of code, like the way of JavaScript-based animation in general, will go the way of the dinosaur soon. Like transitions and keyframe animation, there is already a <a href="https://drafts.csswg.org/cssom-view/#scrolling"><abbr title="cascading stylesheets">CSS</abbr> spec</a> on the books to facilitate a transitioned scroll... the countdown begins.</p>
    <p>While investigating anchors, you should find some interest in the <code>:target</code> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:target">pseudo-class</a>. Note above, text of the <code>&lt;h2&gt;</code> will be red if the document has #smooth-scrolling at the end of the url—very handy.</p>
  </article>
  <article>
    <h2>Case Study: A Lightbox and <abbr title="Cascading Stylesheet">CSS</abbr></h2>
    <p>Css is needed to create an overlay. I'm going to show you one way, but there are many facets you need to begin to understand. Before we begin the discussion, I want you to investigate the following topics on your own: css positioning, z-index, overflow, the vh and vw units. Before we begin our work together I may ask you to highlight and share something you learned.</p>
    <dl>
      <dt>What is an overlay in principle</dt>
      <dd>It's just a block level element, positioned in such a way that it overlays the entire page contents</dd>
      <dd>It can cover the entire page, top to bottom, or just the visible screen <code>100vh and 100vw</code>.</dd>
      <dd>It will utilize <code>position: absolute</code> and some sort of <code>z-index: (int)</code></dd>
      <dt>The background can/should be <q>locked</q></dt>
      <dd>If the overlay fully covers page content, you don't need to worry about scrolling (although it might be annoying)</dd>
      <dd>If the overlay is only covering the viewport, you will <em>need to disable scrolling</em></dd>
      <dt>The background itself</dt>
      <dd>There are many <abbr>CSS</abbr> coloring techniques that support an alpha channel (providing opacity).</dd>
      <dt>Understanding Hierarchy</dt>
      <dd>The overlay layer is by definition a child of the body. Controlling it's visibility is something you need to spend some time thinking about, as there are several ways. This week, we'll focus exclusively on usage of classes, and dive in next week with some JavaScript.</dd>
    </dl>
  </article>
  <article>
    <h2>Functions</h2>
    <p class="intro">The most important part of the way we write JavaScript is the notion of functions. Before we go down that road, we must understand a little bit about the namesake and the reasoning behind these methods. Functions are necessary, they are fascinating and they can even be beautiful.</p>
    <section class="container">
      <div class="______ float left indented">
        <p>In the beginning—and not particularly surprising considering the name—computers were primarily concerned with expediting rote computations. I've tried introducing functions in non-threatening ways, comparing them to cheeky things we know in real life; making pancakes and washing dishes—functions as routines. However, this doesn't convey the the true import of functions nor give advice on how to use them correctly. Most often you'll hear functions defined as <dfn>a principle of organizing code to make programs reusable, decrease errors and avoid duplication</dfn>.</p>
        <p>In a more rigorous way of thinking, such a definition equates authoring functions as a means of satisfying a <q>best practice,</q> but that's a bit misleading. Clarity and organization are certainly a byproduct of abstracting code, not the reason to do it. In their <a href="https://en.wikipedia.org/wiki/Pure_function">purest form</a>, functions take input and return some sort of output. We already know about some functions already from the world of mathematics, which are worth revisiting.</p>
      </div>
      <figure class="____ float left">
        <figcaption class="pad">A function can be thought of as a machine that takes something as input and returns output. Given the same input, it will always return the same output.</figcaption>
        <img src="/css/media/function-machine.svg" alt="function diagram" style="width:50%;margin:0 25%;"/>
      </figure>
    </section>
    <aside class="whitepaper centered tt">
      <p>We will spend the rest of class taking apart and thinking about a <strong>cosine</strong>, why it is a function, and what that means. We'll make our own cosine function, all homemade, using a <a href="https://en.wikipedia.org/wiki/Taylor_series">300 year old technique</a>. I expect this to be challenging, but you'll walk away knowing a few things: there is no such thing as magic and small details can lead to big ideas.</p>
      <p>While looking at the formula below, the first mystery we'll see is that the cosine function (denoted <em>cos(x)</em>) is really a composition of two other mathematical functions and repeatable process (a loop). Make sure you are able to spot those three elements (<a href="https://en.wikipedia.org/wiki/Exponential_function">hint</a>, <a href="https://en.wikipedia.org/wiki/Factorial">hint</a>).</p>
      <img src="https://upload.wikimedia.org/math/7/5/0/75020b6f0a1afdfb5b67e11f520a99e7.png" alt="the cosine power series" class="t pad"/>
    </aside>
  </article>
  <article>
    <h2>Reference and Practice Material</h2>
    <p>I gave some reference materials before the midterm to read, a few chapters regarding JavaScript and the Document Object Model. We'll be going over <strong>Events</strong> next week. If you have not gone through that material yet, you should catch up as soon as possible.</p>
    <dl>
      <dt></dt>
      <dt>Functions</dt>
      <dd>Definitely View <a href="https://www.lynda.com/JavaScript-tutorials/What-functions/148137/158390-4.html">Chapter 1</a> of this Lynda.com series.</dd>
      <dd>If you are chomping at the bit to get on to advanced topics, I suggest you watch <a href="http://www.lynda.com/JavaScript-tutorials/Using-functions-objects/148137/158394-4.html">Chapter 2</a> as well.</dd>
      <dt><a href="http://eloquentjavascript.net/03_functions.html">Chapter 3</a> of Eloquent JavaScript </dt>
      <dd>This is a more terse, more advanced (yet still intended for beginners) primer on functions. It will cover advanced topics like call stacks, closure and recursion. You don't need to understand them fully, but introduce yourself to these words.</dd>
    </dl>
  </article>
</div>
