<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">To be exact.</h1>
    <p class="intro">CSS Specificity, Working with data, HTML input elements, intro to DOM events and first-class functions. We'll also look at <a href="#smooth-scrolling">smooth scrolling</a> and begin a case study on the lightbox.</p>
  </header>
  <article>
    <h2>Review</h2>
    <p>Last we spoke we went over our midterms. Hopefully you found time over break to refresh a little bit, no doubt bursting with excitement to be back in this windowless room staring at a backlit screen.</p>
  </article>
  <!-- insert views/topics/tables/css-specificity.html -->
  <article>
    <h2>The <code>&lt;input&gt;</code> element</h2>
    <ul>
      <li>text</li>
      <li>range</li>
      <li>color picker input</li>
    </ul>
  </article>
  <article id="smooth-scrolling">
    <script src="/javascript/smooth-scroll.js" charset="utf-8"> </script>
    <h2>Smooth Scrolling</h2>
    <p class="indented">I've written a <a href="/javascript/smooth-scroll.js">smooth-scrolling snippet</a> that you can use if you like. This bit of code, like the way of JavaScript-based animation in general, will go the way of the dinosaur soon. Like transitions and keyframe animation, there is already a <a href="https://drafts.csswg.org/cssom-view/#scrolling"><abbr title="cascading stylesheets">CSS</abbr> spec</a> on the books to facilitate a transitioned scroll... the countdown begins.</p>
    <p>While investigating anchors, you should find some interest in the <code>:target</code> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:target">pseudo-class</a>. Note above, text of the <code>&lt;h2&gt;</code> is read because the document has <mark>#smooth-scrolling</mark> in the url—very handy.</p>
  </article>
  <article>
    <h2>Case Study: A Lightbox</h2>
    <p>Css is needed to create an overlay. I'm going to show you one way, but there are many facets you need to begin to understand. Before we begin the discussion, I want you to investigate the following topics on your own: css positioning, z-index, overflow, the vh and vw units. Before we begin our work together you will highlight something you learned that you did not know before.</p>
    <dl>
      <dt>What is an overlay in principle</dt>
      <dd>It's just a block level element, positioned in such a way that it overlays the entire page contents</dd>
      <dd>It can cover the entire page, top to bottom, or just the visible screen <code>100vh and 100vw</code>.</dd>
      <dd>It will utilize <code>position: absolute</code> and some sort of <code>z-index: (int)</code></dd>
      <dt>The background can/should be <q>locked</q></dt>
      <dd>If the overlay fully covers page content, you don't need to worry about scrolling (although it might be annoying)</dd>
      <dd>If the overlay is only covering the viewport, you will <em>need to disable scrolling</em></dd>
    </dl>
  </article>
  <article>
    <h2>Reference and Practice Material</h2>
    <p>I gave some reference materials before the midterm to read, a few chapters regarding JavaScript and the DOM. If you have not gone through that material yet, you should catch up as soon as possible.</p>
    <dl>
      <dt><a href="http://www.lynda.com/JavaScript-tutorials/Using-functions-objects/148137/158394-4.html">Functions</a></dt>
      <dd>Chapter 2 of the function series</dd>
      <dt><a href="http://eloquentjavascript.net/03_functions.html">Chapter 3</a> of Eloquent JavaScript </dt>
      <dd>This is a more terse, more advanced (yet still intended for beginners) primer on functions. It will cover advanced topics like call stacks, closure and recursion. You don't need to understand them fully, but introduce yourself to these words.</dd>
    </dl>
  </article>
</div>
