<div>
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Working Title</h1>
    <p class="intro">Intermediate techniques: layout, typography and box-model. Introduction to <abbr title="Document Object Model">DOM</abbr> events and and manipulation. Intro to <em>first-class</em> functions as well as scope and closure.</p>
  </header>
  <article>
    <h2>The First-class Function</h2>
  </article>
  <article>
    <h2>Case Study: A Lightbox and JavaScript</h2>
  </article>
  <article>
    <h2>Review</h2>
  </article>
</div>
