<article data-classification="javascript enumeration intermediate" class="margins">
  <h2 class="type">Enumeration</h2>
  <style type="text/css" media="screen">
    /* <![CDATA[ */

    .conversation {
      font-family: 'Avenir Next Condensed', 'Arial';
      color:#000;
      position: relative;
      padding: 2em;
      line-height:1.75;
    }

    /* ]]> */
  </style>
  <p class="intro">Enumeration is a fancy way of saying ‘countable’, and counting is just about all computers actually do. Just like there are many ways to count, there are many ways to instruct a computer to do it.</p>
  <p>Rather than go through the de facto pattern of learning JavaScript, something banal like—<q>lets count to ten using a computer!!</q>—I'm going to expedite our focus to an intermediate-level inspection of loops. Starting with banal programs prevents us from thinking about counting in terms of practical problem solving opportunities. This means that you may need to go backwards and practice the beginner stuff on your own, which in truth is quite important to be familiar with.</p>
  <ol class="t b big concepts whitepaper">
    <li><strong>Flow-of-control</strong>, or flow control is the order in which individual statements or function calls of a program are evaluated and/or executed.</li>
    <li><strong>A loop</strong> is a type of flow control concerned with repeating process, or <em>iteration</em></li>
    <li>When we are interested in manipulating anything that fits the description of <strong>more than one or once</strong>, a looping mechanism is employed</li>
  </ol>
  <p>With those rules in mind, especially the last one, lets concern ourselves with the notion of how we keep track of stuff. From my perspective in a classroom, I can address any single person, individually, by finding some unique aspect that they possess (like a name), and direct a message towards. To address an entire room at once is a human convenience—computers can only process one instruction at a time (though they can do it in a fraction of a billionth of a second). Now, to think like a computer would address a room, I would have consider it as a process . The following is the inner-monologue I might have if I was that computer trying to say hello to everyone in a room.</p>
    <div class="comparison container">
      <aside class="______ float left">
        <p class="conversation">A room is a list that I can count. There are 15 people in this room. I want to execute an instruction of ‘hello’ to everyone in the room. I'll start at person 0, is 0 less than 15? Yes. <q>Person 0, hello!</q>. I will increment my mental bookmark by one, so <code>0 + 1 = 1</code>. Is 1 less than 15, which is the length of my room list? Yes. <q>Person number 1, hello!</q>. Update bookmark; I was at 1, now <code>1 + 1 = 2</code>. Is 2 less than 15? Yes. <q>Person 2, hello!</q> (and so on and so forth, until…) . <q>Person number 14, hello!</q> Update my bookmark; <code>14 + 1 = 15</code>. Is 15 less than 14? No. I've said ‘hello’ to everyone.</p>
      </aside>
      <pre class="prettyprint ____ float left">
        <!-- review views/javascript/examples/loops.js for loop-->
      </pre>
    </div>
    <h3 class="tt b">A More Elegant Method</h3>
    <div class="comparison container">
      <aside class="______ float left margins">
        <p>Admittedly, the process of writing all those numbers and doing all that adding is not rocket science, but it is incredibly easy to lose track of things, and even easier to make a typo. Another way of thinking about the problem is to consider it functionally.</p>
        <p>First, break apart the problem from <em>saying hello to everyone</em> to saying <em>saying hello to a person</em>. If we were to compose a routine, it might start with getting the name, and then once you have that running through the steps necessary to say hello—which in this case would be concatenating the word ‘hello’ to the name given. Thinking inductively, if that works for one person, given a list of people, we could apply that function to the entire list. Beautiful!</p>
        <p>The <code>forEach</code> function of an array facilitates this for us. It says <q>pass me a function, and I'll call that function for you.  For each item I see I'll call the function you gave me and pass the item as a parameter.</q></p>
      </aside>
      <pre class="prettyprint ____ float left">
        <!-- review views/javascript/examples/loops.js forEach-->
      </pre>
    </div>
    <footer>
      <dl>
        <dt><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators">Expressions and Operators</a></dt>
        <dt>Loops</dt>
        <dd>for and while loops execute a block of code some number of times based on the evaluation of a boolean condition</dd>
        <dt>Conditions</dt>
        <dd>Control flow by conditionally allowing the execution of code based on a boolean value.</dd>
        <dd><a href="https://www.youtube.com/watch?v=GcDshWmhF4A">This video has some flow-of-control ideas</a></dd>
      </dl>
    </footer>
</article>