<article id="introduction-to-events" data-classification="javascript event beginner fundamental">
  <h2>Events</h2>
  <p class="intro">An image loads, the page is scrolled, a bit of text selected, the cursor dances across the screen. It’s all happening—you decide to make something out of it.</p>
  <div class="three columns indented">
    <blockquote class="quote centered tt bb">
      <p>If a tree falls in a forest and no one is around to hear it, does it make a sound?</p>
    </blockquote>
    <p>This seemingly simple question has been the substance of deep philosophical thought for centuries. In this classic thought experiment we consider all of the events that can occur without our knowing and contemplate the role of observation in the knowledge of reality (<a href="https://en.wikipedia.org/wiki/Metaphysics">metaphysics)</a>. So I'll just segue with an updated version: <q>if a mouse button is press but a developer doesn’t register a listener, does a click happen?</q>.</p>
    <p>With some knowledge of functions, we can actually consider the <a href="https://developer.mozilla.org/en-US/docs/Web/Events">multitudinous events</a> we can use. There are several ways to capture events, but the best, and preferred way, is through a built-in function of the JavaScript <abbr>DOM</abbr> called <code>addEventListener</code>. Talking about what to do when an event occurs begins with the premise that you are need to start paying attention, so it should be easy to remember <strong>add • event • listener</strong> as a concept. You have all the objects on a page, how do they know when something happens? <em>You tell them to listen.</em></p>
    <p>There is another way to listen for events by setting attribute on an element (either in <abbr>HTML</abbr> or JavaScript)—you will no doubt see this technique often. While convenient and easy, I rarely (almost never) do this for valid technical reasons, but more importantly, it violates a design principle called <a href="https://en.wikipedia.org/wiki/Separation_of_concerns">separation of concerns</a>. We have three facets that control interactive applications; semantics and structure (<abbr>HTML</abbr>), view and design (<abbr>CSS</abbr>), and behavior (JavaScript)—best to keep them separate.</p>
    <p>Now considering the process of an event occurring, remember that it is <em>emmitted</em> from a source, be it an <code>Element</code> or the <code>window</code> object, etc., and you must apply a listener directly to that source in order to <q>hear it.</q> I always remind you to thing of Elements as a physical object: you need to think of that object as having the ability to listen. <q>Hey object, keep an ear out for if someone clicks… and if they do, execute this function that I'm giving you. Also, when you execute it, pass along the details of the event that happened.</q></p>
  </div>
    
   <div class="whitepaper container t b">
    <h3>Usage and Documentation</h3>
    <div class="________ float left">
      <h4>Function Signature</h4>
      <p>A function signature specifies the general information about a function like the <em>name</em>, number and type <em>arguments</em> and what it <em>returns</em>. This information can usually be found in the documentation of a language or framework—I doubt anyone flat out reads an entire manual, but <em>knowing how to read it</em> and <em>knowing where to find it</em> is mandatory.</p>
      <h4>Definition</h4>
      <dl>
        <dt><code><span class="typ">void</span><sup>1</sup> <span style="color:#000;text-decoration:underline;">addEventListener</span>(<span class="typ">string</span> event<sup>2</sup>, <span class="typ">function</span> callback<sup>3</sup>, [<span class="typ">boolean</span> capture<sup>4</sup>]);</code></dt>
        <dd>The <em>name</em> of the function is underlined in black text</dd>
        <dd><sup>1</sup> The return value of the function - in this case, void indicates that the function <em>returns nothing</em></dd>
        <dd><sup>2</sup> The first argument expects a string, in this case, the type of event ('click', 'scroll', etc.)</dd>
        <dd><sup>3</sup> The next argument is a callback which must be a type function (yet-to-be called).</dd>
        <dd><sup>4</sup> Regards if event captures or bubbles (advanced). Brackets indicate optional, defaults to false.</dd>
        <dt>The Callback Signature</dt>
        <dd>Whenever you write a callback, you should specify an argument. This argument will hold the data about the event that occured—you can call it whatever you like—I generally name it <em>evt</em></dd>
        <dd>When an event is emitted, and the listener hears it, it will execute your callback function. Because the event listener is handling things, it will send along the data.</dd>
      </dl>
    </div>
    <dl class="__ float left">
      <h4>A few important JavaScript objects</h4>
      <dt>The <code>Event</code> object</dt>
      <dd>The Event object is passed along as a parameter to your callback whenever it occurs. It has dozens of <a href="https://developer.mozilla.org/en-US/docs/Web/API/Event#Properties">properties</a></dd>
      <dd>You can make <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events">custom events</a> (not very common)</dd>
      <dt>The <code>EventTarget</code> object</dt>
      <dd>The <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget">EventTarget</a> interface is implemented by any object that can receive events and have listeners applied to them</dd>
      <dd>All nodes are an <code>EventTarget</code>. The <code>window</code> object is an <code>EventTarget</code>.</dd>
    </dl>
  </div>
  
  <section data-level="intermediate">
    <h3>Event-Driven Programming</h3>
    <p>It may seem like just an interesting feature of the language, but it’s important to grasp conceptually why first-class functions are quite necessary to <a href="https://en.wikipedia.org/wiki/Event-driven_programming">event-driven programming</a>. When we have program that is going to respond to clicks, keystrokes, and any other input, our application has to have something prepared. Unlike imperative types of programming (like procedural), the program has an event loop that must have <em>some function</em> it can execute when needed. This makes sense: functions are callable bits of program; they lie waiting for something to poke them and say <q>go ahead, do what you do</q>. These are referred to as <strong>callbacks</strong>, and a ten-dollar word that you will learn to love about such programming is the nature of asynchronous code that can execute at unknown times.</p>
    <div class="explain whitepaper">
      <aside class="note">
        <p>Looking at the code on the right, there isn’t a another way to program it without using first-class functions and their accompanying features. In this case, we are listening for two <strong>events</strong>, there are three (anonymous) <strong>callback functions</strong> and two <strong> closures</strong>—make sure you can spot them all.</p>
        <button type="button" data-color="cornflowerblue" class="trigger">Execute Code</button>
      </aside>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/functions.js callbacks -->
      </pre>
    </div>
    
  </section>
    
</article>