<article>
  <h1>Functions</h1>
  <h2>todo</h2>
  <ul>
    <li>Need to talk about declaring named functions</li>
    <li>Assigning functions</li>
    <li>implications of hoisting (advanced)</li>
    <li>executing or calling functions with () or .call, etc</li>
  </ul>

  <h2>Declaring Functions</h2>
  <h3>a function itself can be a variable declared through naming or through an expression.</h3>
  <h2>Executing functions</h2>
  <h2>Passing Functions</h2>
  <h2>returning things. like objects <code>someFunc().prop</code> vs someFunc('prop');</h2>
  <pre class="prettyprint">
    <!-- preview views/javascript/examples/advanced/functions.js 1..6 -->
  </pre>

  <h2>Advanced: Functional thinking.</h2>
  <dl>
    <dt>Statements</dt>
    <dd>Evaluable code that has a <strong>return value</strong></dd>
    <dt>First-Class Functions</dt>
    <dd>Either accept a function as an argument or return an function as a value. This concept is extremely useful for code abstraction. <strong>JavaScript employs first class functions regularly.</strong></dd>
    <dt>Pure Functions</dt>
    <dd>A function that does not mutate values or situations outside of the function itself. A higher level concept important to <a href="https://en.wikipedia.org/wiki/Functional_programming">functional programming</a></dd>
    <dt>Recursion</dt>
    <dd>Algorithms that operate in an iterable fashion by evaluating only the input and whether or not it should execute itself again with the modified value of the input.</dd>
  </dl>

  <h2>Reading</h2>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_j9ps8qrlyo">Chapter 5 Introduction</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Abstraction</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Abstracting Array Traversal</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Higher Order Functions</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_7/X8BSjdvi">Passing Along Arguments</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_j9ps8qrlyo">Binding</a>
</article>
