<article id="input-output" data-classification="javascript intermediate function">
  <!-- insert views/css/media/function-machine.html -->
  <h2>I/O: Arguments and Return Values</h2>
  <p class="indented">One can go all day writing functions that expect no input and give no output—though a function that doesn’t do either is a bit rare. Functions like <code>Math.random</code> do not require input but it <def>returns</def> a random number between 0 and 1. A function like <code>console.log</code> takes any amount of input then performs a task without <dfn>returning</dfn> any value (which is why you see <samp>undefined</samp> when you run it in the console).</p>
  <p>Arguments are named between the parentheses when you write the function—an when you call the function, you pass in a parameter. A <code>return</code> statement is placed at the end of a function, and it gives you something back. Just like some of the first mathematics we learned like <code>cos x</code>, a function takes some input and gives us some output. Unlike mathematics, functions in JavaScript don’t necessarily need input, and don’t necessarily provide output.</p>

  <figure class="explain whitepaper">
    <figcaption>
      <p>Functions can have zero up to any number of arguments. Arguments can be named, or they can be accessed with the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments"><code>arguments</code></a> object or with the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters">rest operator</a> in <abbr title="ecmascript version 6">es6</abbr> Adjacent are some functions to ponder.</p>
      <h3 class="t b">Inspecting Functions</h3>
      <p><mark>Carefully study every example and think carefully about the following questions.</mark> In fact, generally do this review whenever introducing yourself to a function.</p>
      <ul class="stylized star tt">
        <li>What is the expected input—that is, what is named inside of the parentheses?</li>
        <li>Following the previous question, what are the arguments used for?</li>
        <li>What variables are used in the function? Are they declared within the function itself?</li>
        <li>What other variables and objects are in play? Do you understand their scope?</li>
        <li>Does the function rely on other functions?</li>
        <li>What <strong>value</strong> will the function return after execution?</li>
      </ul>
    </figcaption>
    <pre class="prettyprint ______ float left">
      <!-- review views/javascript/examples/functions.js arguments -->
    </pre>
  </figure>
</article>