<article id="intervals-and-timeouts" data-classification="">
  <h2>Intervals and Timeouts</h2>
  <p class="intro"><a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/setTimeout">Window Timers</a> are a mechanism in JavaScript that allow you to delay or repeat a function. Conceptually, it shouldn’t bend the mind too much to learn that these efforts require the use of <em>callbacks</em>—principally similar to <strong>Event Listeners</strong>.</p>
  
  <section class="two columns margins dropcap">
    <p>The <code>setTimeout</code> function can be thought of as adding a delay to a piece of your code. Like so many things in JavaScript, it takes a callback function as it’s first argument (think about why that needs to be the case), and it takes in integer as the second, which is the number of milliseconds you want to wait before the callback is executed. It returns a timeout id, see <em>clearing window timers</em>.</p>
    <p>Do note, for a long time <code>setTimeout</code> was used to animate elements. Now, animation is largely handled by <abbr>css</abbr>, but the need still arises for custom animations here and there. In the event that this is you goal, the browser provides a more efficient means of custom animations through <a href="https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame"><code>requestAnimationFrame</code></a>.</p>
    <p>A close cousin to a timeout, <code>setInterval</code> takes the same argument pattern but has one significant difference, and that is it keeps firing on the interval. Like it’s cousin, it returns a <samp>timeout ID</samp>. That ID can be used to cancel any pending timeout or interval when passed to the <code>clearTimeout</code> or <code>clearInterval</code> function. Make sure to visit the <a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers">documenation for window timers</a> for a good briefing.</p>
  </section>
  <div class="explain whitepaper">
    <aside class="note">
      <h4>Setting a timeout</h4>
      <p>The button below has an event listener applied, and that listener will set the timeout you see to the right. When clicked, the button will set two timeouts. The first will display an alert message in 1 second, the second will reset the html to a the initial state before the click.</p>
      <p><strong>Note:</strong> timeouts are set in milliseconds, so 1000 milliseconds is equal to 1 second.</p>
      <button type="button" onclick="timers.basic(this)" style="padding:1em;">I am slow..</button>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/timing.js basic timeout -->
    </pre>
  </div>
  <section class="container">
    <aside class="_____ note float left">
      <h5>Setting an interval.</h5>
      <p>The most obvious analogy one can draw to an interval is a clock. So obvious in fact, that we get lost in the nature of what an <em>intervals</em> explain concepts in mathematics, music, and cartesian space. They give means to understand phenomena that occurs on a continuum through finite analysis, and any explanation of color, time and distance cannot avoid such analysis.</p>
      <p id="color" class="notate">The script adjacent employs an interval combined with a transition in css. Recall our modulus operator can explain an interval. The <abbr title="Cascading Stylesheet">CSS</abbr> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/color_value">hsl color</a> property describes color value along a <a href="https://en.wikipedia.org/wiki/HSL_and_HSV">cylindrical coordinate</a>. Circles, loops, timers, color: <strong>they can all be merged conceptually as intervals.</strong></p>
    </aside>
    <pre class="prettyprint _____ float left">
      <!-- review views/javascript/examples/timing.js basic interval -->
    </pre>
    <hr class="clear ruled t b"/>
    <aside class="_____ note float left">
      <h5>Clearing timeouts and intervals.</h5>
      <p>When applying a <code>setTimeout</code> or <code>setInterval</code>, you must be concerned with one other facet, and that is how to stop them. Using the <em>focus</em> and <em>blur</em> events of the <code>textarea</code> below you can see a simple typewrite effect in action. When calling setTimeout, it will return an integer representing the timeou ID. You can pass that id to a function called <code>clearTimeout</code> and it will cancel your callback from executing.</p>
      <textarea name="limerick" class="code" style="width:100%;height:10em;font-size:2em;line-height:1.25;border:1px solid rgba(0,0,0,0.1)" spellcheck="false">
        <!-- preview views/topics/__draft/limerick.txt 1..100 -->
      </textarea>
      <p>You may notice some new stuff: I introduce some string functions that let you slice apart a string, as well as a cryptic looking <em>regular expression</em> that I use to give an extra pause whenever the last word typed is capitalized or a non-word character. Simple tricks like this can be used to give programs an organic feeling.</p>
    </aside>
    <pre class="prettyprint _____ float left">
      <!-- review views/javascript/examples/timing.js clearing timers -->
    </pre>
  </section>
  
  

  
  <script type="text/javascript">
    bloc.embed('/javascript/examples/timing.js');
    bloc.init('intervals', function() {
      timers.interval();
      timers.typewriter();
    });
  </script>
</article>
