<article id="intro-to-dom-programming" data-classification="introductory">
  <h2>Intro to <abbr title="Document Object Model">DOM</abbr> Programming</h2>
  <p class="intro">Because the Document Object Model is a, well, object that has been modeled, one has the ability to interact with it. Objects have <dfn>properties</dfn> which help define the object in any given state, and <dfn>methods</dfn> which are functions that can perform operations. What follows is an anecdotal look at those concepts.</p>
  <section class="">
    
    <figure class="explain whitepaper">
      <figcaption class="margins pad">
        <h3>(Re)Visiting JavaScript Objects</h3>
        <p>The code at right can be told first through a story, so read this and then take apart the code and it's behavior.</p>
        <p>Our pet Fido is a simple emotional creature. Fido has a <dfn>property</dfn> of happy that is <samp>true</samp> when happy or <samp>false</samp> when not (and there is no maybe here, this is a <dfn>boolean</dfn> value). When Fido is bad, one must deliberately scold Fido. Among the products of the scolding, is that always becomes unhappy.</p>
        <h4>Program Notes</h4>
        <ol>
          <li class="discuss">the variable <samp>fido</samp> is not capitalized, which one might feel compelled to do because it is a proper noun. It is kept lowercase on purpose, and generally, <mark>don't capitalize anything</mark> unless you  have a programmer-y reason to. This goes for <abbr>CSS</abbr> classes and ids as well!</li>
          <li>objects, their properties, and their methods <mark>must be declared</mark> before you can use them.</li>
          <li>Sometimes there are objects that you can use without declaring, like <code>Math.random</code>, because they are a part of the language. Making new objects and functions could loosely be seen as ammending a language to more things.</li>
        </ol>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/objects.js object state -->
      </pre>
    </figure>
    
    <figure class="explain whitepaper">
      <figcaption class="margins pad">
        <h3>Visiting JavaScript Document Object Objects</h3>
        <p>Arguably the most useful feature of JavaScript is the tight integration to the Document Object Model, and the quickest introduction we can make is by employing our <abbr>CSS</abbr> selector knowledge. The <code>document</code> object itself has many methods for selecting Elements, but there are really only two you need to remember. The two methods in question are <em>querySelector</em> and <em>querySelectorAll</em>, and you access them by using the ‘.’ operator on the <code>document</code>. These two methods can be fed regular <abbr>css</abbr> query selectors as arguments and will return the appropriate <abbr>html</abbr> element(s).</p>
        <p>Imagine you are a French <code class="element">h2</code> Element living in a document. Your mother, a rather classy <code class="element">section</code> element, treats you and your two siblings to a nice pastry every so often. You have a sister in front of you, and a brother behind you, and the three of you are waiting in line to get a chocolate croissant. Your sister, bless her heart, decides to let you go in line first, but the line switching is really up to your mother. <em>Et voila</em>, browse the adjacent program.</p>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/objects.js basic dom -->
      </pre>
    </figure>
  </section>

  <footer class="margins">
    <h4>Beyond storytelling</h4>
    <p>I don’t think it becomes immediately apparent why we need JavaScript when <abbr>css</abbr> is so powerful and many people can, and do, avoid it successfully. Despite all that, here is the quick pitch.</p>
    <p>First, is that with JavaScript <mark>you can literally make anything you can think of, from an interactive game, to a newspaper, to a full blown audio synthesizer.</mark> Without the use of events and asynchronous data, web design is essentially a piece of paper that can move when you hover over something.</p>
    <p>Check out this <a href="https://gist.github.com/brendanmetzger/b6eb7d09719745e117e5c1b295a690f2">gist recipe</a> and see if you can follow along in your console.</p>
  </footer>
</article>