<article class="lesson">
  <h2>Counting</h2>
  <ul>
    <li rel="https://en.wikipedia.org/wiki/Sexagesimal">Sexagesimal, or Base-60</li>
    <li>Hexidecimal, or Base-16</li>
    <li>Decimal, or Base-10</li>
    <li>Octal, or Base-8</li>
    <li>Binary, or Base-10</li>
  </ul>
  <p>Sexagesimal is a great segue to talking about types of number <em>floating point</em> numbers, because the babylonians (less we are still convinced that their maths werer primative) conceived of a way to calculate the diagonal of a unit square – an irrational number</p>
</article>
