<article id="programming-tree-structures">
  <h2>Programming Tree Structures</h2>
  <p>So JavaScript has something that makes it a bit more complicated than most programming languages, and that is the fact that it has two very robust <abbr title="application programming interface">api</abbr>s—the first being the core language reference, and the second being the <strong>client-side</strong> reference. At the core we have things like types, functions, objects, Date, Math, etc. The client-side of things are where the fun begins: you have the document object, events, <abbr title="xml http requests">xml</abbr> requests, media events, web workers, sockets, and a pretty huge list.</p>
  <p>it’s important to understand that the <abbr>DOM</abbr> is a robust platform and interface not the fancy word for a bunch of text with a bunch of <samp>&lt;tags&gt;</samp> peppered in. As always, viewing documents as a data structure allows us to program with it—meaning we can <em>mutate</em> that structure and assign events against it.</p>
  
  <table class="full signatures">
    <caption class="rag-right">
      <p class="intro">There is a cohesive <abbr>api</abbr> and a very carefully created <a href="https://dom.spec.whatwg.org/">set of standards</a>, and I promise, if you appreciate these standards, the world will become your oyster.</p>
       <p>Please note: I've left some methods off my list that can be boycotted. I'm not saying one shouldn’t know about them—rather that there is little pragmatic reason to use them. They are: <code>getElementsByClassName</code>, <code>getElementById</code> and <code>getElementsByTagName</code>. The document object implements dozens and dozens of objects and methods, but the list below is a decent nutshell of some important ones.</p>
    </caption>
    <thead>
      <tr>
        <th>need to...</th>
        <th>function / property</th>
        <th>available on</th>
        <th>arguments</th>
        <th>returns</th>
        <th>example &amp; description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>create an element</th>
        <td class="method"><code>createElement</code></td>
        <td><code>document</code></td>
        <td>
          <samp class="type">string</samp>
          <p>name of element to create</p>
        </td>
        <td><code>Element</code></td>
        <td>
          <pre class="prettyprint">document.createElement('h2')</pre>
          <p>Create and return a new empty Element node with the specified tag name. Does not append to the document—investigate more methods below</p>
        </td>
      </tr>
      <tr>
        <th>find <em>one</em> element</th>
        <td class="method"><code>querySelector</code></td>
        <td><code>document</code>, <code>Element</code></td>
        <td>
          <samp class="type">string</samp>
          <p>a <abbr>css</abbr> selector</p>
        </td>
        <td><code>Element</code></td>
        <td>
          <pre class="prettyprint">var div = {e|d}.querySelector('div');</pre>
          <p>Returns the first Element in a document or element specified that match the <abbr>CSS</abbr> selector string. <samp>{e|d}</samp> represents any element as well as the document object.</p>
        </td>
      </tr>
      <tr>
        <th>find <em>all</em> elements</th>
        <td class="method"><code>querySelectorAll</code></td>
        <td><code>document</code>, <code>Element</code></td>
        <td>
          <samp class="type">string</samp>
          <p>a <abbr>css</abbr> selector</p>
        </td>
        <td><code>Nodelist</code></td>
        <td>
          <pre class="prettyprint">var divs = {e|d}.querySelectorAll('div')</pre>
          <p>Returns an array-like list of Elements in this document or element that matches the <abbr>CSS</abbr> selector string. Selectors can be comma separated, just like in css. <samp>{e|d}</samp> represents any element <em>or</em>  the document object.</p>
        </td>
      </tr>
      <tr>
        <th>know how many</th>
        <td class="method"><code>length</code></td>
        <td><code>NodeList</code></td>
        <td>(NA)</td>
        <td><samp class="type">integer</samp></td>
        <td>
          <pre class="prettyPrint">{e|d}.querySelectorAll('p').length;</pre>
          <p>The above would tell you the number of paragraphs in your document. <samp>{e|d}</samp> represents any element <em>or</em> the document object.</p>
        </td>
      </tr>
      <tr>
        <th>change the class attribute</th>
        <td class="property"><code>classList</code></td>
        <td><code>Element</code></td>
        <td>(NA)</td>
        <td><code>DOMTokenList</code></td>
        <td>
          <pre class="prettyprint">{e}.classList.add('bar');</pre>
          <p>Implements methods to <code>.add</code>, <code>.remove</code> and <code>.toggle</code> classes to Element nodes</p>
        </td>
      </tr>
      <tr>
        <th>get/set the content of an Element</th>
        <td class="method"><code>innerHTML</code></td>
        <td><code>Element</code></td>
        <td>(NA)</td>
        <td>The <abbr>html</abbr> <samp class="type">string</samp> content of the Element</td>
        <td>
          <pre class="prettyprint">{e}.innerHTML = "html";</pre>
          <p>Our old favorite: sets raw text to the inside of a Node. <samp>{e}</samp> represents an Element object</p>
        </td>
      </tr>
      <tr>
        <th>add an Element</th>
        <td class="method"><code>appendChild</code></td>
        <td><code>Element</code></td>
        <td>
          <p>The <samp class="object">Node</samp> you want appended</p>
        </td>
        <td>The appended <samp class="object">Node</samp></td>
        <td>
          <pre class="prettyprint">var appended = {p}.appendChild({c});</pre>
          <p>Appends the given node to the end of the element. The child appended does not have to be newly created, it can be from somewhere else in the document: as such, it’s how you would reorder a list. <samp>{p}</samp> represents the Element object that will do the adopting (the <em>parent</em>) and {c} represents the child Element object.</p>
        </td>
      </tr>
      <tr>
        <th>prepend an Element</th>
        <td class="method"><code>insertBefore</code></td>
        <td><code>Element</code></td>
        <td>
          <p>The new <samp class="object">Node</samp> is the first parameter and the replacement <samp class="object">Node</samp> is the second.</p>
        </td>
        <td>The inserted <samp class="object">Node</samp></td>
        <td>
          <pre class="prettyprint">var inserted = {p}.insertBefore({n}, {r});</pre>
          <p>Inserts the <em>new</em> node into the document tree as a child of the node that this method is applied to.The <em>reference node</em> must be a child of the calling node. Typically, this might be something like  to insert a node on the beginning of a list.</p>
        </td>
      </tr>
      <tr>
        <th>replace an Element</th>
        <td class="method"><code>replaceChild</code></td>
        <td><code>Element</code></td>
        <td>
          <p>The <samp class="object">Node</samp> you want in is first and the <samp class="object">Node</samp> you want out is second.</p>
        </td>
        <td>The replaced <samp class="object">Node</samp></td>
        <td>
          <pre class="prettyprint">var replaced = {p}.replaceChild({n}, {r});</pre>
        </td>
      </tr>
      <tr>
        <th>get rid of an Element</th>
        <td class="method"><code>removeChild</code></td>
        <td><code>Element</code></td>
        <td>
          <p>The <samp class="object">Node</samp> you want removed from the reference</p>
        </td>
        <td>The removed <samp class="object">Element</samp></td>
        <td>
          <pre class="prettyprint">var removed = {p}.removeChild({c});</pre>
        </td>
      </tr>
    </tbody>
  </table>
</article>