<article>

  <header>
    <h4 class="bottom ruled heart"> No. 0004</h4>
    <h1 class="massive">Lexical Scope</h1>
    <p class="intro _______">Recall for a moment, the beloved chestnut <q>Whatever happens in Vegas, stays in vegas?</q>. Now behold: Whatever variables are declared in a particular scope stay in that scope. Let's explore.</p>
  </header>

  <section class="dropcap margins">
    <p class="______ m justified">Imagine an all-seeing, all knowing presense, out in the ether, beyond the multiverse. A presense so powerful it knows of the galaxies, stars, planets, corporate charters, sports teams, fauna, flora, fungi and bacteria it conjured into existence. It knows about them, how to talk to them, how to ask them things. Now imagine a universe precisely the opposite; <em>reverse the order</em> starting with the bacteria and ending with the stars, galaxies and the divine. This is the universe of <strong>lexical scope</strong>. To continue our metaphore, the bacteria, knows of itself and all the things that came before. It knows about all the things that make up its existence <em>and it knows how to talk to them</em>. Ending with the stars, galaxies, and the deity, it has all the answers. God, in this heretic metaphor, knows as much as the bacteria in our world.</p>
    <p class="_____ mm justified">Now, before you we get too excited about our incredible godlike bacterium, let's remember a major caveat of monotheism: gods don’t seem to care (or know) much about other gods, and bacteria is no different. The bacteria, all knowing as it believes itself to be, doesn't know anything about the other bacteria it lives among, sharing it’s world</p>
    <p class="____ mmm justified">I'll wrap it up even though we're delicately close to a philosophical breakthrough, let's end the metaphor and say that scope is the nested stucture of program. From deep within, scope means an area of a program that has access to the elements that were declared before, but not necessarily elements declared adjacent.</p>
  </section>

  <section>
    <h3>Global Scope</h3>
    <p>Everything we do in Javascript has a scope by default, the outermost called the <strong>global scope</strong>. If you create a new script, embedded or linked and start declaring variables, making expressions and statements, you are in the global scope. When we start declaring types such as <code>objects</code> and <code>functions</code> then variable declarations and expressions within the object and function, variables are local to that object; this is <strong>local scope</strong></p>
    <h3>Local Scope</h3>

    <h3>Intermediate</h3>
    <p>Javascript does not have block level scope – or at least not yet. Generally block-level scope means that wherever you have your <strong>{curly braces}</strong> you can declare a scope - like if/else conditions</p>
    <h3>The <code>var</code> keyword</h3>

    <h3>Read</h3>
    <a href="http://eloquentjavascript.net/03_functions.html#h_u4j2OhpYkg">Functions &amp; Scopes</a>
  </section>

  <pre class="prettyprint"><!--  preview views/javascript/examples/scope.js 5..13 --></pre>

  <h2>call and apply</h2>
  <p>These let you execute a function and manipulate it getting it to have an identity crisis while it executes.</p>
  <h2>bind</h2>
  <p>lets you brainwash a function into changing it’s identity. You execute it later on, and it is still brainwashed.</p>
  <footer>
    <ul>
      <li><a href="http://hangar.runway7.net/javascript/guide">The Javascript Guide to Objects, Functions, Scope, Prototypes and Closures</a></li>
    </ul>
  </footer>
  <script type="text/javascript">
    bloc.embed('javascript/examples/scope.js');
  </script>
</article>
