<article id="variable-scope" data-classification="">
  <header class="container">
    <img src="[$cdn/media/images/matryoshka.png]" class="float left __ multiply" style="margin: -2em 0 0"/>
    <h2>Variable Scope</h2>
    <p class="intro">Scope can be abstract, but it can also be visualized just as easily by modifying your perspective. Ultimately it describes the familiar organizing principle of separating various concerns into containers.</p>
  </header>
  <section class="three columns indented dropcap tt">
    <p>One can stylistically determine how something looks and add meaning through the hierarchy and structure of a well defined outline, ie., given several <code class="element">h2</code> Elements, any individual Element is most important to its containing <code class="element">section</code> or <code class="element">article</code> element—this is what the specification tells us, and clearly this is a meaningful decision.</p>
    <p>If I declare a function, the scope created between the opening and closing curly braces can be thought of just like a container for variables. In fact, until ES2016 was put on the shelves, this was the <em>only</em> way to declare scope, and account of that, it is Ok to think of it that way for the time being.</p>
    <p>So just what is <q>scope</q>, and how should you visualize it? Perhaps it is easiest to picture yourself in large building with several floors and many rooms on each. The doors to any given room are locked and can only be opened from the inside—this means you can always go from the room you are in to the room outside and you cannot walk into other rooms.</p>
    <p>The room you are in is your <strong>local scope</strong>. In this room there are a number of desks, and we will save the count in a variable like <samp>desk_count</samp>. Now from your local scope, there are questions you can and cannot ask about the building. You <strong>can</strong> ask things like <q>what floor am I on?</q> because your door opens from the inside—just walk out and look for the floor number. You can ask, <q>what building am I in?</q> by taking the elevator, walking outside, and looking at the address. At this point, you are outside, meaning there are no more doors to open: you are in the <em>global scope</em>.</p>
    <p>Now the thing you cannot do is actually quite simple: you cannot open locked doors. That means, you cannot ask <q>how many desks are in that other room?</q> And if this isn't quite clear, you have absolutely no way to know if that room even contains desks or what goes on on the inside.</p>
    <p>The end of this anecdote is simply that <strong>functions</strong> are the rooms in this example. If we want to get anything in or out of a room/function, the room/function has to have a mechanism for exchanging input and output for people who do not have access. In terms of functions, <mark>this exchange is controlled through <dfn>scope</dfn>, <dfn>arguments</dfn> and <dfn>return</dfn> values</mark></p>
  </section>

  <section class="pulled">
    <h4>Variables must be declared somewhere.</h4>
    <figure class="explain whitepaper">
      <figcaption class="note">
        <p>When you write some code a compilation process takes looks at all of your declarations and converts them to program code. The outermost layer is called <em>the global scope</em>. At right, we have declared two things and added them to the global scope, what are they?</p>
        <button onclick="this.nextElementSibling.style.display = 'block';this.remove();">Answer</button>
        <p class="hint" style="display:none;">The variable <samp>jerry</samp> has been declared and assigned a string value. A function named <samp>who</samp> has also been made available in the global scope. The function <samp>alert</samp> is available in the global scope, but it is a part of the language, not declared by a programmer.</p>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/scope.js global  -->
      </pre>
    </figure>
    <h4>Global Scope vs. Local Scope</h4>
    <figure class="explain whitepaper">
      <figcaption class="note">
        <p>In the current version of javascript, there is only one other type of scope available, called <em>local scope</em>. Local scope is created within the body of a function declaration. Spot the following: there are three variables declared, two in the global scope, one scoped to the <code>drive</code> function. The two <code>truck</code> variables share the <em>same name</em>, but they in <em>different scopes</em>, and thus, <em>different variables</em>. What are the two alert messages? What would happen if the <code>var</code> was left off of the truck variable in the <samp>drive</samp> function declaration?</p>
        <button onclick="this.nextElementSibling.style.display = 'block';this.remove();">Answer</button>
        <p class="hint" style="display:none;">The first alert is 'Silverado' and the second alert is 'F-350'. If the programmer chose not do use the <code>var</code> keyword within the function, the previously declared <samp>truck</samp> variable <em>outside</em> of the <samp>drive</samp> function would be the target and would be changed to 'Silverado' (ie., both alerts would be 'Silverado').</p>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/scope.js local  -->
      </pre>
    </figure>
    <h4>Arguments and Parameters</h4>
    <figure class="explain whitepaper">
      <figcaption class="note">
        <p>Something we often forget about is the nature of declared arguments as a way to usurp the scope of a variable. Arguments are scoped to the function they belong. A correct way of thinking about arguments might be <code>function (var something)</code> as we are declaring a variable to store whatever we pass in as a parameter. This is a good way of thinking about it, but never actually write var, it is a syntax error.</p>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/scope.js arguments  -->
      </pre>      
    </figure>
    <h4>Nesting Scopes</h4>
    <figure class="explain whitepaper">
      <figcaption class="note">
        <p>Once again, functions are objects, and objects can contain other objects. Declaring a function is declaring a variable, and if we can declare a variable within a function, it would seem like we should be able to declare a function inside another function—and we can. The important thing to remember is that a function will always go up the scope chain, all the way to the global scope if necessary. It will stop whenever it finds a variable with the name it seeks, and if no variable can be found with that name, it will be set to <em>undefined</em>.</p>
        <p>Spot the following: five named declarations, three scopes. Practice spotting the difference between function <em>declaration</em> and function <em>execution</em> (hint, try to keep a close eye on curly braces).</p>
      </figcaption>
      <pre class="prettyprint">
        <!-- review views/javascript/examples/scope.js nested  -->
      </pre>
    </figure>
  </section>
</article>
