<!DOCTYPE html>
<html>
  <head>
    <base href="/courses/gradebook/" />
    <title>[$title]</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/layout.css" media="screen" title="Layout Stylesheet" charset="utf-8"/>
    <script type="text/javascript">
      // <![CDATA[

      // ]]>
    </script>
  </head>
  <body>
    <header>
      <h1>[$title]</h1>
      <nav>
        <ul class="inline">
          <li><a href="manage/outline">Weekly Outline</a></li>
          <li><a href="manage/list/student">Students</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- replace content nextSibling -->
      <section>
        <h2>replace</h2>
      </section>
    </main>
  </body>
</html>
