<section>
  <h3>Why I care about this.</h3>
  <aside class="____ float left">
    <p>In the big working world where everybody is busy (read: doesn't care), I know that we get away with poaching things that weren't sprouted via personal ingenuity. The real world is actually far worse—most of the time nobody even cares if the work is worth doing.</p>
    <p>You can google just about anything, even in incoherent, malformed language and ole' google will do a pretty good job. Then there are better tools like <a href="http://stackoverflow.com/">stackoverflow</a> where we can find solutions. I do it myself, but I've also been googling for over a decade, so let me outline some stuff I know to be true.</p>
  </aside>
  <dl class="ordered chart ______ float left">
    <dt class="h3 strong">Google is an algorithm, not a human</dt>
    <dd>Search engines, believe it or not, don't give measured advice, they return probability. I'll start with an anecdote: A while back I searched <em>Tesla</em>, figuring I'd get <a href="https://en.wikipedia.org/wiki/Nikola_Tesla">Nikola Tesla's</a> Wikipedia page as the first result—the thing I was after.</dd>
    <dt class="h3 strong">The internet <em>occasionally</em> has mistruths</dt>
    <dt class="h3 strong">Resources have audiences</dt>
    <dd>Books, tutorials, seminars, etc., can be intended for primary school students or post-secondary degree canditates.</dd>
  </dl>
</section>
