<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="[$student:@name]" />
    <meta name="hours" content="0" />
    <title>[$student:@name, $title]</title>
    <!-- The capitalized paths below need to be adjusted -->
    <!-- Reminder, you’ll need ../ (up one directory)-->
    <link rel="stylesheet" href="./CORRECT/THIS/PATH/styles/global.css" />
    <link rel="stylesheet" href="[./styles/$embeds.css]" />
    <script src="[$domain/course/progress.js]" async="async">[$empty]</script>
	  <script src="./CORRECT/THIS/PATH/scripts/global.js">[$empty]</script>
    <script src="[./scripts/$embeds.js]">[$empty]</script>
  </head>
  <body class="[$embeds]">
    <header>
      <h2>[$student:@name]</h2>
    </header>
    <main>
      <!-- replace template -->
    </main>
    <footer>
      <p id='copyright'>[©20?? $student:@name]</p>
      <ul>
        <li><a href="[$domain/]">Course Outline</a></li>
        <li><a href="[$student:@url]">Site Index</a></li>
      </ul>
    </footer>
    <script type="text/javascript">
      // <![CDATA[
      // here is an example of a script directly embedded in a html document.
      // by the end of the semester this code snippit should make sense!

      var copy = document.querySelector('#copyright');
      // Construct a date object, and use the method below to get the year.
      var year = (new Date()).getFullYear();
      // we are using a function called `replace` to set the 20?? to an actual year
      copy.innerHTML = copy.innerHTML.replace('20??',  year);
      // ]]>
    </script>
  </body>
</html>
