<article id="css-specificity" data-classification="css intermediate selectors specificity">
  <h2>CSS Specificity</h2>
  <p class="margins">Calculating a  <a href="https://www.w3.org/TR/selectors/#specificity">selector’s specific value</a> is not something you will compute all that often, but there is a formula to be aware of. For those unfamiliar, there is a keyword called <code>!important</code> that <a href="https://www.w3.org/TR/CSS2/cascade.html#important-rules">overrides the cascade</a>. It is the nuclear option, and thus, it is frowned upon for all but the most rare of needs.</p>
  <p>At some point in the development of a project, one will attempt to apply a style, and not see that change implemented. That change is not implemented for one of two reasons, but they may appear to be the same depending on your debugging tools. The first is that you have a syntax error which can be corrected, but the second that your style is not applied because it is overridden. This can be confirmed in your web inspector or developer tools by seeing the property with a line-through or grayed out. It may be tempting to just put <code>!important</code> after the property you want to change, that is a dangerous solution.</p>
  <p>The thing to do...</p>

  <table class="full definitions">
    <style media="screen">
      

      .definitions tr td:last-of-type {
        border-right: none;
        font-weight: 600;
      }
      .definitions tr td:first-of-type {
        text-align: right;
        font-size: 2em;
        padding: 0.125em 1em;
        border-left: none;
      }

      .definitions caption { margin: 0 0 1em; }
      .definitions th { padding: 1em; }
      .definitions tr td:not(:first-of-type) { text-align: center }

      ._a { color: rgb(225, 95, 185) }
      ._b { color: rgb(45, 205, 140) }
      ._c { color: rgb(15, 100, 190) }

      span._a:after { content: '100' }
      span._b:after { content: '10' }
      span._c:after { content: '1' }

      td:hover span[class]:after { width: auto }

      td span[class]:after {
        width: 0;
        overflow: hidden;
        display: inline-block;
        /*someday: font-variant-position: sub;*/
        font-size: 0.5em; 
        font-weight: 400;
        padding: 0 0.125em;
      }
    </style>
    <caption class="rag-right container whitepaper">
      <h4>Calculating Selector specificity</h4>
      <aside class="half float left">
        <p>Selectors inside the negation pseudo-class are counted like any other, but the negation itself does not count as a pseudo-class. Concatenating the three numbers a-b-c (in a number system with a large base) gives the specificity: <strong>the higher the number, the greater the specificity</strong>.</p>
      </aside>
      <ul class="half float left">
        <li>count the number of ID selectors (= a)</li>
        <li>count the number of class selectors, attribute selectors, and pseudo-classes (= b)</li>
        <li>count the number of type (element) selectors and pseudo-elements (= c)</li>
        <li>ignore the universal selector (<code>*</code>)</li>
        <li>ignore <code>:not</code> pseudo selector itself, count the contents</li>
      </ul>
    </caption>
    <thead>
      <tr>
        <th>Selector</th>
        <th class="_a _">a</th>
        <th class="_b _">b</th>
        <th class="_c _">c</th>
        <th class="__">Specificity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>*</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td><span class="_c">li</span></td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td><span class="_c">ul</span> <span class="_c">li</span></td>
        <td>0</td>
        <td>0</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <td><span class="_c">article</span> > <span class="_c">ol</span> + <span class="_c">li</span></td>
        <td>0</td>
        <td>0</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <td><span class="_c">h1</span> + *<span class="_b">[rel=up]</span></td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>11</td>
      </tr>
      <tr>
        <td><span class="_c">footer</span> > <span class="_c">ol</span> > <span class="_c">li</span><span class="_b">.red</span></td>
        <td>0</td>
        <td>1</td>
        <td>3</td>
        <td>13</td>
      </tr>
      <tr>
        <td>* <span class="_c">li</span><span class="_b">.red</span><span class="_b">.level</span></td>
        <td>0</td>
        <td>2</td>
        <td>1</td>
        <td>21</td>
      </tr>
      <tr>
        <td><span class="_a">#x34y</span></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>100</td>
      </tr>
      <tr>
        <td><span class="_a">#s12</span>:not(<span class="_c">article</span>)</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>101</td>
      </tr>
    </tbody>
  </table>
  <footer>
    <p>A link to an <a href="https://css-tricks.com/specifics-on-css-specificity/">article</a> from <i>css tricks</i></p>
  </footer>
</article>
