<ul>
  <li>background-color</li>
  <li>background-image</li>
  <li>background-position (2 params)</li>
  <li>background-repeat (repeat | repeat-x | repeat-y | no-repeat)</li>
  <li>border-collapse (collapse | separate)</li>
  <li>border-color</li>
  <li>border-spacing</li>
  <li>border-style</li>
  <li>bottom</li>
  <li>color</li>
  <li>clear (none | left | right | both)</li>
  <li>display (none | inline | block | list-item)</li>
  <li>float (none | left | right)</li>
  <li>font-family</li>
  <li>font-size</li>
  <li>font-style (normal | italic | oblique)</li>
  <li>font-variant (normal | small-caps)</li>
  <li>font-weight</li>
  <li>height</li>
  <li>left</li>
  <li>line-height</li>
  <li>list-style</li>
  <li>list-style-image</li>
  <li>list-style-position</li>
  <li>margin</li>
  <li>overflow (visible | hidden | scroll | auto)</li>
  <li>padding</li>
  <li>position (static | relative | absolute)</li>
  <li>right</li>
  <li>text-align (left | right | center | justify)</li>
  <li>text-decoration (none | underline | overline | line-through)</li>
  <li>text-indent</li>
  <li>text-transform (capitalize | uppercase | lowercase | none)</li>
  <li>top</li>
  <li>width</li>
  <li>word-spacing</li>
  <li>visibility (visible | hidden)</li>
  <li>z-index</li>
</ul>
