/* keyframe animation */
@keyframes run {
  0%   { object-position: 100% 0 }
  100% { object-position: 0 0 }
}

img.filmstrip {
  display: block;
  height: 130px;
  width: 100%;
  object-fit:cover;
  object-position:0 0;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.25);
}

article#animation:hover img.filmstrip {
  animation: run 1000ms infinite steps(15);
}

/* end keyframe animation */