/* night */
.night { background-color:#7B2B83 }
.night > .attitude {
  color:#fff;
  font-family:fantasy;
}
/* end night*/
/* day */
.day { background-color: #FFCF01 }
.day > .attitude {
  color:#000;
  font-family:sans-serif;
}
/* end day */
