

/* media queries */
.responsive {
  background-color:tomato;
  border-radius:1em;
  font-size:1.5em;
  padding:2em;
  border:1em solid rgba(255,255,255,0.1);
  transition:all 1s;
}

@media only screen and (min-aspect-ratio: 2/1) {
  .responsive {
    background-color:lightgreen;
  }
}

@media only screen and (min-width:1200px) {
  .responsive {
    padding:1em 1em 5em;
    border-width:1px;
    border-radius:0;
  }
}

/* end media queries */
