/* media queries */
.responsive {
  padding:1em;
  transition:all 1s 0.5s;
  line-height: 1.5;
}

@media (min-aspect-ratio: 2/1) {
  .responsive {
    line-height:1;
    background-color:lightgreen;
  }
}

@media (min-width:1200px) {
  .responsive {
    margin: 2.5em;
    background-color:tomato;
  }
}

/* end media queries */
