/* english default */
html[lang='en'] q:before {
  content:'“';
  padding-right:0.075em;
}
html[lang='en'] q:after {
  content:'”';
  padding-left:0.15em;
}
/* end english default */

html q[lang='fr']:before,
html q[lang='de']:after {
  content:'«';
}
html q[lang='fr']:after,
html q[lang='de']:before {
  content:'»';
}
html q[lang='pl']:before {
  content: "„";
}
