/* transitions */
h2:not(.cutout):before {
  content: '✃';
  position:absolute;
  color:rgb(150, 230, 230);
  transform: rotate(50deg) scale(0.5) translate(-1.5em, 0.5em);
}
.cutout, .cutout > span {
  display:inline-block;
  position: relative;
  transition:transform 1s, box-shadow 1s;
}
.cutout > span {
  padding:0.15em;
  background-color:#FBFAF7;
}
.cutout:hover {
  box-shadow:inset 0 0 5px rgba(0,0,0,0.25);
}
.cutout:hover > span {
  transform: rotate(-1deg) scale(1.01) translate(0.25em, -0.25em);
  box-shadow:0.025em 0.025em 0.275em rgba(0,0,0,0.25);
}

/* end transitions */
