/* chaining */
.lined {
  border-style:solid;
  padding:1em;
}
.lined.top {
  border-top-width:1em;
}
.lined.bottom {
  border-bottom-width:1em;
}
.lined.purple {
  border-color: rgb(163, 100, 164);
}
.text.purple {
  color: rgb(163, 100, 164);
}
.lined.blue {
  border-color:cornflowerblue;
}
.text.blue {
  color:cornflowerblue;
}
.text {
  word-spacing:0.25em;
}
/* end chaining */


/* floating */

/* Used to add a generic border and padding
   to multiple elements */
.bordered {
  border:1px solid rgba(0,0,0,0.5);
  background-color:rgba(255,255,255,0.75);
  padding:1em;
}

/* ensure that our measurement system
   takes into account border and padding */
.box {
  font-size:2em;
  box-sizing:border-box;
}

/* note the chained styles*/
.first.box  { border-color: pink; }
.second.box { border-color:cornflowerblue; }

/* parent element controls if child floats */
.first > .first.box, .second > .second.box {
  float:left;
  width:50%;
  box-shadow: 0 0 0.25em  rgba(0,0,0,0.125);
  border-left-width:1em;
}

/* use of a 'clearfix' */
.box-container {
  overflow: auto;
}

/* end floating */
