/* chaining */
.lined {
  border-style:solid;
  padding:1em;
}
.lined.top {
  border-top-width:1em;
}
.lined.bottom {
  border-bottom-width:1em;
}
.lined.purple {
  border-color: rgb(163, 100, 164);
}
.text.purple {
  color: rgb(163, 100, 164);
}
.lined.blue {
  border-color:cornflowerblue;
}
.text.blue {
  color:cornflowerblue;
}
.text {
  word-spacing:0.25em;
}
/* end chaining */
