<footer class="student hud">
  <nav class="rag-left">
    <ul class="plain bar">
      <li>[$student:@name]</li>
      <li><a href="[/$student:course/dashboard]">Dashboard</a></li>
      <li><a href="mailto:bmetzger@colum.edu">Email Instructor</a></li>
      <li><a href="[$student:@url/]">Your IAM Site</a></li>
      <li><a href="http://iam.colum.edu/brendan.metzger/vids/">Lecture Videos</a></li>
      <li><a href="[/$student:course/]">[$student:course Outline]</a></li>
      <li><a href="[/$student:course/template]">Download Template</a></li>
      <!-- TODO: don't hard code course number here -->
      <li><a href="[/media/$semester-36-1420-$student::section:@id.pdf]">Syllabus</a></li>
      <li><a href="[/$student:course/logout]">Logout</a></li>
    </ul>
  </nav>
</footer>
