<article>
  <h1>Functions</h1>
  <h2>todo</h2>
  <ul>
    <li>Need to talk about declaring named functions</li>
    <li>Assigning functions</li>
    <li>implications of hoisting (advanced)</li>
    <li>executing or calling functions with () or .call, etc</li>
  </ul>

  <h2>Declaring Functions</h2>
  <h3>a function itself can be a variable declared through naming or through an expression.</h3>
  <h2>Executing functions</h2>
  <h2>Passing Functions</h2>
  <h2>returning things. like objects <code>someFunc().prop</code> vs someFunc('prop');</h2>
  <pre class="prettyprint">
    <!-- preview views/javascript/examples/advanced/functions.js 1..6 -->
  </pre>

  <h2>Reading</h2>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_j9ps8qrlyo">Chapter 5 Introduction</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Abstraction</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Abstracting Array Traversal</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_xxCc98lOBK">Higher Order Functions</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_7/X8BSjdvi">Passing Along Arguments</a>
  <a href="http://eloquentjavascript.net/05_higher_order.html#h_j9ps8qrlyo">Binding</a>
</article>
