<article>
  <h1>Functions</h1>
  <h2>todo</h2>
  <ul>
    <li>Need to talk about declaring named functions</li>
    <li>Assigning functions</li>
    <li>implications of hoisting (advanced)</li>
    <li>executing or calling functions with () or .call, etc</li>
  </ul>

  <h2>Declaring Functions</h2>
  <h3>a function itself can be a variable declared through naming or through an expression.</h3>
  <h2>Executing functions</h2>
  <h2>Passing Functions</h2>
  <h2>returning things. like objects <code>someFunc().prop</code> vs someFunc('prop');</h2>
</article>
