<article>

  <header>
    <h4 class="bottom ruled heart"> No. 0004</h4>
    <h1 class="massive">Lexical Scope</h1>
    <p class="intro _______">Recall for a moment, the beloved chestnut <q>Whatever happens in Vegas, stays in vegas?</q>. Now behold: Whatever variables are declared in a [block] scope stay in that block's scope. Let's explore.</p>
  </header>

  <section class="dropcap margins">
    <p class="______ m justified">Imagine an all-seeing, all knowing presense, out in the ether, beyond the multiverse. A presense so powerful it knows of the galaxies, stars, planets, corporate charters, sports teams, animals, fungi and bacteria it conjured into existence. It knows about them, how to talk to them, how to ask them things. Now imagine a universe precisely the opposite; <em>reverse the order</em> starting with the bacteria and ending with the stars, galaxies, the divine. This is the universe of <strong>lexical scope</strong>. To continue our metaphore, the bacteria, knows of itself and all the things that came before. It knows about all the things that make up its existence <em>and it knows how to talk to them</em>. Ending with the stars, galaxies, and the deity, it has all the answers. God, in this heretic metaphor, knows as much as the bacteria in our world.</p>
    <p class="_____ mm justified">Now, before you we get too excited about our incredible godlike bacterium, let's remember a major caveat of monotheism: gods don't seem to care (or know) much about other gods, and bacteria is no different. The bacteria, all knowing as it believes itself to be, doesn't know anything about the other bacteria it lives among, sharing it's world</p>
    <p class="____ mmm justified">I'll wrap it up even though we're delicately close to a philosophical breakthrough, let's end the metaphor and say that scope is the nested stucture of program. From deep within, scope means an area of a program that has access to the elements that were declared before, but not necessarily elements declared adjacent.</p>
  </section>

  <pre class="prettyprint"><!--  preview views/javascript/examples/scope.js 5..13 --></pre>

  <h2>call and apply</h2>
  <p>These let you execute a function and manipulate it getting it to have an identity crisis while it executes.</p>
  <h2>bind</h2>
  <p>lets you brainwash a function into changing it's identity. You execute it later on, and it is still brainwashed.</p>
  <script type="text/javascript">
    bloc.embed('javascript/examples/scope.js');
  </script>
</article>
