<article>
  <h2>Media</h2>
  <h3>Embedding Images</h3>
  <p>Images are very easy to work with, in fact, optimizing and saving images (say, in Photoshop) is actually difficult—and beyond the scope of this course. As such let’s just revisit the basic embed of an image.</p>
  <pre class="prettyprint">
    &lt;img src="valid/path.(jpg|png|gif|svg)" title="description" alt="alternative text (describe the image)"/&gt;
  </pre>
  <h3>Embedding Audio/video</h3>
  <p><a href="https://developer.mozilla.org#the-audio-element">Audio</a> and <a href="https://developer.mozilla.org#the-video-element">video</a> are only slightly more complicated. Depending on your format, you may have to supply multiple video types, but for the vast majority of users, an mp3 or m4a will work for audio or a mp4 for video.</p>
  <pre class="prettyprint">
    &lt;audio src="valid/path.(mp3|m4a)" controls="controls"&gt;
      Your browser does not support the audio element.
    &lt;/audio&gt;

    &lt;video src="valid/path.(mp4|mov)" controls="controls" poster="valid/path..(jpg|png|gif|svg)"&gt;
      Your browser does not support the audio element.
    &lt;/video&gt;
  </pre>
</article>
