<article>
  <h2>Quick Demo: <em>A Primer on marking up a document</em></h2>
  <p>Learning markup languages and appreciating them is what I hope to impart on you. Let’s start with what we know about nodes and unpack the notion that to markup is actually an analogue for this way of thinking. I gleaned some stuff from wikipedia and put together a <a href="/outline/resources/semantic-outline-raw.txt" class="download">plain text outline</a> that we can look at to begin understanding how a well sectioned document is appealing in many ways, and a decent way of structuring information.</p>
</article>
  