<article>
  <h2>The importance of semantic <abbr title="Hypertext Markup Language">html</abbr></h2>
  <p class="intro">There are many important reasons to write your markup semantically, and while one reason may have more personal importance to you than another together they make a pretty compelling case as to why this is <strong>requisite</strong>, not just a good idea. <q cite="http://www.webdesignerdepot.com/2010/03/fight-div-itis-and-class-itis-with-the-960-grid-system/">Clear, lean code offers many advantages. It’s easy to fix, quick to download and causes fewer problems across different types of browsers. Relevant tags help screen readers, search engines and mobile devices interpret meaning in addition to layout.</q></p>
  <section class="container whitepaper pulled">
    <img src="[$cdn/media/images/artificial-arm.png]" class="float right _____" style="mix-blend-mode:multiply;"/>
    <h4>Semantic structure is algorithmic</h4>
    <p>If not obvious by now, structuring a tree structure correctly means that a machine can make assumptions and parse a document efficiently. The obvious machine that comes to mind is a search engine.</p>
    <h4 class="tt">Semantic structure is data</h4>
    <p>Sloppy or improper use of an <abbr>html</abbr> <code>Element</code> will beget redundant and inconsistent <abbr>css</abbr> application. Further, imprecise, arbitrary use of <abbr >html</abbr> is an <strong>imprecise, arbitrary dataset</strong>. Now, I suppose it is quite evident at this point (or will be soon) that JavaScript is a programming language. What may not be clear to a novice, is that programs are almost completely useless <em>without structured data</em>.</p>
    <h4 class="tt">Semantic structure is thoughtful</h4>
    <p>Something we think about far too little, especially on the path to becoming designers is this fact: one-fifth of our society has a disability. Whether a user is born with or has acquired a paralytic disorder, or a vision or cognitive impairment, or has some other technological barrier, nobody should be barred from participation. Far too often the design community forgets this, sometimes out of arrogance, sometimes out of laziness. Well-structured documents help assistive technologies parse and deliver content as intended.</p>
  </section>
  
  <footer>
    <h3><strong>A reminder</strong>: Use all your Elements</h3>
    <p>The <code>div</code> and <code>span</code> Elements, while very important and useful to design, have no semantic meaning. Many—professionals even—overuse them unnecessarily. Remember, you’re first goal is to add semantic value to your markup and to generate good data. If there is a better substitute for the tag you are using, use it, ie <code>&lt;div class="address"&gt;</code> is not a better option than <code>&lt;address&gt;</code>. Make a habit of searching for and reviewing the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Elements available</a> whenever you are writing markup.</p>
  </footer>
</article>
