<article>
  <h1>[$assessment:student:@name – $assessment:assignment:@title]</h1>
  <form action="manage/assignment" method="post">
    <input type="hidden" name="assignment[@][ref]" value="[$assessment:assignment:@id]" />
    <input type="range" min="0" max="[$assessment:assignment:@points]" value="[$assessment:@points]"/>
    <label for="notes">Notes</label>
    <textarea name="assignment[CDATA]">[$assessment]</textarea>
    <input type="url" name='assignment[@][case]' value="[$assessment:@case]" placeholder="Enter Project url if available." />
  </form>
</article>
