<article>
  <form action="manage/person" method="post">
    <input type="hidden" name="student[@][id]" value="[$student:@id]"/>
    <input type="text" name="student[@][name]" value="[$student:@name]"/>
    <input type="text" name="student[@][url]" value="[$student:@url]"/>
    <input type="email" name="student[@][email]" value="[$student:@email]"/>
  </form>

  <section>
    <h1>Graded</h1>
    <ul>
      <!-- iterate student:graded -->
      <li>
        <strong><a href="[manage/grade/$student/$assignment:@id]">[$assignment:@title]</a></strong>
        <em>[$grade:@points / $assignment:@points]</em>
        <span>[$grade]</span>
      </li>
    </ul>
  </section>

  <section>
    <h1>Ungraded</h1>
    <ul>
      <!-- iterate student:assigned -->
      <li><a href="[manage/grade/$student/$assignment:@id]">[$assignment:@title]</a></li>
    </ul>
  </section>
</article>
