<article class='epilogue'>
  <h4 class="centered">epilogue</h4>
  <h1 style="display:none;">Confidence and Humility</h1>
  <section class="indented dropcap three columns">
    <h2 class="centered"><q>The Greatest</q></h2>
    <hr class="ruled"/>
    <p>Imagine yourself at the starting line of a big race. You've been telling all the other racers that you’re the fastest out there. <q>Hell, I didn’t even train for the race</q> you declare, <q>racing is easy!</q> You saunter up to the starting block, confident and nonchalant. You take your mark, the gun goes off… you shoot off the blocks, and while it hasn’t once occurred to you, the spectators notice that your shorts don’t fit and your drawstring dangles about.</p>
    <p> Five meters in, your shorts are slinking and by ten you've stumbled, your shorts are twisted around your ankles and you tumble. Everyone is embarrassed except you. Your indignant, the only plausible explanation is that someone has played a prank on you.</p>
    <p>You demand a scratch and the officials acquiesce (after all, this is race for beginners). You take your mark, unfazed, drawstring untended. The gun goes off, your shorts go down, as do you, moments later.</p>
    <p>As such, the moral of this story: Sweat the small stuff and balance confidence with a little humility. Even the best among us make mistakes and try to better themselves. <q cite="http://www.yasminmogahed.com/">Never curse a fall. The ground is where humility lives.</q> - <em>Yasmin Mogahed</em></p>
  </section>
  <blockquote cite="https://en.wikipedia.org/wiki/Margaret_Mead" class="centered tt bb m ________">
    <p><q>What people say, what people do, and what they say they do are entirely different things</q></p>
    <p>– Anthropologist Margaret Mead</p>
  </blockquote>
  <section class="indented dropcap three columns">
    <h2 class="centered"><q>The Worst</q></h2>
    <hr class="ruled"/>
    <p>Today is the day of the big race. You've been hearing from the other racers about how fast they are. <q>I can barely even jog…</q> you think to yourself. You slink to the starting block, terrified and cautious. Though obvious to the officials and spectators, it hasn’t once occurred to you that everyone competing in this race is at precisely your level.</p>
    <p>Moments after the gun goes off the officials have signaled it over. Someone has tripped over their pants and they are making a scene. You feel bad, confidence at an all time low; the fastest person in the race just tripped and fell! The officials are going to start the race over because the fastest people <em>are supposed to win</em>.</p>
    <p>You re-take your mark, defeated before you even take a step. Moments later, the race is over and you finish feeling little accomplishment and you never considered winning the race an option.</p>
    <p>As such, the moral of this story: Do not compare yourself to someone else. Not only is it inaccurate, but it is unproductive. <q cite="https://en.wikipedia.org/wiki/Ernest_Hemingway">There is nothing noble in being superior to your fellow man; true nobility is being superior to your former self.</q> - <em>Ernest Hemingway</em></p>
  </section>
</article>
