<section class="epilogue">
  <h4 class="centered">End-notes</h4>
  <h2>Design Thinking</h2>
  <section class="three columns outdented ruled">
    <p>Designers, programmers, mathematicians, and artists all fancy themselves some sort of special breed of thinker. Designers have this gift of intuition and solving the tangible, programmers will efficiently solve any problem in the most efficient way, mathematicians dive into the limits of the known, and artists push the boundaries of what can be expressed. Anyway, the glut of literature (ahem, blogs) written by those championing their craft would seem to indicate this, and in my own moment of opining, I consider such beliefs a bit naïve—or perhaps arrogant if not.</p>
    <p>Part of my own journey in learning design, programming, mathematics and artistry is a dogged pursuit of uniqueness—that is, letting the things in my mind be expressed in a way that is thoughtful, intentional and necessary. Architecture is an interesting profession that takes design, art, math and programming seriously; it is so ancient and necessary to our wellbeing, and one of the few places where we as humans still treat <dfn>craft</dfn> earnestly. Fascinating to me, young people are quite literally not allowed to be exceptional architects; they must apprentice, study, be gainfully employed and be tested early in their career before beginning an independent practice. That is a steadfast belief in the principles of <dfn>craft</dfn>.</p>
  </section>
  <blockquote cite="Louis Khan" class="centered tt bb">
    <p><q>Design is not making beauty; beauty emerges from selection, affinities, integration, love.</q></p>
    <p><em>Architect <a href="https://en.wikipedia.org/wiki/Louis_Kahn">Louis Khan</a></em></p>
  </blockquote>
  <section class="three columns outdented ruled">
    <p>Revisiting our creative-thinker archetypes, one can label their gifts in a less positive light just as easily. Designers and their gift of aesthetic could be a product of inflated ego. Programmers and their gift of efficient optimization is laziness and repetition (and sometimes piracy). Mathematicians flying the flag of abstract, novel thought might be true were mathematics not delivered in  most mechanical, rote fashion in every curriculum I've ever participated in. And in summation, this notion of the typecast artist some special idiosyncratic individual <em>drives me bananas</em>.</p>
    <p>I'm hardly pedigreed to say such things, and like all all opinions, it is deeply biased against my own experiences. Academically, my studies can be broken into blocks of obsessive fascination followed by overwhelming self-doubt: architecture, computer science, architecture again, interactive design and ending with mathematics. Professionally, I have only worked as an interactive designer and programmer, but all those fascinations have lingered and intensified throughout my career.</p>
  </section>
  <ul class="stylized tt star">
    <dt>Design</dt>
    <dd>Design is the dogged and rigorous pursuit of the ideal solution to any problem case regulated by specific criteria.</dd>
    <dd>Design, above all else, is truthful. In its essence it does not deceive nor does not equivocate; it does not have ego.</dd>
    <dt>Programming</dt>
    <dd>A great programmer should look at a program and syntax the way a carpenter would look at a chisel. Yet programmers from my experience build a metaphorical structure, lauds its perfection, then brags about their chisel all day.</dd>
    <dd>In that vein, an antique chisel, perhaps old or typical will still create beautiful work when maintained and treated with care. You should strive to let the tool be the tool, and express what you can do with that tool a little better, a little differently each time.</dd>
    <dt>Mathematics</dt>
    <dd>The joy of mathematics comes from embracing abstraction, and in that way, it goes the farthest down the rabbit hole of what exactly it could means to be human.</dd>
    <dt>Artistry</dt>
    <dd>Artistry is not an occupation. It is simply an adjacent word describing the transcendence that can take place in occupation involving craft.</dd>
    <dd>Artistry is that gift that turns something arbitrary into something that manipulates the mind, for <a href="https://en.wikipedia.org/wiki/Guernica_(Picasso)">better</a> or <a href="https://en.wikipedia.org/wiki/Advertising">worse</a></dd>
  </ul>
  <hr/>
  
</section>
