<article>
  <h1>you’re doing it wrong</h1>
  <p>Many articles about programming, especially coming from the <a href="https://en.wikipedia.org/wiki/Technology_evangelist">evangelist</a> community, tend to follow the same formula. They start with some premise of when everything was lame, moving on to when they realized how great whatever language or program they are writing about took ahold of them. They usually conclude with a measured arugment of how if you aren't employing these techniques you are misguided.</p>

  <p>Truth be told, a lot of their arguments are accurate, maybe even the last one, but I still want to give it my caveats.</p>

  <ol>
    <li>Not everything needs to, or will ever need to scale</li>
  </ol>
</article>
