<article>
  <h2>Naming Conventions</h2>
  <p class="intro">This is both the easiest thing to learn, also the hardest hardest, and worth revisiting often. As you get more familiar with writing source code, your efforts transcend from <q>getting it to work</q> into <q>getting it to work in a way someone else can understand</q>.</p>
  <blockquote class="quote centered" cite="Douglas Crockford">
    <p>In programming, saying <q>that hardly ever happens</q> is just another way of saying <q>it happens.</q></p>
    <em>Douglas Crockford</em>
  </blockquote>
  <section class="three columns indented t">
    <p><a href="https://en.wikipedia.org/wiki/Naming_convention_(programming)#JavaScript">Naming Conventions</a> are a set of rules for choosing the character sequence to be used for identifiers, be it classes, IDs or variables in JavaScript. In HTML distinguishing between upper and lowercase is not extremely important for correct page rendering, but tag names should be in lowercase—that's a rule, not a recommendation. In CSS and JavaScript, upper and lowercase words are note the same. Whitespace is another obstacle—css classes and IDs cannot start with a number, and cannot contain any whitespace. In many ways, learning to program is simply learning to become <strong>extremely</strong> careful about typing.</p>
    <p>This is something you generally learn over time, but standard cleverness/carefulness applies now. You can prefix and suffix IDs with common words to keep them unique but class-like. You can develop some taxonomy for CSS for common usage. In JavaScript—and really all programming—developers take this to another level. Not only is important to be consistent in your own work, there are many agreed upon conventions and techniques. Concerning JavaScript, <a href="http://www.j-io.org/Javascript-Naming_Conventions">browse these conventions</a> and try to begin implementing some of the techniques.</p>
  </section>
  <section class="container whitepaper tt">
    <aside class="___ float left note">
      <p class="pad">While not particularly noteworthy, consistency is something that takes a lot of practice and effort. Try to keep your variable names, class names and any other name in a fashion where you (and others!) can make sense of what your code is doing.</p>
    </aside>
    <div class="_______ float left">
      <h3>snake_case</h3>
      <p><a href="https://en.wikipedia.org/wiki/Snake_case">Snake case</a> is a way of having multi-word strings by replacing white space with an underscore. In CSS, it's common to use a hyphen (-) as well.</p>
      <h3>camelCase</h3>
      <p><a href="https://en.wikipedia.org/wiki/CamelCase">Camel Case</a> is when you separate multi-word strings by replacing white space with the adjoining word converted to uppercase.</p>
    </div>
  </section>
</article>
