<article>
  <h1><a href="https://en.wikipedia.org/wiki/Proportional_reasoning">Proportional Reasoning</a></h1>
  <h2>Defining 2 variables as separate units vs a ratio.</h2>
  <p>You can use height width separate, but what if they need to be entwined.</p>
  
  <p>There are two variable concepts to get clear in your head as an interactive designer: Type size, and viewport size. Everything else can be worked backwards from there, with a <a href="/overview/glossary#are-px-ok">new notable exceptions</a>.</p>
</article>
