  <article id="web-development-workflow" class="margins" data-classification="advice web-development">
    <h2>The Web Development Workflow</h2>
    <p><a href="http://en.wikipedia.org/wiki/Mise_en_place">Mis en place</a>, is a French culinary phrase which means <q>everything in its place,</q> because it is the one thing anyone learning something technical <strong>easily implement</strong>. Organization of, and skill utilizing tools is requisite in any profession involving precision and craft. Having the proper resources and tools (and learning their correct usage) will both reduce the amount of mistakes and increase the amount of joy you feel with your efforts. I sincerely promise, learning a few tools efficiently will change the trajectory of your time in front of a computer forever.</p>
    <section class="tt">
      <h3>The Web Developer’s Fundamental Toolkit</h3>
      <ul class="pad stylized star">
        <li>A text editor, or more accurately, a <a href="https://en.wikipedia.org/wiki/Source_code_editor">Source Code Editor</a>. There many options, too many to list. In class I will most likely use  <a href="http://brackets.io/">Brackets</a>, but there are many available you can investigate on your own.</li>
        <li>A modern <a href="https://en.wikipedia.org/wiki/Web_browser">web browser</a> (I suggest Google Chrome as it will be what I use in class)</li>
        <li>A <a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol"><abbr title="File Transfer Protocol">FTP</abbr> Client</a></li>
        <li>The <a href="https://developer.chrome.com/devtools">Web Development console</a>; built into modern browsers and we will use the hell out of it.</li>
        <li>The <abbr title="World Wide Web Consortium">W3C</abbr> Validators for <a href="https://validator.w3.org/">Markup</a> and <a href="https://jigsaw.w3.org/css-validator/">Cascading Style Sheets</a></li>
        <li>Awareness of documentation and resources (Such as <a href="https://developer.mozilla.org/en-US/">The Mozilla Developer network</a> [preferred] and <a href="http://www.w3schools.com/">W3Schools</a>)</li>
        <li>Typing proficiency (or practice if needed), and the learning of keyboard shortcuts.</li>
        <li>Understanding how to use <a href="https://en.wikipedia.org/wiki/Software_documentation">Software Documentation</a> <em>Documentation as a tool</em>; reading and writing documentation are skills to acquire.</li>
        <li>As far as this class is concerned, ake sure you poke around <a href="https://www.lynda.com/">Lynda.com</a>—I'll reference it frequently.</li>
      </ul>
    </section>
    <section class="tt">
      <!-- example views/javascript/docs/runner.md html -->
      <h3>Web Development as a Process</h3>
      <p>Iteration is not only beneficial for idea generation, but it also is paramount to successful project management. There are several things that impede good work—especially for those just starting. One of them is knowing where to start. Another is feeling like you grasp the material enough to actually author it yourself. The last, and biggest hurdle, is actually completing a project on time and satisfying clients.</p>
      <hr class="ruled tt bb"/>
      <div class="container margins t">
        <h4 class="vertical">Starting</h4>
        <p>Starting the idea for a project is difficult—especially when you have not had a bolt of inspiration. The way around this is to simply start and not look for something profound to happen right away. Designers should right away learn to not treat their work as precious.</p>
        <p>Many professional designers know that a process of iterative improvement works well. You research topics, you sketch, you research, you refine the sketch, you research, you erase parts of the sketch and start over. Though the tool in this class is a keyboard and abstract symbols, we will honor the same iterative process; learn and research a little bit, get the fingers on a keyboard and apply an idea and stretch it out. Go to bed and do that again the next day for a little bit. <em>Do not expect anything profound to happen</em>—great design comes from lots of little steps that add up to something bigger.</p>
        <h4 class="vertical">Authoring</h4>
        <p>Authorship is not something to undervalue. Essentially it implies that you understand the techniques involved and the decision made to produce an outcome of your choosing. This is what separates professionals from amateurs.</p>
        <p>Process plays the key role in authorship—and this course will encourage that iterative process. There is a technique {insert actual technique} in <abbr title="Interaction Design">IxD</abbr> that says the best way to prevent mistakes is to make them impossible. I will insure that plagiarism cannot exist by regulating the process by which you author material in this course.</p>
        <p>The way this is done is through iterative development. That means that spending 5 straight hours in one sitting—which is not recommended anyway—is worth the less than spending an hour <em>a few days of the week</em>. The goal of stringing together several hours here and there is much more beneficial than the <a href="https://en.wikipedia.org/wiki/Waterfall_model">waterfall approach</a>—both in developing concepts as well as refactoring design decisions.</p>
        <h4 class="vertical">Finishing</h4>
        <p>Finishing to some satisfying endpoint has many facets: personal, academic and of course, acknowledgement from your peers and advisors. In some ways, finishing is impossible—there is always something that can be tuned or adjusted, continued research leads to better and more interesting solutions. Knowing when to finish and move on is actually a skill that could be considered heuristic—that is, a personal solution may be best found through trial and error or a hands-on approach.</p>
        <p>Finishing to a satisfactory end also means that you <em>started</em> in a very different place. A finished project is an order of magnitude different than the one you started with, and if it is not, then either you are the world’s best planner, or the project is likely pedestrian in concept and execution.</p>
      </div>
    </section>
    <style type="text/css" media="screen">
      <!-- example views/javascript/docs/runner.md css -->
      /* <![CDATA[ */
      .instagram {
        filter: contrast(1.4) invert(0.2) saturate(2.5) sepia(0.2);
      }
      /* ]]> */
    </style>
    
    <script type="text/javascript">
      <!-- example views/javascript/docs/runner.md javascript -->
    </script>
    <footer>
      <p>Check out <a href="/javascript/docs/runner.md">the running man</a></p>
    </footer>
  </article>