.code,
.code *,
.notate:after,
*[data-markup]:before,
code,
code *,
pre {
  font-family: var(--mono);
  white-space: pre;
  letter-spacing: 0;
  font-style: normal;
  tab-size: 2;
}

samp {
  color: #333;
}

.notate:after {
  background-color: rgba(255,255,255,0.75);
  padding: 1em;
  font-size: 0.75em;
  word-break: break-all;
  content: attr(style);
  display: block;
  margin: 1em 0 0;
  white-space: pre-line;
}

.explain, .split {
  display: flex;
}

.split > * {
  width:50%;
  margin:2em 1em;
}

.explain.whitepaper, .split.whitepaper {
  box-shadow:0 0 2.5em rgba(0,0,0,0.05);
  margin:2.5vw -2.5vw;
  padding:0 1em;
}

.explain.whitepaper > * {
  padding:2rem 1.5rem;
}

.explain > *:nth-child(2) {
  flex:1 0 auto;
  min-width:25%;
  box-shadow: inset 0.35em 0 0.5em -0.5em rgba(0,0,0,0.35);
  background: linear-gradient(90deg, rgba(255,255,255,0.5), transparent);
}

code sup {
  color: #333;
  font-size: 75%;
  padding: 0 0.25em;
}

code span.typ {
  font-style: italic;
}

pre {
  font-size: 1.5em;
  overflow: auto;
  margin: 0;
  line-height: 1.5em;
}

code.block {
  display: block;
  font-size: 1.5em;
}

.documentation dt {
  font-weight: 400;
}

.documentation dl code {
  font-size: 125%;
}

span[data-type] {
  padding: 0 0.5em;
}

code {
  font-weight: 100;
  color: rgb(230, 100, 150);
  white-space: nowrap;
}

pre.plain-text {
  white-space: pre-line;
  padding: 2em;
}

.soft-wrap pre {
  white-space: pre-wrap;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  padding: 0.5em 0.75em;
  border-color: rgba(0,0,0,0.05);
}

dt pre.prettyprint {
  margin: 1em 0 0.5em;
}

pre.float {
  border-width: 0 0 0 1px;
}

pre.whitepaper {
  border: none;
  box-shadow: -0.075em 0.075em 0.25em 0.075em rgba(0,0,0,0.05);
}

pre .nocode {
  background-color: none;
  color: #000;
}

pre .str {
  color: #ffa0a0;
}
/* string  - pink */
*[data-type],
pre .kwd {
  color: #db2964;
}

pre .com {
  color: rgba(39, 164, 214, 0.8);
}
/* comment - skyblue */
.typ {
  color: #72b072;
}
/* type    - lightgreen */
pre .lit {
  color: #c76c6c;
}
/* literal - darkred */
pre .pun {
  color: #333;
  padding: 0 0.085em;
}
/* punctuation */
pre .pln {
  color: #333;
}
/* plaintext */
pre .tag {
  color: #a77abd;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #72b072;
}

*[data-markup] {position:relative;}
*[data-markup]:before {
  content: "<" attr(data-markup) ">";
  position: absolute;
  top: calc(-1.5em - 1px);
  right: -1px;
  border-radius: 0.25em 0.25em 0 0;
  background-color: #fff;
  line-height: 1;
  padding: 0.25em 0.5em;
  color: rgba(0,0,0,0.65);
  font-size: 1.5em;
  border: 1px solid #eee;
  border-bottom-width: 0;
}


pre[title]:before {
  position:relative;
  top:-0.5em;
  font-style:italic;
  text-transform:uppercase;
  letter-spacing:0.125em;
  text-align:right;
  color:#777;
  border-bottom:1px solid #AAA;
  padding:0.25em 1em;
  display:block;
  content: attr(title);
}


/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #777;
}
ol.linenums li {
  border-top:none;
  border-bottom:1px dotted #EEE;
  padding:0.125em;
}
ol.linenums li:last-of-type {
  border:none;
}

