pre {
  font-family:Inconsolata;
  font-size:1.5em;
  overflow:scroll;
  margin:0.5em 0;
  line-height:1.5em;
}

code.block {
  display:block;
  font-size:1.5em;
}

code {
  background-color:rgba(131, 154, 224, 0.1);
  border-bottom: 1px solid rgba(131, 154, 224, 0.5);
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block;border-width:0 0 0 1px !important;padding:0 1em !important;}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #db2964; font-weight: bold }
pre .com { color: rgba(39, 164, 214, 0.8) } /* comment - skyblue */
pre .typ { color: #72b072 } /* type    - lightgreen */
pre .lit { color: #c76c6c } /* literal - darkred */
pre .pun { color: #333;padding:0 0.085em; }    /* punctuation */
pre .pln { color: #333 }    /* plaintext */
pre .tag { color: #cfbc16; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #72b072 } /* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */

/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }
