ul.scores {
  margin:1px -1em 0 0;
  display:flex;
  position:relative;
  top:-0.25em;
  z-index:0;
}

ul.scores.discourse li {
  flex:1 0 6%;
}

ul.scores.practice li {
  flex:1 0 10.35%;
}
ul.scores.project li, ul.scores.quiz li {
  flex:1 0 50%;
}

ul.scores li {
  display:block;
  display:border-box;
  height:2px;
  color:transparent;
  padding:0;
  overflow:hidden;
  margin:0;
  border-left:1px solid rgba(255,255,255,0.75);
}

.percentage[title^='A'], .A {
  color: rgb(106, 194, 136);
}
.percentage[title^='B'], .B {
  color:rgb(216, 218, 129);
}
.percentage[title^='C'], .C {
  color:rgb(134, 149, 231);
}
.percentage[title^='D'], .D {
  color: rgb(150, 109, 149);
}
.percentage[title^='F'], .F {
  color:rgb(218, 75, 122);
}
.marked[title^="A"] {
  background-color:rgba(151, 207, 150, 0.5);
}
tr.marked[title^="A"] {
  background-color:rgba(157, 223, 126, 0.15);
}
.marked[title^="B"] {
  background-color:rgba(217, 216, 111, 0.5)
}
tr.marked[title^="B"] {
  background-color:rgba(217, 216, 111, 0.1);
}
.marked[title^="C"] {
  background-color:rgb(105, 178, 191);
}
tr.marked[title^="C"] {
  background-color:rgba(105, 178, 191, 0.1);
}
.marked[title="D"] {
  background-color:rgb(232, 154, 116);
}
tr.marked[title="D"] {
  background-color:rgba(232, 154, 116, 0.1);
}
.marked[title="F"] {
  background-color:rgba(245, 52, 4, 0.5);
}
tr.marked[title="F"] {
  background-color:rgba(245, 52, 4, 0.1);
}
.transpired.marked[title="-"] a {
  color:rgba(215, 125, 150, 1);
}
.transpired.marked[title="-"] {
  background-color:rgba(215, 125, 150, 0.5);

}

ul.scores li.open {
  background-color: rgba(0,0,0,0);
}
ul.scores li.pending.open {
  background-color:rgba(0,0,0,0.05);
}

.over, .under, .meet {
  border-left-width:0.5em;
  border-style:solid;
}
.over {
  border-color:rgb(219, 228, 176);
}
.under {
  border-color:rgb(169, 201, 182);
}
