html.VOID { color:#333;font-family: 'Courier New', Courier;background:linear-gradient(225deg, hsla(145, 95%, 75%, 0.25), #fff); min-height:100vh;}
html.VOID body { padding:5vmax;margin:0;}
html.VOID * { font-weight:200;box-sizing:border-box; }
html.VOID code { color:#EE2E24; }
html.VOID ul {list-style-type:square;}
html.VOID a { color:hsla(145, 20%, 50%, 1);text-decoration:none; }
html.VOID a:hover {text-decoration:underline;}
html.VOID mark { background-color: hsla(60, 100%, 75%, 1);}
html.VOID article { background-color:#fff;padding:10vmax;margin:2em 0 2em -5vmax;box-shadow:0.125em 0.125em 0.125em rgba(0,0,0,0.1);}
html.VOID h1 { text-transform: uppercase;letter-spacing:0.125em;border-bottom:2px solid #333;display:inline-block;padding:0 1em 0 0.25em;}
html.VOID blockquote { padding:5vmax;margin:2em -5vmax;background-color:#fff;box-shadow:0 0 1em rgba(0,0,0,0.05);max-width:75%;}
html.VOID blockquote p:not(:last-of-type) {font-size:5vmin;font-family:Baskerville, Times, Georgia;line-height:1;font-style:italic;}

@keyframes pulse {
  0% {transform:rotate(-1deg);}
  100% {transform:rotate(2deg);}
}

html[data-warn]:before {
  position: fixed;
  content: attr(data-warn);
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  top: -0.5em;
  right: -0.5em;
  z-index: 10;
  padding: 1.5em 1.5em 1em;
  font-family: 'Courier New', monospace;
  animation: pulse 1s ease-in infinite alternate;
  text-transform:uppercase;
  transform-origin:0% 0%;
  border:2px solid #fff;
  border-radius: 0 0 0 1em;
}