html.VOID { color:#333;font-family: 'Courier New', Courier;background:linear-gradient(225deg, hsla(145, 95%, 75%, 0.25), #fff); min-height:100vh;}
html.VOID body { padding:5vmax;margin:0;}
html.VOID * { font-weight:200;box-sizing:border-box; }
html.VOID code { color:#EE2E24; }
html.VOID ul {list-style-type:square;}
html.VOID a { color:hsla(145, 20%, 50%, 1);text-decoration:none; }
html.VOID a:hover {text-decoration:underline;}
html.VOID mark { background-color: hsla(60, 100%, 75%, 1);}
html.VOID article { background-color:#fff;padding:10vmax;margin:2em 0 2em -5vmax;box-shadow:0.125em 0.125em 0.125em rgba(0,0,0,0.1);}
html.VOID h1 { text-transform: uppercase;letter-spacing:0.125em;border-bottom:2px solid #333;display:inline-block;padding:0 1em 0 0.25em;}
html.VOID blockquote { padding:5vmax;margin:2em -5vmax;background-color:#fff;box-shadow:0 0 1em rgba(0,0,0,0.05);max-width:75%;}
html.VOID blockquote p:not(:last-of-type) {font-size:5vmin;font-family:Baskerville, Times, Georgia;line-height:1;font-style:italic;}

html[data-warn]:before {
  position: fixed;
  content: attr(data-warn);
  background-color: hsla(0, 75%, 75%, 0.95);
  color: #fff;
  top: 1em;
  right: 1em;
  z-index: 10;
  padding: 1em;
  font-family: 'Courier New', monospace;
  width: 5em;
}