.review {
  color:#fff;
  background-color:rgba(0,0,0,0.75);
  padding:1.5em 2.5vw;
  box-shadow:inset 0 0 5em rgba(0,0,0,0.125);  
  margin:1em -2.5vw;
}

.review dt {
  margin:0.75em 0;
  font-size:1.75em;
}
.review dd {
  border:none;
}
.review a {
  color:rgb(186, 203, 241);
  text-shadow:none !important;
  background-image:none;
  padding:0;
}
