<article id="attribution-and-fair-use" class="page" data-classification="policy">
  <h2>Attribution and Fair Use</h2>
  <p class="intro">An anecdote and oft-cited example, <q>to</q> <q>be</q> <q>or</q> <q>not</q> <q>to</q> <q>be</q> are short, insignificant words, but in that order, they are famous and remarkable.</p>
  <section class="full three indented columns dropcap">
    <p>It takes about two minutes of online searching to yield mountains of well-respected and readily available projects to view, take inspiration from, and borrow. In the briefiest version possible, name that inspiration (person or org) and mention the place (<abbr title="Uniform Resource Identifier">url</abbr>) you found it and I we won’t schedule an uncomfortable conversation for when you don’t.</p>
    <p>It will seem to you that program code is cryptic nonsense and cannot possibly be written by an actual human. Be warned, it is written by humans, and to humans that write a lot of code (ahem… me), its quite easy to identify an author vs. a cut &amp; paster. Do not put yourself in a position where you are defending yourself against plagiarism—even if you meant no harm, at this level, integrity and authorship matters, and you will get in a heap of trouble for this. Regretably—<strong>and this seriously bums me out</strong>—turning in work you've copied is on the shortlist of extremely disrespectful things you can do to an instructor who is trying to help and guide you.</p>
  </section>
  <section class="container tt">
    <h3>Academic Integrity</h3>
    <aside class="___ float left t rag-left">
      <p class="outdented">I really don’t expect to see any blatant plagiarism—regardless, here is the writing on the wall. You should read and understand this plainly and ask to have a discussion if you are unclear. <u>No matter what you think the assignment is, or how creatively you try to spin it, you should never think that finding something and putting your name on it or changing a few variables makes it yours</u>. This really isn’t hard to avoid, so mind the checklist at right and you will be in fine shape.</p>
    </aside>
    <div class="comparison _______ float left whitepaper">
      <h4>Review</h4>
      <p>When looking at your work, you will be able to check these boxes. If not, make a detailed <a href="https://en.wikipedia.org/wiki/README">README</a> file and explain your methods or reasoning.</p>
      <div class="tt">
        <label class="h5">
          <input type="checkbox" />
          <span>Any single thing you did not literally type with the tips of your own fingers has been cited (licences, authors, etc)</span>
        </label>
        <label class="h5">
          <input type="checkbox" />
          <span>Removal of 3<sup>rd</sup> party work leaves your project intact conceptually or artistically</span>
        </label>
        <label class="h5">
          <input type="checkbox" />
          <span>The plugin/framework has been modified for use in your project</span>
        </label>
        <label class="h5">
          <input type="checkbox" />
          <span>Images, text, and other personalized content are within your copyright</span>
        </label>
        <label class="h5">
          <input type="checkbox" />
          <span>You can answer questions that speak to both functionality and design intent</span>
        </label>
      </div>
    </div>
  </section>
  <section class="tt">
    <h3>Style vs. ⌘V</h3>
    <p>One of the main areas of concern when evaluating student student work comes down to effort, and if you try, I'll be your champion. If I start to suspect that your work suffers on this front, I’m going to raise an eyebrow. Allow me to elaborate…</p>

    <section class="explain container t b">
      <aside class="margins note">
        <p>Without giving away all my tricks, let us gander at the adjacent <abbr title="cascading stylesheets">CSS</abbr> snippit. </p>
        <ul>
          <li>The selector class names are first using a hyphen then an underscore in the second.</li>
          <li>The <code>.style-b</code>'s opening bracket is on its own line.</li>
          <li><code>.style_a</code> uses tabs, <code>.style-b</code> uses spaces (<a href="https://www.youtube.com/watch?v=SsoOG6ZeyUI">you'd be surprised</a>)</li>
          <li>The units have changed from <code>px</code> to <code>em</code> for no conceivable reason.</li>
          <li>There is an extra space after the colon in the first style… typo? Who’s to say.</li>
        </ul>
      </aside>
      <pre class="prettyprint">
        <!--  preview views/css/examples/bad.css 2..9 -->
      </pre>
    </section>
    <p><strong>That’s 4 <a href="https://en.wikipedia.org/wiki/Programming_style" title="programming syntax becomes very consistent when a particular style is employed">stylistic</a> differences between two statements</strong>! I want everyone to understand the following from today forward: both examples are correct in terms of functionality. The glaring problem: <mark>inability to write syntax consistently indicates one is copying or guessing</mark>—and both are disappointing.</p>
  </section>
  <section class="whitepaper tt">
    <h3>Bottom line</h3>
    <ul class="stylized cross">
      <li>You can (and should) scour the internet for resources</li>
      <li class="discuss">Cite anything that made it’s way into your document if it got there via via cut/paste</li>
      <li>Annotate any work you are unclear about</li>
      <li>When in doubt, ask me ahead of time.</li>
      <li>Pay attention in class. Ignoring the discussed material in favor googlin' <a href="https://en.wikipedia.org/wiki/Deprecation">deprecated</a> tutorials is high-risk behavior.</li>
      <li>don’t employ techniques that go over your head—there is little to be gained.</li>
      <li>don’t turn in <em>my examples</em> given during class as solutions</li>
    </ul>
  </section>
</article>
