<article id="coursework">
  <style media="screen">
    details.whitepaper {
      border-top:1px solid #AAA;
    }
  </style>
  <h2>Coursework and Grading Policies</h2>
  <section class="margins indented b">
    <p>Because of the large amount of material I plan to cover, we will go at a brisk pace. This may present a challenge to some but it is not impossible. In fact, making mistakes and misunderstanding the material will not present an issue with me; paying attention, showing improvement week-by-week, and making the effort to engage with the material should be your primary concern. <strong>I will teach you that you do not have to work hard to go far, you must learn to work efficiently</strong>. If you and your classmates rise to this challenge, it will <a href="https://en.wikipedia.org/wiki/Pygmalion_effect">benefit everyone.</a></p>
    <p>The following four areas below represent the criteria for evaluating your work and progress. You can revisit and review your grade, get my feedback, and check due dates anytime on <a href="[/$student:course/dashboard]">your dashboard</a></p>
  </section>
  <!-- insert views/topics/_policy/participation-and-attendance.html -->
  <!-- insert views/topics/_policy/practice.html -->
  <!-- insert views/topics/_policy/project.html -->
  <!-- insert views/topics/_policy/quizzes.html -->
</article>
