<details class="whitepaper margins" open="[$open]">
  <summary><h3>Quizzes</h3></summary>
  <p>Quizzes will be low-stress as I am quite opposed to the concept of cramming in study to get points. They are worth nothing as far as your grade is concerned and I hope that alleviates some stress.  I encourage you to understand that as a doctor’s exam is performed to test for illnesses, these quizzes are an effort to see if you are <q>healthy</q>, ie., doing the research and leg-work required to be successful in this medium. Note - I still have to figure this out, but they will probably be weekly, brief and participatory.</p>
</details>
