<article class="container">
  <h2>The <abbr title="too long did not read">TL;DR</abbr> Guide to Course Expectations </h2>
  <p>Here is what I propose you concern yourself with from this moment on.</p>
  <div class="pad">
    <h3>Some goals and some policies</h3>
    <ol>
      <li>Learn strategies for developing <em>more complex projects</em></li>
      <li>Learn to articulate design scenarios and communicate them</li>
      <li>Acquire efficient and low-stress work habits</li>
      <li>Finish a concept and have a deliverable by the end of the semester.</li>
      <li>Be organized</li>
      <li>Do not use a desktop publishing program for anything in this class—I mean <em>anything</em>.</li>
      <li>Do not send code via email (that includes <samp>.zip</samp> attachments). <strong>You can</strong>: send me links or examples in a sharing application, such as <a href="http://jsbin.com/?html,css,js,output">JS Bin</a>, <a href="http://codepen.io/pen/">codepen</a> or <a href="https://jsfiddle.net/">JSFiddle</a>, or a <a href="https://gist.github.com/">GitHub Gist</a>. If there is simply an error you want me to look at, send me a link to page in question on your server.</li>
      <li><strong>Always</strong> author a README for everything you plan on receiving a grade for.</li>
    </ol>
  </div>
  <p class="tt note">Allow me to go on a brief email rant. Part A—there is a very simple rule to abide by: If you are going to ask a question, the email asking it and the information you provide should be longer than the response you expect. A one line email like <q>I'm having trouble with ___ (something super complicated). Help?</q> is perhaps the most terrifying thing one can imagine in an inbox. If you have a problem with something, write an email that at the very least shows how hard you tried (that means examples and links n stuff). Part B—if you are just letting me know about something (like missing class), it is improbable that I will respond, so no need to email again asking if I got the message.</p>
</article>