<article class="page">
  <h2>Attribution and Fair Use</h2>
  <section  class="full three indented columns dropcap">
    <p>The internet is a vast trove of ideas. It has mountains of well-respected and readily available work to view, take inspiration from, and borrow. The two former items are just fine, but I will focus on the later for the moment, and I want to be very clear; in an academic setting, borrowing without citation and proper attribution is definitionally plagiarism. I will give some examples in a minute, but before I do, remember this hard, unbending rule: <mark>If you didn't write it, cite it!</mark> That is to say, name the person who did, and mention the place (<abbr title="Uniform Resource Identifier">url</abbr> probably) you found it.</p>
    <p>Say you found some plugin you like and you copy and paste the code and add it to a project. It will seem to you—especially starting out—that program code is cryptic nonsense and easy to embed wherever. Be warned, to seasoned eyes it's just as easy to spot changes in technique that a beginner won't notice. Like a handwriting expert, a veteran programmer will see a signature has been forged. Also, there are plenty of programming tools to aid in searching and comparing code. Bottom line, do not put yourself in a position where you are defending yourself against plagiarism. Even if you mean no harm, mind the consequence because naiveté is a poor defense; you are simply requesting a 0% instead of a meeting with an administrator.</p>
  </section>
  <section class="bottom ruled container">
    <aside class="___ float left">
      <h3 class="ruled bottom">Academic Integrity</h3>
      <p class="outdented">I really don't expect to see any blatant plagiarism, but this is the writing on the wall. If I find proof that an assignment, midterm or final is a derivation of another's work, I will notify the proper academic authority. No matter what you think the assignment is, or how creatively you try to spin it, you should never think that finding something on the internet, putting your name on it, and changing a few variables will get me to look the other way. This really isn't hard to avoid, so, a few notes to help clarify.</p>
    </aside>
    <div class="comparison chart container _______ float left">
      <div class="half float left">
        <h4 class="bottom ruled centered">Acceptable</h4>
        <ul class="stylized star good">
          <li>All appropriated work has been noted; names, licenses and authors have been referenced <em>in the code</em>.</li>
          <li>The plugin/framework was modified to make sense in your project – images, text, and other personalized content were added.</li>
          <li>The plugin/framework and surrounding implementation does not represent the majority of the project.</li>
        </ul>
      </div>
      <div class="half float left">
        <h4 class="bottom ruled centered">Unacceptable</h4>
        <ul class="stylized cross bad">
          <li>No attributions or citations given on something you didn't write; <strong>it is never implied</strong></li>
          <li>The plugin/framework was not significantly modified to be considered relevant to the project.</li>
          <li>The plugin/framework and surrounding implementation represents a majority of the creativity/execution.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="bottom ruled explain container">
    <h3 class="bottom ruled">Danger Zone</h3>
    <aside class="______ float left margins">
      <p>One of the main areas of concern when evaluating student student work comes right down to effort, so if I start to suspect that your work suffers on that front, I'm going to raise an eyebrow.</p>
      <p>Without giving away all my tricks, let's just look at something obvious to me, perhaps abstract to a novice. The brackets are now formatted on separate lines, the indentation has gone from tabs to spaces, the units have changed from pixels to ems, and there is an extra space after the colon in the first style. <strong>That's 4 <a href="https://en.wikipedia.org/wiki/Programming_style" title="programming syntax becomes very consistent when a particular style is employed">stylistic</a> differences between 2 <abbr title="Cascading Style Sheet">CSS</abbr> statements!</strong> Just imagine if there was an entire file like that.</p>
      <p>This isn't necessarily anything bad here, you could just be super sloppy and I'll mark for that. But if it's more than sloppy, I'll figure it out.</p>
    </aside>
    <pre class="prettyprint ____ float left">
      <!--  preview views/css/examples/bad.css 2..9 -->
    </pre>
  </section>
  <section class="whitepaper">
    <h3>Bottom line</h3>
    <ul>
      <li>You can (and should) scour the internet for resources</li>
      <li>Cite anything that made it's way into your document via cut/paste.</li>
      <li>Annotate any work you are unclear about</li>
      <li>When in doubt, ask me ahead of time.</li>
      <li>Pay attention in class. Ignoring the discussed material in favor googlin' <a href="https://en.wikipedia.org/wiki/Deprecation">deprecated</a> tutorials is high-risk behavior.</li>
      <li>Don't employ techniques that go over your head—there is little to be gained.</li>
      <li>Don't turn in examples done during class</li>
    </ul>
  </section>
</article>
