<article id="coursework">
  <style media="screen">
    details.whitepaper {
      border-top:1px solid #AAA;
    }
  </style>
  <h2>Coursework and Grading Policies</h2>
  <section class="margins indented b">
    <p>Because of the amount of material we are going to cover, this course will be somewhat challenging and we are going to go at a brisk pace. Making mistakes and misunderstanding the material will not affect your grade; paying attention, showing improvement week-by-week, and making the effort to engage with the material should be your primary concern. When the class rises to the challenge, <a href="https://en.wikipedia.org/wiki/Pygmalion_effect">this benefits everyone.</a></p>
    <p>The following four areas below represent the criteria for evaluating your work and progress. You can revisit and review your grade, get my feedback, and check due dates anytime on <a href="[/$student:course/dashboard]">your dashboard</a></p>
  </section>
  <!-- insert views/policy/participation-and-attendance.html -->
  <!-- insert views/policy/research-studies.html -->
  <!-- insert views/policy/project.html -->
  <!-- insert views/policy/quizzes.html -->
</article>
