<article class="page">
  <h2>Coursework</h2>
  <p>Coursework will consist of the following components, though pop-quizzes, extra-credit, challenges may be thrown in when necessary. Mandatory attendance is expected and all abscences marked regardless of excused or not. In the spirit of equity, should you have a valid reason for an abscence, then you can do make up work, but that work obviously requires <b>presence<sup>*</sup></b>, which will mean extra work in the form of a presentation that you propose to myself and the class.</p>
  <table class="chart">
    <colgroup>
      <col span="1" class="__"/>
      <col span="4" class="__"/>
    </colgroup>
    <tbody>
      <tr class="axis">
        <th>Task</th>
        <td>Practice</td>
        <td>Projects</td>
        <td>Quizzes</td>
        <td>Participation</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>Practic Assignments will straightforward—mainly a guided opportunity to practice. They may be challenging at points, but that is a good thing: see <i>participation</i></td>
        <td>Projects are personal, and ambition, creativity and effort are extremely important.</td>
        <td>Quizzes will be low-stress (hopefully) and no cramming necessary. Simply, an opportunity to show you <em>are up to date with the assigned readings</em>. They will be difficult, a mix of fill-in-the-blank, short-answer, and multiple choice. They will be graded on a curve so due-dilegence will be rewarded.</td>
        <td>Participation is obviously showing up and paying attention, submitting the in-class work, etc., but, some of this is difficult to measure, so you will need to ask questions, document your work, etc. Warning,, absences do not count as a 0 participation for the week, but a -1.so consider the implications. Up to <b>one</b> absence can be made up<sup>*</sup>.</td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><b>9</b> Practice Assignments</td>
        <td><b>2</b> Projects: <i>Midterm</i> and <i>Final</i></td>
        <td><b>2</b> Quizzes: week before midterm and final respectively</td>
        <td>Every week</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td>40%</td>
        <td>20%</td>
        <td>10%</td>
        <td>30%</td>
      </tr>
    </tbody>
  </table>
</article>
