<article class="page">
  <h2>Coursework</h2>
  <p>Coursework will consist of the following components, though pop-quizzes, extra-credit, challenges may be thrown in when necessary. Mandatory attendance is expected and all abscences marked regardless of excused or not. <sup>*</sup>In the spirit of equity, should you have a valid reason for an abscence, then you can do make up work, but that work obviously requires <b>presence</b>. </p>
  <table>
    <colgroup>
      <col span="1" class="__"/>
      <col span="4" class="__"/>
    </colgroup>
    <tr class="axis">
      <th>Task</th>
      <td>Practice</td>
      <td>Projects</td>
      <td>Quizzes</td>
      <td>Participation</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>Practic Assignments will be fairl straight forward. I will compose them to offer a guided opportunity to practice. They may be challenging at points, but that is a good thing: see <i>participation</i></td>
      <td>Projects are personal, and ambition, creativity and effort are extremely important to me.</td>
      <td>Quizzes will be stress-free, cram non-necessary. Just to make sure you are up to date with reading and HW. Will be curved!</td>
      <td>Participation is obviously showing up and paying attention, but that is difficult to measure, so you will need to <a href="#">ask questions</a> via the question mechanism. You will lose <b>-10% per abscense</b>, up to <b>one</b> absence can be made up<sup>*</sup>.</td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td><b>10</b> Practice Assignments</td>
      <td><b>2</b> Projects: <i>Midterm</i> and <i>Final</i></td>
      <td><b>2</b> Quizzes: week before midterm and final respectively</td>
      <td>Every week</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>40%</td>
      <td>25%</td>
      <td>10%</td>
      <td>25%</td>
    </tr>
  </table>
</article>
