<article class="page">
  <h2>Grading Policy</h2>
  <blockquote cite="aspen ideas fest" class="pad bb">
    <p class="intro"><q>Education is not perfectionism.. Nothing is a more depressive picture of a student than a straight A average... college can be a place for intentionally doing things you’re not good at, and exploring your limitations. We set up students to do what is most within [their] reach.</q></p>
  <cite>David Coleman,<em>President of the College Board</em></cite>
  </blockquote>
  <section class="three indented columns ruled">
    <h3 class="rag-left strong">There is the pursuit of knowledge, and there is the pursuit of <abbr title="Grade Point Average">GPA</abbr></h3>
    <p>My grading policy might evolve depending on what works best and keeps us happy. Many students find grades to be a motivating force. Likewise, many do not. Before I dive into the nuts and bolts, I want to stress that grades are an unfortunate circumstance that our education system requires to matriculate. That's not a bad thing, but it’s really hard to administrate in a way that makes us feel like we tried and we did Ok.</p>
    <p>We're all taught about bell curves, though we be have some bias that thwarts our understanding of mathematical averages. <a href="https://en.wikipedia.org/wiki/68-95-99.7_rule">Emperically</a>, 68% of of samples cluster around the mean. That leaves the probability at 32% of being above or below average. Thus begins the difficulty of deciding what letter grade means average, and what meaning each letter conveys. From reading the Academic Handbook and Reviewing Syllabi, our grades are assigned and represented as given in the following table.</p>
    <!-- insert views/policy/table/letter-grades.html -->
    <p>My best interpretation of this is as follows. There are ten possible letter outcomes, and assuming they have equal probability of occurring, the median is the mean, ie., <q>average</q> is a C+, and according to our table, average falls within the realm of <q>Good</q>. Whether or not this is accurate, I like it, I think it’s acceptable, and I expect it from students.</p>
    <p>The part that has got out of line is that we now consider a C to be <em>not very good</em> when really it is well within the guidelines of average. Consider the crux where it is a bad thing to call something average, when average is nothing more than a mathematical formula;  68% should be somewhere in the B to C spectrum.</p>
    <p>Why bring all this up? Because there is a valuable lesson here that transcends grading. The table, the grading, the entire concept is engineered toward the notion of excellency and we all want it. The byproduct is designing a class for people to do well rather that risk average or below average marks. This is a horrible outcome for you, the student.</p>
    <p>It is not that I feel exceptional students are robbed of exceptional grades—gaining superior knowledge can be rewarded outside of school. High marks on your transcript are really more important for continuation in higer ed, and taking away that opportunity makes administering grades hard. Difficult as that is, a far more depressing outcome, is the feeling that nobody knows as much as they could have because it introduced too much risk for the <abbr title="Grade point average">GPA</abbr>.</p>
    <p>Harder material is harder to learn, there is no way around it. And while I want you to get high marks, I don’t want you to take the easy way in life because of fear of failure, or worse, fear of not getting a congratulations. This class is challenging and I will challenge you. If you want an above average mark, <strong>simply accept the challenge</strong> and I guarantee that things will work out in your favor.</p>
  </section>
  <section class="container">
    <h3>Rubric and Evaluation</h3>
    <p>Pep talks aside, I have a rubric for evaluating your work that I'll be diligent about. The fundamental principles by which I’m intense about are <q>did you give it your best effort</q> and <q>are you organized</q>. Then there are standard deductions like misconduct and turning in things late, etc. And, because we all make mistakes, have lapses in judgement and forget, there are ways to make up for some less-than-stellar effort.</p>
    <p>This course will be hard, and I realize that. I’m not going to slow down or make it easy; it’s going to be hard from day one. But, there is nothing to worry about, you won't do poorly unless you earn a poor mark, and I'll stress, <b>earn</b>. I will grade everything on curves and averages, on collective outcomes. I want everything to be a bit too difficult for everyone, and ultimately, <a href="https://en.wikipedia.org/wiki/Pygmalion_effect">this benefits everyone.</a></p>
    <h4 class="tt b">Deductions</h4>
    <table>
      <colgroup>
        <col span="1" class="__"/>
        <col span="4" class="__"/>
      </colgroup>
      <tbody>
        <tr class="axis">
          <th>Criterion</th>
          <td>Mission &amp; Integrity</td>
          <td>Timeliness</td>
          <td>Organization</td>
          <td>Effort</td>
        </tr>
        <tr>
          <th>Explanation</th>
          <td>First, work is expected to communicate <em>something.</em>. Second, I will not tolerate improperly attributed work or plagiarism. I'll give the benefit of the doubt until a pattern emerges—even if that pattern falls under the category of naiveté or negligence.</td>
          <td>Did not turn in assignment before due date. This is automatically done by a program, so it cannot, and will not be adjusted.</td>
          <td>The work did not follow the outline, or the source code was not organized according to conventions.</td>
          <td>Did you do the reading? Participate as directed? Have you done all that the assignment asked? Are you taking steps every week to understand the medium (Web Development)?</td>
        </tr>
        <tr>
          <th>Penalty</th>
          <td>Up to full value of the assignment; further implications possible.</td>
          <td>-10% per day, up to full value of assignment.</td>
          <td>Organization is worth 50% of exercise grade.</td>
          <td>Effort is worth 50% of exercise grade.</td>
        </tr>
      </tbody>
    </table>
    <h4 class="tt b">Supplements</h4>
    <table>
      <colgroup>
        <col span="1" class="__"/>
        <col span="4" class="__"/>
      </colgroup>
      <tbody>
        <tr class="axis">
          <th>Criterion</th>
          <td>Creativity</td>
          <td>Timliness</td>
          <td>Clarity</td>
          <td>Mission</td>
        </tr>
        <tr>
          <th>Explanation</th>
          <td>The assignment went beyond expectations, due to creativity, advanced application, or other effort applied.</td>
          <td>You got the assignment done ahead of time (and you did it fully)</td>
          <td>Did you go the extra mile to comment your code and write a detailed README. Basically, is your course site and work serving as a good vehicle for communication?</td>
          <td>It is important to remember what web development is for: it is an <strong>interactive</strong> communication medium. I will try and make practice assignments exemplary of that point. Likewise, your execution should strive for the same, and that is, <em>is someone going to want to look at this?</em></td>
        </tr>
        <tr>
          <th>Benefit</th>
          <td>May earn back deductions caused by poor organization or late penalties–but only on that particular assignment.</td>
          <td>Could make up for poorly organized code or lateness.</td>
          <td>I'll check for assignments before they are due, and if you have some insight and we go over it in class and there will be rewards. If I grade it early, you can resubmit for a better grade. <strong>Note: low effort or poorly organized won't be graded early.</strong></td>
          <td>If, despite your <em>best</em> efforts, you are nervous that you might not be capable of fulfilling the assignment as asked, you may take techniques expected to be learned from the readings and lecture and present an outcome that fulfills our mission, I will consider that work to be a fair substitute.</td>
        </tr>
      </tbody>
    </table>
  </section>
</article>
