<article class="page">
  <h2>Grading Policy</h2>
  <p class="_____ intro"><q>Education is not perfectionism.. Nothing is a more depressive picture of a student than a straight A average... college can be a place for intentionally doing things you're not good at, and exploring your limitations. We set up students to do what is most within [their] reach.</q></p>
  <cite>David Coleman,<em>President of the College Board</em></cite>
  <section class="________ three indented columns ruled">
    <p>My grading policy might evolve depending on what works best and keeps us happy. Many students find grades to be a motivating force. Likewise, many do not. Before I dive into the nuts and bolts, I want to stress that grades are an unfortunate circumstance that our education system requires to matriculate. That's not a bad thing, but it's really hard to administrate in a way that makes us feel like we tried and we did Ok.</p>
    <p>We're all taught about bell curves, though we don't psychologically understand the meaning of the math. <a href="https://en.wikipedia.org/wiki/68-95-99.7_rule">Emperically</a> 68% of you will cluster around the mean, and the academic word of mean means a grade of "C". That leaves the probability at 32% of you receiving an A, B, D, or F. The way normal distributions work, generally the A and F camp are very thin—only a handful of people.</p>
    <p>Believe it or not, while this is very accurate in the real world, it doesn't make the majority of us feel very good about ourselves. Instructors are compelled to skew the numbers to reward basic effort (and I'll be no exception).</p>
    <p>The part that has got out of line is that we now consider a C to be <em>not very good</em> when really it means, <em>average</em>. Consider the crux where it is a bad thing to call something "average" when it is a blatant mathematical truth given any set of things: there will always be an average. Even in a room of geniuses, 68% of them will be average geniuses with the margins slimming more and more toward exceptional and mediochre.</p>
    <hr/>
    <p>Why bring all this up? Because there is a <strong>very valuable lesson here that transcends the grade you will receive</strong>. I don't particularly care that the true "A and B" students are cheated out of their exceptionalism–I don't mind treating an B as and A and a C as a B, but that comes with conditions.</p>
    <p>First, I don't care that exceptional students are cheated, because in the real world, this exceptionalism will be rewarded kindly with jobs and physical currency. Meanwhile, your transcript, sans-portfolio or verifiable accomplishments, is really more important for graduate school than job placement (and yes, that is quite important). Further, it comes with the hard truth that if you want a high grade and educators willing to acquiesce (and we are!), pause for a moment and recalculate what high marks really mean beyond your own ego.</p>
    <p>Now, my aim is not to say I'm a hard grader and you should be happy for "average". I want you to get high marks, and I expect you to get high marks. The thing I'm really gung-ho about is that if you want the above average mark, <strong>please earn it</strong>. Show me where you are above average: be organized, be talented, be ambitious, be punctual, be creative, be thoughtful, be responsible, participate, help others, wear a blazer; there many ways differentiate yourself.</p>
  </section>


  <section class="container">
    <h3>Bean Counting</h3>
    <p>Pep talks aside, I have a rubric for evaluating your work that I'll be diligent about. The fundamental principles by which you will be evaluated boils down to "did you try" and "are you organized". Then there are standard deductions like misconduct and turning in things late. And, because we all make mistakes, have lapses in judgement and forget, there are ways to make up for some less-than-stellar effort.</p>
    <h3>Deductions</h3>
    <table>
      <colgroup>
        <col span="1" class="__"/>
        <col span="4" class="__"/>
      </colgroup>

      <tbody>
        <tr>
          <th>Criterion</th>
          <td>Integrity</td>
          <td>Timeliness</td>
          <td>Organization</td>
          <td>Effort</td>
        </tr>
        <tr>
          <th>Explanation</th>
          <td>Improperly attributed work or plagiarism. I'll always give the benefit of the doubt until a pattern emerges, or it becomes blatant. This will be covered in detail: it's important.</td>
          <td>Did not turn in assignment before due date. This is automaticly done by a program, so it cannot, and will not be adjusted.</td>
          <td>The work did not follow the outline, or the source code was not organized according to conventions.</td>
          <td>Did you do the reading? Participate in class in some way (or via othe means)? Have you done all that the assignment asked?</td>
        </tr>
        <tr>
          <th>Penalty</th>
          <td>Up to full value of the assignment; further implications possible.</td>
          <td>-10% per day, up to full value of assignment.</td>
          <td>Organization is worth 50% of exercise grade.</td>
          <td>Effort is worth 50% of exercise grade.</td>
        </tr>
      </tbody>
    </table>

    <h3>Supplements</h3>
    <table>
      <thead>
        <tr>
          <th class="__">Criterion</th>
          <th class="_____">Explanation</th>
          <th class="___">Enhancement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Creativity</td>
          <td>The assignment went beyond expectations, due to creativity, advanced application, or other effort applied.</td>
          <td>May earn back deductions caused by poor orginazation or late penalties.</td>
        </tr>
        <tr>
          <td>Early</td>
          <td>You got the assignment done ahead of time (and you did it fully)</td>
          <td>I'll check for assignments before they are due, and if you have some insight and we go over it in class and there will be rewards. If I grade it early, you can resubmit for a better grade. <strong>Note: low effort or poorly organized work will never graded early</strong></td>
        </tr>
        <tr>
          <td>Readme</td>
          <td>Did you go the extra mile to comment your code, to write a readme file that outlines the project? Have you gone beyond the assignment in some way?</td>
          <td>Could make up for poorly organized code or lateness.</td>
        </tr>
      </tbody>
    </table>
  </section>
</article>
