<details class="whitepaper margins" open="[$open]">
  <summary><h3>Participation and Attendance</h3></summary>
  <h5 class="strong t">Absences</h5>
  <p>Missing class not only leads to missing discussions and an inability to help your peers, but also it means you are very likely to fall behind. Circumstances come up where we cannot attend, and as I believe we are all honest until proven otherwise, I consider all absences valid and you need not explain yourself. I do consider it a courtesy to inform me when you cannot make it to class, but it is is crucial that you understand the grading policy as follows.</p>
  <h5 class="strong t">Grading</h5>
  <p><span class="important">As a matter of bookkeeping, you will be marked absent whenever you are not in attendance</span>. Your grade will reflect that absence, which can be redeemed by outlining the lectures no later than one week after you were missed.</p>
  <p>Beyond presence, participation is showing up and paying attention, but also may include in-class work, pop-quizzes, etc. Courtesy and attention to your peers is paramount. If you have a habit of logging in to your computer and zoning out to YouTube or Facebook whenever activity is happening in class, that doesn’t just affect your grade, such <strong>behavior affects your reputation</strong> and is a pet peeve of mine.</p>
  <h5 class="strong t">Zero Tolerance Zone</h5>
  <p>Should you find yourself <strong>at three absences, all negotiations are off the table</strong>. This doesn't mean that <em>I will fail you</em>, this means that you have <em>technically failed</em>. I am not going to discuss manipulating yourscore I hear from someone higher up at the institutional level granting me leniency on your behalf.</p>
</details>
