<details class="whitepaper margins" open="[$open]">
  <summary><h3>Research Studies</h3></summary>
  <p>Studies are designed to allow you to practice specific technical skills while focusing on a design outcome—essentially vignettes, prototypes, and ideas. The skills gained and efforts made in studies should make their way immediately into semester-long project.</p>
  <p>Do not concern yourself with finishing ideas or completely making sense. Studies are intended to push your boundaries, introduce new content, and above all else, show that you are truly understanding the new material you are working with. Just like a color study mixing paint, a bunch of splotch of paint aren't so breathtaking, but now you know exactly how to make the shade of purple you want.</p>
  <h5 class="strong t">Grading</h5>
  <p>Below is the rubric for evaluating your work, and I think it is easy to do well by. The fundamental principles by which I’m intense about are <strong>effort</strong> and <strong>organization</strong>. Because we all make mistakes and sometimes just forget to do something, I am lenient if you have showed me that you are making an effort.</p>
  <dl class="neat">
    <dt class="strong">Mission &amp; Integrity</dt>
    <dd>Through your work you will be comunicating directly to me and your peers. Improperly attributed work ranges from a poor grade all the way up to plagiarism—<strong>do not risk it</strong>—we live in a world with widely available resources and help and the only requirement is documenting where you got them and who is responsible for writing them. I want you to develop good habits of explaining your work, your effort and help guide you with healthy communication practices.</dd>
    <dt class="strong">Timeliness</dt>
    <dd>Everything assigned so far is on a schedule, so you know from day one when things are due—don't fall behind! If leniency is deserved due to extenuating circumstances, that will be addressed on a case-by-case basis.</dd>
    <dt class="strong">Organization &amp; Clarity</dt>
    <dd>I will badger and badger about this until the end. Name your files carefully and consistently. Always consider <a href="https://en.wikipedia.org/wiki/Whitespace_character">whitespace</a> and be careful to always use the same conventions. <strong>Organize your work like your life depends on it.</strong> It might sound silly, but this is by far the easiest thing you can do to become a great designer or programmer.</dd>
    <dt class="strong">Effort</dt>
    <dd>You should engage in a minimum of 5 hours per study, but also consider the following: Did you do the reading? Participate as directed? Have you done all that the assignment asked? Are you taking steps every week to understand the medium (Web Development)? Is your work exhibiting more advancing skills week after week?</dd>
  </dl>
</details>
