<article>
  <h2>Outcomes</h2>
  <p>If you like things to be nutshelled, here is what I propose you concern yourself with from this moment on.</p>
  <h3>Goals</h3>
  <ol>
    <li>Learn strategies for developing <em>actual projects</em></li>
    <li>Learn to articulate design problems and communicate goals</li>
    <li>Acquire efficient and low-stress work strategies</li>
    <li>You will learn to learn</li>
  </ol>
  <h3>Rules</h3>
  <ol>
    <li><strong>Always</strong> be organized</li>
    <li><strong>Never</strong>: send me anything written in a desktop publishing program. Everything you type in this class will be written in <a href="https://en.wikipedia.org/wiki/Plain_text">plain text</a>. Everything.</li>
    <li><strong>Never</strong>: send me code attached in an email. <strong>You can</strong>: send me links to your work, send me examples in a sharing application, such as <a href="http://codepen.io/pen/">codepen</a> or <a href="https://jsfiddle.net/">JSFiddle</a>. Or send me snipping in something like <a href="https://gist.github.com/">GitHub Gist</a> </li>
    <li><strong>Always</strong>: Author a README for everything you plan on receiving a grade for.</li>
  </ol>
</article>