<header>
  <h1>Richard Blueberry</h1>
  420, Paper St. Wilmington, DE 19886
  richard.blueberry@example.com
</header>

<section>
  <h2>Objective</h2>
  I would like to become a professional crane operator. To meet my objective, I have studied crane maneuvers and read all of the pertinent crane operation literature. Operating a crane is not only crucial in the building of large structures, but it is highly impressive when you meeting a new person and they want to know what you do for a living.
</section>
<section>
  <h2>Work Experience</h2>

  <h3>English Teacher (Abroad)</h3>
  December 2002—June 2003
  Asia?

  <p>Taught people who spoke some other language how to speak English. Regulary ontime despite an on-going battle with deep and chronic hangovers, splitting headaches, and a general dislike for children and teaching.</p>

  - Got a sentimental tattoo of a cultural icon
  - Ate exclusively at KFC because food was weird
  - Ripped the bathroom door off a gas station and almost got away with it

  ----

  <h3>Glove Model</h3>
  July 2004—December 2008
  Chicago, IL

  <p>As a glove model, I took my professionalism to a new level. Often sought out for buckskin driving glove advertisments, I was also widley noticed winter glove model, which included mitten modeling knit finger warmers.</p>

  - Sought by risqué glove designers
  - said to have hands so gentle they "never worked a day in their life"

  ----

  <h3>Business Man and Entrepeneur</h3>
  June 2008—Present
  San Francisco, CA

  Founder and CEO of several startups, notably kernalstorm, nurb.tv and bitstar. Networked with anyone and everyone and was able to secure series B funding more often than most people.

  - crushed it daily
  - excellent mansplainer of complex, often meaningless topics

</section>
<section>
  <h2>Education</h2>
  <h3>Penbrampton</h3>
  BS, Business Leadership
  August 1998-June 2002

  <p>5th Generation Penbrampton man. Recipient of the Blueberry Family Scholarship for ongoing parent generosity.</p>


</section>

<section>
  <h2>Accomplishments</h2>

  <p>I don't believe in bragging about my accomplishments because honestly doing so much good in the world is an honor in itself. I drive an Audi though.</p>

  - 10k twitter followers, many of them not even bots.
  - 75 likes per picture of gourmet oyster plates on instagram
  - Never been caught openly cheating
  - Little League Champs 1989
</section>
