<article>
  <select onchange="window.location.href = this.value">
    <option>Jump to Assignment</option>
    <!-- iterate assignments -->
    <option value="[manage/list/assignment#$assignment:@id]">[$assignment:@title]</option>
  </select>
  <!-- iterate assignments -->
  <div class="container" style="margin:5em 0;">
    <header id="[$assignment:@id]">
      <h2>[$assignment:@title]</h2>
      <p>[$assignment]</p>
    </header>
    <details class="half float left ruled complete">
      <summary>Graded</summary>
      <ul class="inline matrix">
        <!-- iterate assignment:submissions:complete -->
        <li><a href="[manage/assignment/$student:@id/$assignment:@id]">[$student:@name]</a></li>
      </ul>
    </details>

    <details class="half float left ruled pending" open="true">
      <summary>Pending</summary>
      <ul class="inline matrix">
        <!-- iterate assignment:submissions:pending -->
        <li><a href="[manage/assignment/$student:@id/$assignment:@id/create]">[$student:@name]</a></li>
      </ul>
    </details>
  </div>
  <style media="screen">
    summary {
      font-size:1.5em;
      outline:none;
    }
    .complete, .pending {
      padding:1em;
    }
    .pending {
      background-color:rgba(0,0,0,0.1)
    }
  </style>
</article>
