<article class="paginate">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Introduction to <abbr class="strong">[$course:@id]</abbr></h1>
    <h3>[$course:@title]</h3>
    <p class="intro">[$course:introduction]</p>
    <p>[$course:description]</p>
  </header>
  <hr />
  <!-- insert views/policy/coursework.html -->
  <!-- insert views/policy/grading.html -->
  <!-- insert views/policy/attribution.html -->
  <article>
    <h2>Attitude</h2>
    <section class="bottom ruled two columns indented">
      <p>There is a lot of material—its not rocket science, but it’s likely to be burdensome at times. By the end of the semester you'll be surprised at how much you know. Effort counts for a great deal, but not if you’re discouraged easily. Put another way, if you never think you'll learn the material, then you'll never learn the material. If you think it’s much too hard, then you won't ever give your brain the chance to learn. I’m here to reinforce that perspective matters; the material is not too hard, and everyone has the exact same potential to be proficient.</p>
      <p>Sometimes things don’t excite us. Sometimes we feel like our time is best served binge-watching TV. Believe it or not, I get it—the modern world has granted so many conveniences that this odd syntax and difficult methodology demand more brain energy you <del>have</del> are willing to spare. Unfortunately, <q>getting it</q> is about as far as my olive branch reaches when it comes idle effort. The good news—though not really good at all—is that half-assing it is something we are all guilty of from time to time. The bad news, and depending on habit, is that you will be on a fast track to getting an unpleasant grade.</p>
    </section>
  </article>
</article>
