<article class="paginate">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Introduction to <abbr class="strong">[$course:@id]</abbr></h1>
    <h3>[$course:@title]</h3>
    <p class="intro">[$course:introduction]</p>
    <p>[$course:description]</p>
  </header>
  <hr />
  <!-- insert views/policy/grading.html -->
  <!-- insert views/policy/attribution.html -->
  <article>
    <h2>Attitude</h2>
    <section class="bottom ruled">
      <h3>Be positive</h3>
      <p class="indented">There is a lot of material—its not rocket science, but it's different. By the end of the semester you'll be surprised at how much you know. Effort counts for a great deal, but not if you discourage easily. Put another way, if you never think you'll learn the material, then you'll never learn the material. If you think it's hard, then it's hard. I'm here to reinfore that perspective matters; the material is not too hard, and everyone has the exact same potential to be proficient.</p>
      <p>Sometimes things don't excite us. Sometimes we feel like our time is best served binge-watching TV. Believe it or not, I get it—the modern world has granted so many conveniences that this odd syntax and difficult methodology demand more brain energy you <del>have</del> are willing to spare. Unfortunately, "getting it" is about as far as my olive branch reaches when it comes idle effort. The good news—though not really good at all—is that half-assing it is something we are all guilty of from time to time. The bad news, and depending on habit, is that you will be on a fast track to getting an unpleasant grade.</p>
      <h3>Honesty Checks</h3>
      <ul>
        <li>Pay attention in class. Missing the examples and hints during class and finishing an assignment using outdated and/or <a href="https://en.wikipedia.org/wiki/Deprecation">deprecated</a> techniques tells a pretty good story. It should come as no shock, not only does it indicate that you might have wasted class time, but it gives a strong whiff that you spent 2 minutes searching google for a solution.</li>
        <li>You finish using a huge amount of code (properly attributed) that goes way over your head–generally a fine thing to do—but you lose the ability forevermore to use the excuse <q>This assignment was too hard.</q>.</li>
        <li>You turn in the example from class... which isn't plagiarism, per se, but I won't be flattered, nor will I relish the opportunity to grade my own work.</li>
      </ul>
    </section>
  </article>
  <!-- insert views/policy/coursework.html -->
</article>
