<article class="paginate">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    
    <h1 class="massive">Mis en Place</h1>
    <h2>Introduction to <em>[$course:@title]</em> (<abbr class="strong">[$course:@id]</abbr>)</h2>
    <img src="/media/images/patent-drawing-flying-machine-1869.png" class="____ float right" style="mix-blend-mode: multiply;shape-outside:polygon(0 30%, 100% 0, 50% 100%)"/>
    <p class="intro">[$course:introduction]</p>
    <p>[$course:description]</p>
  </header>
  <hr />
  <!-- insert views/topics/_policy/coursework.html -->
  <!-- insert views/topics/_policy/attribution.html -->
  <!-- insert views/topics/perspective/workflow.html -->
  
  <!-- insert views/topics/_policy/rules.html -->
  
  
  
  <article>
    <h2>Some Techniques for success in this class</h2>
   
    <p>There is quite a bit of research out there explaining how and why humans tend to avoid doing the things they know they should. Over the years teaching I've witnessed students lament about not getting as far as they'd like, getting unnecessarily stressed out and floundering a bit, and this stresses me out too. I'll do my best to offer advice and techniques gained from professional experience on how to complete projects—especially on small teams where you have a great deal of personal responsibility. I may push you harder to be disciplined about time management than other instructors—this may even seem burdensome at times, I empathize I do, but it's time to turn a new leaf, because I have high expectations for everyone.</p>
    <section class='t b container margins'>
       <img src="/media/images/pomodoro.png" class="float left __" style="mix-blend-mode: multiply;shape-outside:circle(50%);shape-margin:1em;"/>
      <h3>The Tomato (Pomodoro) Technique</h3>
      <p>The <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> is a way to plan for short, specific, focused spurts of work. Pomodoro means tomato in Italian (you can read the backstory on your own) and I have a version suited to this class. I've set up the practice grades as well as part of your projects to be assessed on regular progress instead of the big reveal at the end. .</p>
      <p>So as this week’s inspiration, the pomodoro has some crucial components that I dig. First, effort is time-boxed, that is, anyone can accomodate their schedule for little bits of work here and there. Second, time-boxing creates an agenda and know what to start on this time as well as the next time you sit down. But, and this is important, the key for this technique to work is that you are going to employ it routinely. <strong>I recommend three to four times per week for success in this medium</strong>. I have set up a README file for all of your projects and the dates you have to work on said project: use it, please!</p>
      <ol class="whitepaper tt">
        <li>Grab an empty piece of paper and an writing utensil and have it adjacent.</li>
        <li>Decide on a <em>research-based</em> task to be done, such as, <em>read chapter on formatting text in CSS manual</em></li>
        <li>Set a timer (traditionally to 25 minutes)</li>
        <li>Work on the task until the timer rings. If a distraction pops into your head, write it down, but immediately get back on task.</li>
        <li>After the timer rings, take a short break, grab a snack or beverage, stretch, walk about, etc. (3-5 min)</li>
        <li>Decide on a new <em>code-based</em> task (something from your research perhaps) to practice such as <em>write my bio and apply text formatting.</em></li>
        <li>Set a timer (again, for 25 minutes)</li>
        <li>When the timer rings, <strong>you’re done</strong>. Continue to jot down any distractions, or write down any goals for the next time so you know what to research and where to start.</li>
      </ol>
    </section>
  </article>
  <!-- replace lecture-->
  <!-- insert views/topics/commentary/attitude.html -->
  
</article>
