<article class="paginate">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <img src="/media/images/collapsed-person.png" class="float left __" style="mix-blend-mode:multiply;transform:scale(-1, 1);margin:5% 1em 0;"/>
    <h1 class="massive">Final Project</h1>
    <p class="intro">Quiz recap, semester review, final presentations and discussion.</p>
  </header>
  <article>
    <h2>Presentations</h2>
    <p>Before presenting, gather your thoughts and prepare some materials to discuss. I will give you about an hour to polish and preen. You have spent many hours over the last 3 weeks; I only ask that you share roughly five minutes of your insights and findings.</p>
    <hr class="ruled t b"/>
    <ul class="plain cards">
      <!-- iterate section:students -->
      <li>
        <img data-raw="[$student:@url/project/final/]" style="max-width:5em;"/>
        <a href="[$student:@url/project/final/]">[$student:@name]</a>
      </li>
    </ul>
    <script type="text/javascript">
      // <![CDATA[
        document.querySelectorAll('img[data-raw]').forEach(img => img.src = '/media/screenshots/'+btoa(img.dataset.raw) + '.jpg');
      // ]]>
    </script>
  </article>
  <article>
    <img src="/media/images/handshake.png" alt="two gentleman wrestlers shaking hands" class="float right" style="margin:2.5em 10% 0 3em;mix-blend-mode:multiply;"/>
    <h2>Farewell</h2>
    <p>I will leave this site up for awhile should you need to revisit anything—but it is running on a freebie server, and who knows how long that will last. Should you need to contact me, I will occasionally check my colum email, but I can also be reached at the areas below—reach out with any questions, recommendations and stuff like that. I usually try to respond within in 4-6 weeks.</p>
    <ul class="stylized star tt">
      <li>Email: <em>bmetzger@colum.edu</em> for school stuff, otherwise <em>brendan.metzger@gmail.com</em></li>
      <li><a href="https://github.com/brendanmetzger">GitHub</a>—where lots of folk store code</li>
      <li><a href="http://codepen.io/brendanmetzger/">codepen</a>—you know...</li>
      <li><a href="http://jsfiddle.net/user/brendanmetzger/fiddles/">jsFiddle</a>—like codepen, plainer/nerdier</li>
      <li><a href="https://www.linkedin.com/in/brendanmetzger">LinkedIn</a></li>
      <li>I have a facebook and twitter account but I rarely check them, so any messages there will evade me.</li>
    </ul>
  </article>
</article>
