<article class="paginate">
  <header>
    <!-- insert views/outline/_/crumbs.html -->
    <h1 class="massive">Final Project Evaluations</h1>
    <p class="intro">Quiz Recap, Semester Review, Final Critique and Discussion. Farewells</p>
  </header>
  <article style="display:none;">
    <h2>Farewell</h2>
    <p>I will leave this site up for awhile should you need to revisit anything—but it is running on a freebie server, and who knows how long that will last anyway. Stay in touch, and feel free</p>
  </article>
</article>
