<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <article>
    <h1 class="danger caps">Attention</h1>
    <p>I read your homework, answering email, write outlines and am trying to help you navigate this topic, so now that we are getting comfortable with each other, now is the time I expect reciprocity. Repeated mistakes will be met with decreased leniency.If you pay attention in class, if you ask questions—in class, at my desk, via email or in your readme, then you have little to worry about—I will continue to give you patience and the benefit of the doubt.</p>
    <p>To those who have poor practice habits, <strong><a href="http://about.colum.edu/academic-affairs/faculty-resources/academic-progress-reports.html">you will be warned</a></strong>. <strong class="caps">Programming is not about learning syntax.</strong> Programming is about seeing patterns, creative problem solving, organization and precision. Knowledge is a pursuit, not an achievement.</p>
    <h4 class="massive marquee">Everyone has something they <span style="color:rgb(66, 177, 102)">are good at</span> <span style="color:rgb(214, 78, 95);">can improve at</span></h4>
  </article>
  <style media="screen">
    h4.flip *:first-of-type, h4:not(.flip) *:last-of-type { display:none;}
  </style>
  <script type="text/javascript">
    setInterval(DOMTokenList.prototype.toggle.bind(document.querySelector('h4.marquee').classList, 'flip'), 1500);
  </script>
  <footer>
    <!-- insert views/topics/glossary.html -->
  </footer>
</article>
