<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <article style="display:none">
    <h2>if your having trouble finding something, first ask yourself, <q>Have I read all the words on the page?</q></h2>
    <h2>You cannot both say you understand something and not do it <span style="line-through">correctly</span> perfectly; a patently impossibility. It's showing up to a race with your pants at your ankles. You might think you're the fastest in the world, <em>you might even be the fastest person in the world</em>, but you lose the race. You have the burden of proof.</h2>
  </article>
  <article>
    <h1 class="danger caps">Attention</h1>
    <p>Now is the time of the semester that I deliver some hard news to roughly 20% of the class. If I am spending 15+ hours per week reading, answering emails, lecturing, and giving you my time, now that we are getting comfortable with each other, now is the part I expect reciprocity. Repeated mistakes will be met with terse responses, leniency will decrease, and justice will be swift. If you're reading this, then you probably have little to worry about. If you pay attention in class, if you ask questions—in class, at my desk, via email or in your readme, then you have little to worry about—I will continue to grant you patience and the benefit of the doubt.</p>
    <p>To those who are not showing improvement, who don't ask me questions and who get through the material in record speed: <strong><a href="http://about.colum.edu/academic-affairs/faculty-resources/academic-progress-reports.html">you will be warned</a></strong>. I need to see the material practiced and your need to author material with markup and styles beyond what I introduce in class. A reminder: <strong> knowledge is a pursuit, not an achievement</strong>.</p>
    <h4 class="massive marquee">Everyone has something they <span style="color:rgb(66, 177, 102)">are good at</span> <span style="color:rgb(214, 78, 95);">can improve at</span></h4>
  </article>
  <style media="screen">
    h4.flip *:first-of-type, h4:not(.flip) *:last-of-type { display:none;}
  </style>
  <script type="text/javascript">
    setInterval(DOMTokenList.prototype.toggle.bind(document.querySelector('h4.marquee').classList, 'flip'), 1500);
  </script>
  <footer>
    <!-- insert views/topics/glossary.html -->
  </footer>
</article>
