<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <style media="screen">
  main {
    background-image: url(/css/media/life.svg);
    background-repeat:repeat-x;
    background-position: 0 100%;
    background-size:contain;
  }
  </style>
  <section style="padding-bottom:25em" class="epilogue">
    <h4 class="centered">End-notes</h4>
    <h2>The Absolute Beginner</h2>
    <div class="three columns outdented">
      <p>A few years in to my career project deadlines and stubborn clients swallowed most of my energy to be curious and tinker with ideas. Without sugarcoating it, it is difficult to both <em>learn and be productive</em>. In my own struggle to keep learning I've collected a pile of briefly-relevant technical literature. Many over five years old are essentially tales of defunct technology, but a handful of books about philosophic approaches and design principles continue to offer perspective. One of the latter that I still read is <em>Pragmatic Thinking and Learning</em> by Andy Hunt.</p>
      <p>This book introduced the notion of skill acquisition; a topic that you may find bemusing or disagreeable, but likely thought provoking. Acquiring a new skill (something that must be learned to be applied) follows a pattern. We begin a <em>novice</em>, then graduate to <em>absolute beginner</em>, ideally gain <em>competency</em>, perhaps <em>proficiency</em> and in very rare instances, become an <em>expert</em>. Some of my peers have a reactionary stance to the following posit: each step of the process may take about a decade of true and honest effort and progression is fragile and often stunted. The part that might shock you is the fact that few <em>humans make it past beginner in any given skill.</em> Many stop learning the minute they aren't asked to. Far worse is the case where many never learn how to learn in the first place. That's right, <strong>learning is a skill</strong> in itself.</p>
      <p>Whether it is the decay of aging, losing neurons as years tick by, or demands of clients, work and Facebook; these things have repercussions that chip away the precious decades we have to know the things we desire. Reflecting back, my time in college was the most academically fertile of my life. Youth certainly has advantages for brain plasticity, but I will argue that now you have the rare opportunity to go forth unbridled; researching, thinking abstractly and striving for personal gain.</p>
      <p>In my own career, my time is necessarily compromised enough to grant me the confidence to say this: The effort it takes to get off your feet is tremendous. The feeling of accomplishment that follows as you embark on a career will be curtailed by obstacles that eat at your time, energy and ideals. If you can get that rock to budge from <em>novice</em> to <em>beginner</em>, if you acquire the skills of learning, then you've got a fighting chance.</p>
    </div>
  </section>
</article>
