<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <section class="epilogue">
    <h4 class="centered">End-Notes</h4>
    <blockquote cite="http://nymag.com/selectall/2016/09/andrew-sullivan-technology-almost-killed-me.html" class="quote centered">
      <h2 class="pullquote">You are where your attention is.</h2>
      <a href="http://nymag.com/selectall/2016/09/andrew-sullivan-technology-almost-killed-me.html"><cite>Andrew Sullivan</cite></a>
    </blockquote>

  </section>
</article>
