<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <section style="padding-bottom:20vw" class="epilogue">
    <h4 class="centered">End-notes</h4>
    <h2>Design Thinking</h2>
    <dfn></dfn>
    <p>Part of my pleasant struggle with design is a dogged pursuit of <dfn>clairvoyance</dfn>.</p>
    <dl>
      <dt><dfn>clairvoyance</dfn> |kle(ə)rˈvoiəns| <em>noun</em></dt>
      <dd>the supposed faculty of perceiving things or events in the future or beyond normal sensory contact: she stared at the card as if she could contact its writer by clairvoyance.</dd>
    </dl>
  </section>
</article>
