<article class="paginate">
  <!-- replace lecture nextSibling-->
  <!-- insert views/outline/_/template.html -->
  <article>
    <h2>Critique</h2>
    <p>Project Presentations won't be particularly painful—you can treat this as a simple pitch that need not take more than five minutes tops.</p>
    <section class="whitepaper t container">
      <div class="half float left pad">
        <h3 id="for-the-presenter">For the Presenter</h3>
        <ul>
          <li>Be ready with your work</li>
          <li>Be ready to say something about your work</li>
          <li>Highlight any obstacles or difficult parts you were able to solve for</li>
          <li>Invite constructive criticism</li>
          <li>Listen: Keep an open mind and avoid being defensive</li>
          <li>Don’t take it personally</li>
          <li>Take notes</li>
        </ul>
      </div>
      <div class="half float left pad">
        <h3>For the Reviewers</h3>
        <ul>
          <li>What is the presenters project goal? Are they achieving it?</li>
          <li>Is there any technical advice you are able to give?</li>
          <li>Separate personal preference from more abstract analysis.</li>
          <li>Talk as much about what it is, as what it isn’t (people don’t see things the same way)</li>
          <li>The PNP (positive negative positive) sandwich - <em>surprisingly effective in the real world</em></li>
        </ul>
      </div>
    </section>
    <h2>Presentations</h2>
    <ul class="plain cards">
      <!-- iterate section:students -->
      <li><a href="[$student:@url]">[$student:@name]</a></li>
    </ul>
  </article>
  <article>
    <h2>Survey &amp; Next Steps</h2>
    <p>I hope throughout the course of working on a midterm you have identified some weak spots and areas that you need to focus on. When faced with a blank canvas, it becomes incredibly easy to let frustrations get the better of us. I understand this all too well, but hopefully this exercise reinforces that there is a lot of little pieces that fit together in order to make a successful project something that came from your own mind and ingenuity.</p>
    <p>In your spare moments over break, find time to revisit material that has piqued your curiosity or left you a little confused. Over the second half of the semester we will be making a transition from <em>research</em> to <em>application</em>.</p>
  </article>
</article>
