<article>
  <h2>Presentations</h2>
  <p>Project Presentations <mark>need not take more than five minutes</mark>. Part of the goal is to sell an idea and you should project confidence with that idea and the effort you have made.</p>
  <section class="whitepaper t container">
    <div class="half float left pad">
      <h3 id="for-the-presenter">For the Presenter</h3>
      <ul class="stylized cross">
        <li>Be ready with your work and ready to talk about it.</li>
        <li>Highlight any obstacles or difficult parts you were able to solve.</li>
        <li>Invite constructive criticism and ask for feedback.</li>
      </ul>
    </div>
    <div class="half float left pad">
      <h3>For the Reviewers</h3>
      <ul class="stylized cross">
        <li>What is the presenters project goal—is it clear?</li>
        <li>Is there any technical advice you are able to give?</li>
        <li>Are there resources you are able to provide that could assist in further research?</li>
      </ul>
    </div>
  </section>
  <h2>Presentations</h2>
  <ul class="plain cards">
    <!-- iterate section:students -->
    <li><a href="[$student:@url]">[$student:@name]</a></li>
  </ul>
</article>
