<article id="box-model">
  <h2>Everything is a box</h2>
  <img data-src="/media/images/david-byrne.gif" class="float left" style="width:5em;mix-blend-mode:multiply;"/>
  <p>Depending on your major, your perspective on web design/development from that of your classmates my be quite stark. It is likely that designers in this class first learned layout from a graphic perspective, attempting to apply design principles to their <abbr>HTML</abbr> and <abbr>css</abbr> work. Students with a programming background may have learned to apply 3<sup>rd</sup> party frameworks to solve problems consistently or efficiently, perhaps using <abbr>html</abbr> and <abbr>css</abbr> as a means to an end. Thus, both groups have an achilles heel; when looking for a shortcut, designers avoid the rigor of programming while programmers avoid the rigor of design. The good news for designers is that programming is very much about design, and the good news for programmers is that good design is very much about precision and optimization.</p>
  
  <section class="container whitepaper tt pulled">
    <h4>The Box Model</h4>
    <div class="______ float left outdented justified note">
      <p>Conceptually, it has been around long enough to have many many tutorials and write-ups describing every last detail. The nutshell is adjacent: the area in <span style="background-color:rgb(244, 255, 115)">yellow is the margin</span>, <span style="background-color:rgb(150, 214, 197)">green is the padding</span>, <span style="background-color:#ccc"> gray is the border</span> and <span style="background-color:rgb(162, 162, 250)">blue is the content</span>. Within these constraints you organize the position and layout of content. <strong>Understand that you can set the top, right, bottom, and left margin, padding and border independently</strong>.</p>
      <p>A decade ago the box-model was implemented differently in different browsers (and it was a nightmare). Perhaps the bitterness of the past leaves me confident to conclude that with only one set of straightforward rules, it you should spend a few hours learning what there is to learn about it. That’s right, <strong>a few hours</strong>, and there you are, you've learned it!</p>
    </div>
    <div class="____ float left t" style="background-color:rgb(244, 255, 115);">
      <div style="margin:10%;padding:10%;background-color:rgb(150, 214, 197);border: 3px solid #888;">
        <div style="background-color:rgb(162, 162, 250);min-height:15em;line-height:20;color:#fff;text-align:center">Content</div>
      </div>
    </div>
  </section>
  <section class="tt">
    <h3>Box-Sizing</h3>
    <p>The <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing">box-sizing</a> property Box sizing is a newer feature, and I'll briefly say that while the box model can be computed in two ways–either <code>content-box</code> (default) or <code>border-box</code>, it’s generally recommended to set everything to <code>border-box</code> once you know the difference. You can set a property to all elements with a <strong class="discuss">universal selector.</strong></p>
  </section>
  <section class="tt">
    <h3>Positioning</h3>
    <p>A browser viewport is governed by a version of the <a href="https://en.wikipedia.org/wiki/Cartesian_coordinate_system">Cartesian coordinate system</a>. To pinpoint something in space, you start with the origin, which in the browser world, is the <code>top</code> and <code>left</code> of the viewport ( but you can also use <code>bottom</code> and <code>right</code> to position elements). Now that we understand units, and have a gist of the box model, we can talk about the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/position">position</a> property. The big ones we will concern ourselves with are <code>static</code> (the default), <code>relative</code>, <code>absolute</code> and <code>fixed</code>.</p>
    <p>Setting the position should not be confused with setting the margin, padding, and border, and is best utilized to <sub>(1)</sub> move something to a specific point in space and <sub>(2)</sub> pull an object out of the flow of the document (perhaps to overlap elements), often both in combination, such as a light box overlay for viewing media. <sup>*</sup> Setting the position to <code>absolute</code> or <code>fixed</code> pulls the element out of the <em>document flow</em>, see my note in the float example below.</p>
    <style>
      svg {
        position:fixed;
        top:0;
        left:0;
        z-index:-1;
      }
      text {
        stroke: #333;
        font-size:1em;
        text-anchor: middle;
      }
      line {
        stroke-width:1;
        shape-rendering: crispEdges;
        stroke:rgba(0,0,0,0.25);
        stroke-dashArray: 10 10;
      }
    </style>
    <!-- <script type="text/javascript">
      bloc.init('cartesian-space', function() {
        var dims = [window.innerWidth, window.innerHeight],
            axis = {x: null, y: null},
            preview = new SVG(document.querySelector('#box-model'), window.innerWidth, window.innerHeight),
            emratio = 1 / parseInt(getComputedStyle(document.body).fontSize, 10)

        // draw axes
        axis.x = preview.createElement('line', {
          x1: 0,
          y1: preview.height / 2,
          x2: preview.width,
          y2: preview.height / 2
        });
        axis.y = preview.createElement('line', {
          x1: preview.width / 2 ,
          y1: 0,
          x2: preview.width / 2,
          y2: preview.height
        });
        document.body.addEventListener('mousemove', function(evt) {
          axis.x.setAttribute('y1', evt.clientY);
          axis.x.setAttribute('y2', evt.clientY);
          axis.y.setAttribute('x1', evt.clientX);
          axis.y.setAttribute('x2', evt.clientX);
          var coords = [
            evt.clientY + window.scrollY,
            dims[0]-evt.clientX,
            document.body.scrollHeight - (evt.clientY + window.scrollY),
            evt.clientX + window.scrollX
          ];
          console.log(`top: ${coords[0]}px, ${coords[0]*emratio}em,\nright: ${coords[1]}px, ${coords[1]*emratio}em\nbottom: ${coords[2]}px, ${coords[2]*emratio}em\nleft: ${coords[3]}px, ${coords[3]*emratio}em`);
        });

      });
    </script> -->
  </section>


  <section class="tt">
    <h3>Layout &amp; Floats</h3>
    <p>Learning layout is obviously quite important to learning how to apply a design. With the proliferation of tablets and mobile devices, the toolset for controlling layout is moving very quickly. I'd advise you to go through this tutorial called <em><a href="http://learnlayout.com/">Learn CSS Layout</a></em>. Those who have done their research will note at the end the introduction of <em>flexbox</em> and probably want to investigate those techniques. Flexbox is tremendous, although a tad complicated so that will be covered in the <abbr title="scripting for web and mobile 2">SWM2</abbr> curriculum.</p>
    <div class="comparison container">
      <aside class="______ float left t b ruled top bottom">
        <div class="note">
          <p>Watch the carousel below carefully as it attaches new classes. You may see a pattern emerge, but if not, keep at it, this may be one of the <strong>most confusing parts of <abbr>css</abbr> floats.</strong> Specifically, notice the containing element, how it collapses when items are floated. This is by design, but it takes a long time to understand when and precisely why this happens.</p>
          <p>Whenever you you apply a <code>float</code> property to an element, that element is removed from the normal flow. This also happens when you apply <code>absolute</code> or <code>fixed</code> positioning. Essentially this means the the parent containing the element no longer knows about the size and shape of the floated content. Imagine a basket of tennis balls in the bottom of an empty swimming pool. Fill the pool with water, the nature of the relationship between the tennis balls and the basket changes significantly—notably the basket doesn’t do anything. We can get around this by implementing a clearfix (covered in <a href="http://learnlayout.com/clearfix.html">the tutorial</a>).</p>
        </div>
        <pre class="prettyprint">
&lt;div class="<span data-example="code">bordered</span>"&gt;
  &lt;p class="first box bordered"&gt;FIRST…&lt;/p&gt;
  &lt;p class="second box bordered"&gt;SECOND…&lt;/p&gt;
&lt;/div&gt;
        </pre>
        <div style="min-height:20em;">
          <div data-example="code" class="bordered">
            <p class="first box bordered">FIRST…</p>
            <p class="second box bordered">SECOND…</p>
          </div>
        </div>
      </aside>
      <pre class="prettyprint ____ float left whitepaper">
        <!-- review views/css/examples/variables.css floating -->
      </pre>
      <link rel="stylesheet" href="/css/examples/variables.css" title="variable-example"/>
      <script type="text/javascript">
      // <![CDATA[
        bloc.init('class-cycle', function () {
          var elems = document.querySelectorAll('[data-example="code"]');
          var sequence = ['bordered first', 'bordered second', 'bordered first second', 'bordered first second box-container', 'bordered'];
          var current = cycle(0, sequence.length);
          setInterval(function () {
            var class_name = sequence[current()];
            elems.item(0).firstChild.innerText = class_name;
            elems.item(1).className = class_name;
          }, 5000);

        });
      //]]>
      </script>
    </div>
  </section>
  <footer>
    <p>Here is an <a href="http://jsbin.com/yufikihifa/edit?html,css,js,output">example to work on</a> together.</p>
  </footer>
</article>
