<article>
  <h2>Layout Modes</h2>
  <p class="intro"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_mode">Layout modes</a> are the algorithms that determine the position, size, and interaction of boxes especially in regard to their siblings and ancestor boxes.</p>
  
  
  <dl>
    <dt>The <strong>Block Layout</strong></dt>
    <dd>Strategies for designing the layout capable of columns in terms of containers and their relationships. This technique is done primarily through the <code>float</code> property.</dd>
    <dd>Strategies and skills necessary to achieve block layouts <em>are fundamental</em></dd>
    <dt>The <strong>Inline Layout</strong></dt>
    <dd>Designed for layout out text—think about standard typographic things, <samp>line-height</samp>, <samp>letter-spacing</samp>, <samp>font-size</samp> etc.</dd>
    <dd>Inline layouts <em>are fundamental</em></dd>
    <dt>The <strong>Table Layout</strong></dt>
    <dd>If you are doing anything that would store well in a spreadsheet, this is your layout tool of choice.</dd>
    <dt>The <strong>Positioned Layout</strong></dt>
    <dd>This layout mode is for positioning elements primarily through concepts of a coordinate system.</dd>
    <dd>Used to make relationships between individual elements less meaningful—for instance, if you wanted to overlap items in layers you would adjust their <code>position</code> property.</dd>
    <dt>The <strong>Flexible Box Layout</strong></dt>
    <dd>Flexible layouts allow the designer to take their mind off of the details and let the platform or device determine layout sizes and positions.</dd>
    <dd>Good for responsive layouts that fit traditional patterns, such as a grid of images where the specific sizes are not a concern.</dd>
    <dd>Has an inverted learning curve: easier to implement basics, intermediate to complicated task require much more knowledge.</dd>
    <dt>The <strong>Grid Layout</strong></dt>
    <dd>Designed for laying out elements relative to a fixed grid.</dd>
    <dd>Very new.</dd>
  </dl>
</article>