<article class="margins">
  <h2>Programming (baby) step #2: <em>An example of computability</em></h2>
  <p>I mentioned in the last outline that counting is a part of human history, and likewise, is the essential function of a computer. I provided some links and claimed that computers can be composed of essentially simple circuits made of relays (electrically controlled switches) and flip-flops (circuits that can remember their last state).</p>
  <p>First, let’s take a look at a this <a href="https://www.youtube.com/watch?v=gI8luQnyM9A">square root calculator</a>. If interest/time permits, I'll go over <a href="https://gist.github.com/brendanmetzger/dbbf341f08c06f37f4739ad620af1289">this gist</a> I wrote of a tiny program that can count in any number of ways.</p>
</article>