<article id="intro-to-counting" data-classification="theory interactive beginner" style="background-size:50% auto;background-image: url(/css/media/sine.svg);background-repeat:repeat-x;">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    @keyframes scroll {
      0% {background-position: 100% 0}
      100% {background-position:0 0}
    }
    #intro-to-counting:hover {
      animation: scroll steps(9) 1.5s infinite;
    }
    
    /* ]]> */
  </style>
  <h2>Programming Essentials: <em>counting</em></h2>
  <p class="intro discuss">As humans, have you ever wondered <strong>why do we count to 10</strong>? Is there a better way?</p>
  <p>The fascinating thing is that there are many ways to count, in fact, an infinite number of ways, and ancient peoples had different methods, usually best suited to their needs and commerce. It wasn’t until the 20<sup>th</sup> century after decades and decades of understanding the principles of <a href="https://en.wikipedia.org/wiki/Boolean_algebra">boolean algebra</a> that people began realizing a machine could be able to count for us. Modern computers are essentially very complicated clocks; they turn electricity into a trove of circuits that at the most basic level tick billions of times a second and thus, can count pretty fast.</p>
  <h3>Clocks &amp; Carousels</h3>
  <p>Working out the actual mechanics is not important at this stage, but understanding the notion of counting in terms of sequences and patterns is something to start lodging into your brain.</p>
  <ul>
    <li>Clocks; an homage</li>
    <li>A computer from <a href="https://en.wikipedia.org/wiki/Electric_bell">bells</a> and <a href="https://en.wikipedia.org/wiki/Flip-flop_(electronics)">flip-flops</a></li>
    <li>Counting is colorful</li>
    <li>How many numbers do you really need?</li>
  </ul>
  
</article>