  <article class="container">
    <div class="______ float left margins" style="padding-right:2em;">
      <h2>Application Programming Interfaces</h2>
      <p>In an industry filled with buzzwords that drive me a little insane, an <abbr title="Application Programming Interface">API</abbr> is not one of them. In fact, it’s such an <em>extremely common </em> thing that it’s hard to develop a project without utilizing an <abbr title="Application Programming Interface">API</abbr> or two. Combining several <a href="https://citymapper.com/chicago/">several <abbr title="Application Programming Interface">API</abbr>s</a> can build an entire program using mapping, transit, weather, news, etc.</p>
      <p>An applicition programming interface is a $10 way of saying <q>when a program talks to another program.</q> Sometimes the other program is a library of code, like jQuery or D3, other times it’s a service or feed that returns data. For every <abbr title="Application Programming Interface">API</abbr>, there is a different technique, protocol, and set of expectations. If  you want to successfully use an <abbr title="Application Programming Interface">API</abbr> but have never been particularly predisposed to reading manuals, now might be a great time to start.</p>
      <p>Glance over some of the links to the right and take a peek at some of the documentation out there.</p>
    </div>
    <aside class="____ float left whitepaper t">
      <h3>Web Services</h3>
      <ul>
        <li><a href="https://developers.google.com/maps/documentation/javascript/">Google Maps</a></li>
        <li><a href="https://www.instagram.com/developer/">Instagram</a></li>
        <li><a href="https://dev.twitter.com/">Twitter</a></li>
        <li><a href="https://aws.amazon.com/">Amazon Web Services</a></li>
        <li><a href="https://developer.github.com/">Github</a></li>
      </ul>
      <h3>Data Services</h3>
      <ul>
        <li><a href="https://dev.socrata.com/">Socrata Open Data</a></li>
        <li><a href="https://data.cityofchicago.org/">City of Chicago Data Portal</a></li>
        <li><a href="http://api.data.gov/">U.S. Data Portal</a></li>
      </ul>
    </aside>
    <p class="focus clear">What are some <abbr title="Application Programming Interface">API</abbr>’s we are already familiar with?</p>
    <!-- <pre class="prettyprint">
      https://api.github.com/users/:username/events/public?callback=foo
    </pre> -->
  </article>