<article>
  <h2>Editing Calisthenics</h2>
  <section>
    <h3>Command Keys</h3>
    <p>We now are familiar with using command+arrow keys to jump around our editor. We know that holding shift down while doing this will select text. We are aware of indentation guides and invisible characters. If you are not aware of any of this stuff yet, or need a refresher: re-watch the lectures or ask me at any point if you need to clarify—this is the convenient stuff that will make your life easier!</p>
      <p>Over the last few weeks you've spent some time writing markup and indenting and organizing. Taking it a step further, let’s investigate ways we can <strong>indent a bunch of lines at once</strong>, and then let’s talk about <strong>commenting</strong>.</p>
    
  </section>
  <section>
    <h3>Utilizing packages</h3>
    <p>This week we are going to look at some of the things we can do with a text editor to optimize your workflow like adding packages and modifying snippits to work to our preferences. Though I use <a href="http://atom.io">Atom</a> in class, the important take away is all reputable program source code editors have packages, snippits, macros or some other system for doing pesky work for you.</p>
    <ul class="stylized star tt">
      <li>Picking Colors</li>
      <li>Installing packages.</li>
      <li>Changing snippits (<em>advanced stuff, but I want you to be aware of it</em>)</li>
    </ul>
  </section>
</article>