<div class="tt">
  <h4>Odds &amp; Ends</h4>
  <p>I have put together and compiled examples from previous semesters into a list of one-page sample projects that show off various techniques. Many of these are advanced in nature, but hopefully they highlight ideas if not actual techniques.</p>
  <dl>
    <dt><a href="https://gist.github.com/brendanmetzger/dd8d129327e9b94ec7076b101fdbee34">Pig Latin Translator</a></dt>
    <dd>A whizbang of a project that converts regular text into pig latin on the fly</dd>
    <dt><a href="https://gist.github.com/brendanmetzger/290deabf5a17cbe8f6c0ace1a3a83f0d">Looping and Creating Markup</a></dt>
    <dd>This page draws 1200 <code class="element">div</code> elements and slowly animates their background color in a synchronized timeout</dd>
    <dt><a href="https://gist.github.com/brendanmetzger/8b72aa761e676c75b6471b531d4ab903">Panels and Parents</a></dt>
    <dd>This page intends to show the power of dealing with a parent element to determine the state of a layout. This page has three states, three event listeners, one function and a whole lot of movement.</dd>
    <dt><a href="https://gist.github.com/brendanmetzger/e8e7d880c66720e6425ff2d8e892c95c">A Fractal</a></dt>
    <dd>(Advanced) This page shows a Lindenmayer System that draws a fractal using only <abbr>SVG</abbr> an JavaScript</dd>
    <dt><a href="https://gist.github.com/brendanmetzger/8439fa192a655011eecbde3402f6df19">FizzBuzz</a></dt>
    <dd>(Advanced) More of a proof of concept—I have made <a href="https://en.wikipedia.org/wiki/Fizz_buzz">FizzBuzz</a> programs dozens of different ways over the semesters; this is by far the most ridiculous concoction.</dd>
  </dl>
</div>