<article>
  <h2>Case Study: JavaScript functions</h2>
  <p class="intro">One of the best uses of JavaScript is to disseminate information through interactivity. The following case study in designed to investigate how functions can save us some time.</p>
  <p>I've spent a bit of time putting together <a href="https://gist.github.com/brendanmetzger/2e9e5ba0ece93dd2b7cf25adfcf2779c">this project</a> to help showcase interactivity and time management. It will be worth studying now so that we can refactor a few things in able to learn a bit about ways to use interactivity to both solve problems and provide interesting design solutions.</p>
</article>