<article>
  <h2>Case Study: JavaScript functions</h2>
  <p class="intro">One of the best uses of JavaScript is to disseminate information through interactivity. The following case study we will work on a few weeks at a time use functions and programming to make our jobs a little easier.</p>
  <p>I've spent a bit of time putting together <a href="http://codepen.io/brendanmetzger/full/XjvbaP/">this example</a> to help showcase interactivity and time management. It will be worth studying now so that we can refactor in the coming weeks and slowly learn the ropes when it comes to pragmatically thinking about ways to use interactivity to both solve problems and provide interesting design solutions.</p>
</article>