<article>
  <h2>Case Study: Relative Clocks</h2>
  <p class="intro t b m">I've written up a sample piece of code. Some parts are simple, some quite complex, but it outlines many principles, none of them arbitrary. Look carefully at the way variables are named, the length of the lines, the size of functions, and the indentation and formatting.</p>
  <section class="explain whitepaper">
    <aside>
      <h4>The Dataset</h4>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/assigned/function-medley.js the dataset -->
    </pre>
  </section>
  
  <section class="explain whitepaper">
    <aside>
      <h4>Simple Functions</h4>
      <p>You can bend functions to do some pretty interesting things, if you are patient enough to figure it out.</p>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/assigned/function-medley.js simple functions -->
    </pre>
  </section>
  
  <section class="explain whitepaper">
    <aside class="margins">
      <h4>A utility Function</h4>
      <p>Often functions really just need to convert some data type into another, in this case it turns a string into a number.</p>
      <p>The variable <samp>table</samp> serves as <a href="https://en.wikipedia.org/wiki/Associative_array">dictionary object</a> that stores values against a string key. Here, we take advantage of that and map human times like day or hour into their numerical equivalent.</p>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/assigned/function-medley.js utility function -->
    </pre>
  </section>
  
  <section class="explain whitepaper">
    <aside>
      <h4>The Regular Expression</h4>
      <p>Here is a Regular Expression (RegEx) to convert the string to a more consistent array. Reading from the left, the expression indicates: "match 1 or more digits, maybe a period and 0 or more digits followed by spaces and one of the following words: day, hour, minute or second" Mars' string of "24 hours 39 minutes and 35 seconds" converts to the <code>Array</code> <samp>['24 hour', '39 minute', '35 second']</samp></p>
      <h4 class="tt">Iterating Objects</h4>
      <p>Objects can be iterated, but it is a bit clunky, and use of the bracket operator shown earlier will be required once again.</p>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/assigned/function-medley.js data parsing -->
    </pre>
  </section>
  
  
  <section class="explain whitepaper">
    <aside>
      <h4>A doozy of a function</h4>
      <p>This is a function that takes a function as a callback parameter and returns a function. You may never quite wrap your head around this, but if you do, you will experience about 5 days of euphoria. Give or take.</p>
      <p>Here is what it does: give it an integer for a start position, the total hours, and something to do—a callback—on each cycle. Hypothetically, say we had an alarm clock that needed to go off at 8am, and the cycle—or day—is reset every 24 hours. That code would be <code>clock(8, 24, <i>(buzzz)</i>);</code> </p>
    </aside>
    <pre class="prettyprint">
      <!-- review views/javascript/examples/assigned/function-medley.js closure -->
    </pre>
  </section>
  
  
  <section class="whitepaper">
    <p>The last piece is the clock itself—a <a href="/css/media/clock.svg">simple <abbr>SVG</abbr> element</a> I made. If svg is unfamiliar, spend some time researching it—it’s very handy, and can be used as a vector image, as data and you can interact with it with both JS and <abbr>CSS</abbr>.</p>
    
    <ul class="stylized star tt bb">
      <li><code>camelCaseStrings</code> store <strong>functions</strong>, <mark>functions are executable</mark></li>
      <li><code>snake_case_strings</code> represent primitive types, objects and arrays</li>
      <li><code>FirstWordUppercase</code> means that the <mark>object that is to be constructed</mark> with the <code>new</code> operator, like the <code>Date</code> object.</li>
    </ul>
    <h4>Planetary Clocks</h4>
    <p>The implementation of the code is below. Drag the slider to determine how fast the clock ticks.</p>

    <div class="t" style="display:flex;justify-content:space-around;">
      <!--  insert views/css/media/clock.svg -->
    </div>
    
  </section>
  <script type="text/javascript">bloc.embed('/javascript/examples/assigned/function-medley.js');</script>
</article>