<article>
  <h2>Demo: <em>a résumé</em></h2>
  <p>Something that is suitable for today’s material would be a résumé. Like the templates offered when you start up a word processing program, today we are going to investigate ways to show the same content, with different styles using one stylesheet. By using methods of taxonomy, we'll demonstrate the power of clever naming and organization. First, I've started a <a href="/student/structure/resume.html">résumé</a> for you. Let’s practice together implementing more structure around the elements we know.</p>
</article>