<article id="smooth-scrolling">
  <script src="/javascript/smooth-scroll.js" charset="utf-8">
  </script>
  <h2>Smooth Scrolling</h2>
  <p class="margins">I've written a <a href="https://gist.github.com/brendanmetzger/1161c3b20b0f2bc5191ebe904db812bb">smooth-scrolling snippet</a> that you can use if you like. This bit of code, like the way of JavaScript-based animation in general, will go the way of the dinosaur soon. Like transitions and keyframe animation, there is already a <a href="https://drafts.csswg.org/cssom-view/#scrolling"><abbr title="cascading stylesheets">CSS</abbr> spec</a> on the books to facilitate a transitioned scroll… the countdown begins. >For data on support for the css-scroll-behavior feature across the major browsers you can <a href="http://caniuse.com/#feat=css-scroll-behavior">check caniuse.com</a></p>
  <p>While investigating anchors, you should find some interest in the <code>:target</code> <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:target">pseudo-class</a>. Note above, text of the <code>&lt;h2&gt;</code> will be red if the document has #smooth-scrolling at the end of the url—very handy.</p>
</article>
