<article class="topic">
  <h1>Glossary</h1>
  <dl>
    <dt>Text Editor</dt>
    <dd>We will all use Atom in this class</dd>
    <dt><abbr title="Hypertext markup language">html</abbr></dt>
    <dt><abbr title="Extensible Markup Language">xml</abbr></dt>
    <dt>Doctype</dt>
    <dt><abbr title="Hypertext Transfer Protocol">http</abbr></dt>
    <dt><abbr title="File Transfer Protocol">ftp</abbr></dt>
    <dt><abbr title="cascading style sheets">css</abbr></dt>

  </dl>

  <h2>Javascript</h2>
  <dl>
    <dt>Primitive Types</dt>
    <dt>Reference Types</dt>

  </dl>
</article>
