<section class="epilogue">
  <style media="screen">
    main {
      background:url(/css/media/cross-cut.svg) repeat-x left bottom;
      background-size:30% auto;
      padding-bottom:25vh;
    }
  </style>
  <h4 class="centered">End-notes</h4>
  <div class="three columns indented dropcap pad">
    <p>The simplest things in life are those with the attribute of <q>computability</q>—meaning there is a mechanical process for determining an answer if necessary. Is this an odd number? Will this conduct electricity? Will these pants fit? The opposite is an existential proposition; ask <em>is life meaningful</em> and you will never find a universal truth. You probably will not even find a consistent answer day to day.</p>
    <p>My father was a student of prose, and candidly, could benefit from some rigor when it comes practical affairs like math and science. Yet his whimsy did not make him a terrible carpenter, his profession. I’m of the belief that it most likely prevented it.</p>

    <p>Technique matters a great deal, as the carefully studied methods of an apprentice can lead to a mastery of a craft. Thought, beauty and integrity matter equally, but unlike technique, they are not easily defined nor mastered.</p>
    <p>As someone who appreciates these things, it is important to me that they do not become antiquities. When one goes about their work without honing skills or seeking perspective then the work is truly for naught.</p>
    <p>Somewhere our educational process we have gotten everything flipped around. We avoid the mechanical truths science and abstract math and of the precise execution of craft. We linger on the hard problems like identity and meaning planning for a future unknown and far away, always getting lost in the abyss and not changing a thing about the present moment.</p>
    <blockquote>
      <h5>There is nothing so magnificent as the substance of our souls, or a well-honed blade</h5>
    </blockquote>
  </div>

</section>
