<article>
  <style media="screen">
    main {
      background:url(/css/media/cross-cut.svg) repeat-x left bottom;
      background-size:30% auto;
      padding-bottom:15vh;
    }
  </style>
  <div class="three columns indented dropcap pad">
    <p>My father is a student of prose and the act of consciousness, not how to sharpen a cross-cut saw with a triangle file. Yet this did not make him a terrible carpenter, his profession. I assume it likely prevented it.</p>
    <p>Perspective in any craft matters greatly, just as the carefully studied methods of an apprentice can lead to mastery. Yes, precision matters, as does thought, beauty, and integrity.</p>
    <p>As someone who appreciates these things, it is important to me that they do not become antiquities. When one goes about their work without perspective or honed skill, when one takes the easiest way, there isn’t a soul out there—save a mother—who is left to appreciate that type of effort. I think about all the jobs in the world, all the people doing them, and I think about who appreciates what and it is often underwhelming save for scattershot instances of rare effort.</p>
    <p>There is nothing so magnificent as the substance of our souls, or a well-honed blade.</p>
  </div>

</article>
