<article class="epilogue">
  <h4 class="centered">[$reason]</h4>
  <h2>Design Thinking</h2>
  <section class="three columns outdented ruled">
    <p>Designers, programmers, mathematicians, and artists all fancy themselves some sort of special breed of thinker. Designers have this gift of intuition and visualize in tangible ways, programmers will efficiently solve any problem in the most efficient way, mathematicians dive into the limits of reason and knowing and artists push the boundaries of what can be expressed. The glut of literature (ahem, blogs) written by individuals of various allegiances championing their craft would seem to indicate this anyway, and in my own moment of opining, I consider such beliefs largely arrogant or naïve.</p>
    <p>Part of my own struggle with design, programming, mathematics and artistry is a dogged pursuit of <dfn>clairvoyance</dfn>, that is, letting the things in my mind be expressed in a way that is thoughtful, unique and wholly intentional. Architecture is perhaps the only profession that takes design, art, math and programming <em>so fucking seriously</em>, and in this way, I consider it perhaps one of the few places where we as humans apply a high level of <dfn>craft</dfn>. Fascinating to me, young people are quite literally not allowed to be exceptional architects; they must apprentice, study, be gainfully employed and be tested early in their career before beginning an independent practice. While this seems about to be an anthem on architecture, I assure you it's not; it is about my personal, steadfast belief in the principles of <dfn>craft</dfn>.</p>
  </section>
  <blockquote cite="Louis Khan" class="quote centered tt bb">
    <p>Design is not making beauty; beauty emerges from selection, affinities, integration, love.</p>
    <h6><em>Architect <a href="https://en.wikipedia.org/wiki/Louis_Kahn">Louis Khan</a></em></h6>
  </blockquote>
  <section class="three columns outdented ruled">
    <p>Designers and their gift of intuition: <em>bullshit</em>. Programmers and their gift of optimization: <em>extreme bullshit</em>. Mathematicians diving into the unknown: I believe the eight available positions <em> have been filled</em>. And lastly, the notion of the typecast artist some special idiosyncratic individual <em>drives me bananas</em>.</p>
    <p>Perhaps it's time for my pedigree. Academically, my studies can be broken into blocks of obsessive fascination and major/minor switching in this order: Architecture, Computer Science, Architecture, Interactive Art &amp; Design, Photography and ending with Mathematics. Professionally, they have been exclusively interactive design and programming, which means I work with graphic designers, user experience designers and programmers.</p>
  </section>
  <ul>
    <li>Design is the dogged and rigorous pursuit of <em>something ideal</em>. A great designer, by logical definition, should never consider themselves achieving their goal.</li>
    <li>A great programmer should look at a program and syntax the way a carpenter would look at a chisel. You'll know a shitty carpenter by the fact that they build one thing one time, consider it perfect, and talk about their chisel all day.</li>
    <li>Let’s be clear that the pure joy of mathematics comes from embracing abstraction, and in that way, it goes the farthest down the rabbit hole of what exactly it means to be human.</li>
    <li>Artistry is not an occupation. It is simply an adjacent word describing the transcendence that can take place in occupation involving craft</li>
  </ul>
  <hr/>
  <dl>
    <dt><dfn>clairvoyance</dfn> |kle(ə)rˈvoiəns| <em>noun</em></dt>
    <dd>the supposed faculty of perceiving things or events in the future or beyond normal sensory contact: she stared at the card as if she could contact its writer by clairvoyance.</dd>
  </dl>
</article>
