<article class="prologue">
  <h4 class="centered">prologue</h4>
  <h2 class="centered">Fencing vs. Ping-Pong</h2>
  <section class="indented m ________">
    <p>As I've continued to see the various growth and difficulties of those learning JavaScript, I’m ever more confused as to whether it’s  a good beginner language or a terrible as a beginner language. it’s easy to do the usual stuff—variables, loops, conditions, declare a function. It can be argued that it’s easier than C# or Python because you just crack open <em>any browser</em> and you have an interpreter. Take that one thing away though, I've come to the conclusion that the important JavaScript-y parts are incredibly difficult (events, async behavior).</p>
    <p>Now to compare it to something like CSS; something like ping-pong. You can become a phenomenal ping-pong player over time, but you can also have a pretty great time with it from swat #1: the mechanics of are easy to pick up on and mistakes aren't terribly dangerous. CSS makes things way better right away and half the time you mess up, it really doesn't matter at all. I see lot's of students are on the trajectory to become CSS greats.</p>
    <p>Now JavaScript is  fencing, 3 seconds, a couple of quick snaps and it’s over. it’s this abstract thing all about finesse, and to a beginner, the difference between good and bad is very obscure. Mistakes are not forgiven, there are a thousand ways to do seemingly the same thing, and becoming good takes both study and a fair amount of cleverness.</p>
  </section>
</article>
