<section>
  <h1>[$title]</h1>
  <p>This is your main index page. As outlined in the syllabus</p>

  <h3>Practice Assignments</h3>
  <ul>
    <!-- iterate student:practice:list -->
    <li><a href="[./practice/$practice:criterion:@index/index.html]">[$practice:criterion:@index / $practice:criterion:@title]</a></li>
  </ul>

  <h3>Projects</h3>
  <ul>
    <!-- iterate student:projects:list -->
    <li><a href="[./project/$project:criterion:@index/index.html]">[$project:criterion:@title]</a></li>
  </ul>
</section>
