<form action="[/$template/login]" method="post" class="whitepaper" style="margin:5em -2.5vmax;box-shadow:0 0 0.5em rgba(0,0,0,0.125)">
  <style media="screen">
    fieldset.login {padding :0;}
    fieldset.login input {
      font-size:5em;
      padding:0.25em;
      margin: 0.25em 0;
      width:100%;
      display: block;
    }
  </style>
  <h2 class="caps" style="font-family:'Avenir Next Condensed'">Login Required</h2>
  <fieldset class="login">
    <legend class="tt bb">[$status]</legend>
    <!-- replace user -->
    <input type="password" value="" name="pin" placeholder="identification / oasis" required="required" />
  </fieldset>
  <button type="submit">Authenticate</button>
</form>
