<section class="critique">
  <script type="text/javascript">
    // <![CDATA[
    bloc.init('viewer', function () {

      document.querySelector('section.critique > ul.buttons').addEventListener('click', function (evt) {
        if (evt.target.matches('li[data-task]')) {
          var request = new XMLHttpRequest();
              request.open('GET', '/task/source/'+this.dataset.url);
              request.addEventListener('load', function (evt) {
                console.log(evt.target.responseText);
                document.getElementById('source-code').textContent = evt.target.responseText;
                if (window.prettyPrint) {
                  prettyPrint();
                } else {
                  console.log('wtf');
                }
              });
          request.send()
          console.log(evt.target.dataset.task, this.dataset.url);
        }
      });
    });
    // ]]>
  </script>
  <ul class="plain inline buttons" data-url="[$b64url]">
    <li data-task="preview">Preview</li>
    <li data-task="source">Source</li>
    <li data-task="css">CSS</li>
    <li data-task="js">JS</li>
  </ul>
  <!-- insert views/layouts/forms/assignment.html -->
</section>
