<fieldset class="discourse container">
  <legend>[$topic]</legend>
  <section class="____ float left">
    <label>
      <h4>On Time</h4>
      <input type="range" name="discourse[@][punctuality]" min="0" max="1" step="0.1" value="[$discourse:@punctuality]"/>
    </label>
    <label>
      <h4>Remained in Class</h4>
      <input type="range" name="discourse[@][persistance]" min="0" max="1" step="0.1" value="[$discourse:@persistance]"/>
    </label>
    <label>
      <h4>Focus/Attention</h4>
      <input type="range" name="discourse[@][observation]" min="0" max="1" step="0.1" value="[$discourse:@observation]"/>
    </label>
  </section>
  <label class="______ float left">
    <h4>Notes</h4>
    <textarea name="discourse[CDATA]" cols="30" rows="10">[$discourse]</textarea>
  </label>

  <button type="submit" data-value="1">Present</button>
  <button type="submit" data-value="0">Absent</button>
  <script type="text/javascript">
    function setSliders(evt) {
      // this = button
      [].forEach.call(document.querySelectorAll('.discourse input'), function (input) {
        input.value = this.dataset.value;
        console.log(this);
      }, this)
    }

    [].forEach.call(document.querySelectorAll('.discourse button'), function (button) {
      button.addEventListener('click', setSliders.bind(button), false);
    });
  </script>
</fieldset>
