<fieldset class="container">
  <legend>[$topic]</legend>
  <section class="____ float left">
    <label>
      <h4>On Time</h4>
      <input type="range" name="discourse[@][punctuality]" min="0" max="0.75" step="0.25" value="[$discourse:@punctuality]"/>
    </label>
    <label>
      <h4>Remained in Class</h4>
      <input type="range" name="discourse[@][persistance]" min="0" max="0.75" step="0.25" value="[$discourse:@persistance]"/>
    </label>
    <label>
      <h4>Focus/Attention</h4>
      <input type="range" name="discourse[@][observation]" min="0" max="1.5" step="0.25" value="[$discourse:@observation]"/>
    </label>
  </section>
  <label class="______ float left">
    <h4>Notes</h4>
    <textarea name="discourse[CDATA]" cols="30" rows="10">[$discourse]</textarea>
  </label>
</fieldset>
