<fieldset class="container">
  <legend>[$topic]</legend>

  <label class="float left __ centered">
    <h3>Tardy</h3>
    <input type="checkbox" value="0.25" name="cost[0][0]"/>
    <input type="checkbox" value="0.25" name="cost[0][1]"/>
    <input type="checkbox" value="0.25" name="cost[0][2]"/>
  </label>
  <label class="float left __ centered">
    <h3>Ditch</h3>
    <input type="checkbox" value="0.25" name="cost[1][0]"/>
    <input type="checkbox" value="0.25" name="cost[1][1]"/>
    <input type="checkbox" value="0.25" name="cost[1][2]"/>
  </label>
  <label class="float left ___ centered">
    <h3>Disengaged</h3>
    <input type="checkbox" value="0.25" name="cost[2][0]"/>
    <input type="checkbox" value="0.25" name="cost[2][1]"/>
    <input type="checkbox" value="0.25" name="cost[2][2]"/>
    <input type="checkbox" value="0.25" name="cost[2][3]"/>
    <input type="checkbox" value="0.25" name="cost[2][4]"/>
    <input type="checkbox" value="0.25" name="cost[2][5]"/>
  </label>
</fieldset>
