<fieldset>
  <legend>[Practice $index]</legend>
  <section class="sliders">
    <label class="container">
      <h4>Effort</h4>
      <input type="range" name="practice[@][effort]" min="0" max="0.5" step="0.05" value="[$practice:@effort]"/>
    </label>
    <label class="container">
      <h4>Organized</h4>
      <input type="range" name="practice[@][organization]" min="0" max="0.5" step="0.05" value="[$practice:@organization]"/>
    </label>
    <label class="container">
      <h4>On Time</h4>
      <input type="range" name="practice[@][punctuality]" min="0" max="7" step="1" value="[$practice:@punctuality]"/>
    </label>
    <label class="container">
      <h4>Mission</h4>
      <input type="range" name="practice[@][mission]" min="0" max="1" step="0.1" value="[$practice:@mission]"/>
    </label>
  </section>
  <label for="notes">Notes</label>
  <textarea name="practice[CDATA]" cols="30" rows="10" id="notes">[$practice]</textarea>
</fieldset>
