<fieldset id="project" class="notes" data-url="[$url]">
  <legend>[$index Project]</legend>
  <h3 class="centered percentage ruled bottom top">[$project:percentage]</h3>
  <section class="sliders">
    <!-- iterate project:inputs -->
    <label class="container">
      <h5>[$key]</h5>
      <input type="range" name="project[@][axes][]" min="0" max="0.1" step="0.01" value="[$value]" style="width:100%"/>
    </label>
  </section>
  <label for="notes">Notes</label>
  
  
  <!--  iterate project:files -->
  <fieldset>
    <legend>[$file:@path]</legend>
    <input type="hidden" name="[project[file][$index][@][errors]]" value="[$file:@errors]" />
    <input type="hidden" name="[project[file][$index][@][sloc]]" value="[$file:@sloc]" />
    <input type="hidden" name="[project[file][$index][@][length]]" value="[$file:@length]" />
    <input type="hidden" name="[project[file][$index][@][hash]]" value="[$file:@hash]"  />
    <input type="hidden" name="[project[file][$index][@][commits]]" value="[$file:@commits]" />
    <input type="hidden" name="[project[file][$index][@][age]]" value="[$file:@age]" />
    <input type="hidden" name="[project[file][$index][@][aux]]" value="[$file:@aux]" />
    <input type="hidden" name="[project[file][$index][@][report]]" value="[$file:@report]" />
    <input type="hidden" name="[project[file][$index][@][path]]" value="[$file:@path]" />
    <textarea name="[project[file][$index][CDATA]]" >[$text]</textarea>
  </fieldset>
  <script type="text/javascript">
    // <![CDATA[
    bloc.embed('/javascript/iam.js');
    document.querySelector('#project').addEventListener('change', function (evt) {
      var score = [].map.call(this.querySelectorAll('input[type="range"]'), function(node) {
        return parseFloat(node.value, 10);
      }).reduce(function (accumulator, current) {
        return accumulator + current;
      }, 0);
      this.querySelector('.percentage').textContent = Math.max(0, Math.round(score * 100));
    });
    // ]]>
  </script>
</fieldset>
