<section>
  <div class="container">
    <img src="[$cdn/media/images/Louis-Crusius-Antikamnia.png]" alt="Louis Crusius Antikamnia Illustration" class="float left" style="height:60vh;mix-blend-mode: multiply;shape-outside:polygon(50% 0, 70% 25%, 90% 50%, 70% 100%);"/>
    <h1 class="massive">The Final Test</h1>
    <p class="intro">
      For this exam, you will write what amounts to an essay—a chance for you to reflect and share your successes and failures. Tests are important activities, but unfortunately they are treated as scary things that can only cause us harm. Rest assured, this quiz cannot cause harm, but it may not lead to success. Read below to understand the difference.</p>
  </div>
  <section class="margins">
    <h3 class="t b">The Why of it</h3>
    <p>At this point in the semester some of you have come a long way, and are essentially guaranteed a good grade regardless of what happens from here on out. Others, well... poor habits of time management, lack of study or missed classes have put your grade in jeopardy. Before you begin writing, take a look at your grade and ask yourself the following question: <strong>do you agree or accept the mark you currently have?</strong></p>
    <hr class="ruled t b"/>
    <h3 class="b">If yes, <b>accept</b></h3>
    <p>You can go in any direction, but I really want to hear about times—either in class our out—where the topics we discussed in class made you think about the medium a little differently. Mind, if you feel that never happened, feel free to spell that out, but just don't break the rules below. Write an essay starting with the words: <q>Web development is...</q></p>
    <hr class="ruled t b"/>
    <h3 class="b">If no, <b>disagree</b></h3>
    <p>Ultimately, what your doing here is saying <q>I want a better grade</q>, and I am willing to listen to that argument if you are able to make a coherent case. I've authored weekly outlines, provided documentation and resources, have done in-class examples and even recorded lectures. Using <strong>concrete examples</strong>—that means code samples, techniques and highly technical language—<strong>prove</strong> to me you know more than you have shown me so far.</p>
    <p>I expect the agency of someone who has spent time with this material, and the ability to show that is paramount. Begin your essay with <q>In Scripting for Web &amp; Mobile...</q></p>
    <hr class="ruled t b"/>
    <h3 class="b">Grading</h3>
    <p>Agree or disagree, you will not do poorly due to the actual content of what you write. You are shooting for 400 words, or think of it, ¼ of a point per word, maxing out at 100 points. You may author your essay <a href="http://codepen.io/brendanmetzger/full/qqoqVy/">in this interface</a> and then copy/paste it into an email you send me with the subject line <mark>Final Quiz</mark>.</p>
    <p>As for substance; <strong>grammar, clarity, professionalism and style</strong> are always important. In addition, consider the rules below and understand that for every breach I will dock 5 points.</p>
    <ul class="stylized cross t">
      <li><strong>No tugging at heart strings</strong>: do not write anything apologetic or that amounts to an excuse.</li>
      <li><strong>No Scapegoating</strong>: don't blame me, your roommate, or the weather for anything</li>
      <li><strong>No Equivocating</strong>: do not make statements that cannot be validated or do not support the topic ie., <q>JavaScript was too much to wrap my head around</q></li>
    </ul>
  </section>

</section>
