<footer class="ruled top" style="margin-top:5em;">
  <h4>Reminders/Ground Rules</h4>
  <p>Practice and Projects and self directed study are supremely valuable. Inability to get through the material will become an issue as the course progresses, so don't fall behind. Everyone at some point will find the material challenging, so embrace the challenge and don't deny yourself the opportunity to succeed. Also, if you don't find <strong>any</strong> of the material challenging, you aren't trying hard enough and there will be consequences. Here is a nutshell of reminders:</p>
  <dl>
    <dt>Questions</dt>
    <dd>You should have them. <em>Lots of them</em>. Don't stop working on something because you think you don't get it. Write down what you are stuck on and move along to another topic or try another thing.</dd>
    <dd>They should be specific and should indicate some level of understanding with the concept. Asking a very broad (or google-able) question to buy time isn't going to work.</dd>
    <dt>Scheduling</dt>
    <dd>Start earlier. Week by week we will advance through new and confusing technical concepts. Thinking you'll remember and get it later will bring out the worst of Murphy's Law for you. Something crashes, you lose a file, you actually don't remember what the assignment was, <strong>it's on you</strong>.</dd>
    <dd>Emailing late at night before something is due is a <strong>bad idea</strong>. Not bad because I don't care–I actually  want to answer your question—it's bad because I won't have the time or energy to give you proper help. Let me be honest; it is stressful for <em>you and I both</em>, and if you have a habit that causes stress, it's a habit you must break.</dd>
    <dt>Confusion</dt>
    <dd>Not <q>getting an assignment</q> is understandable, but it is no reason to pack it in. If you don't know what I'm asking and you don't feel like getting to the bottom of it with me or a peer, find another (applicable) way to show you are practicing.</dd>
    <dd>Your course template gives you the structure to move forward. If you are reading a lot and practicing the material and you can show me that in your template, then go your own direction with assignments. My asks are the <strong>bare minimum</strong>, advanced students should be well beyond the minimum.</dd>
  </dl>
</footer>
