<footer class="ruled top container epilogue">
  <h4>※ Keep in Mind</h4>
  <section class="____ float left indented pad">
    <p>Practice and self directed study are going to be where you gain the vast majority of skills in life. Inability to get through the material will have a disastrous effect on your creativity and talent, so don’t fall behind. <strong>Please don't fall behind.</strong> <em><strong>I beg you, don't fall behind... I'm pleading here!</strong></em></p>
    <p>Everyone at some point will find the material challenging, so embrace the challenge and in time you will start to enjoy it. Conversely, if you don’t find the material challenging, read <a href="http://www.fastcompany.com/3060947/six-habits-of-people-who-confuse-ego-with-self-confidence">this article about the problem with confidence</a>.</p>
  </section>
  <ul class="______ float left">
    <li>ME: Provide environment suitable to asking questions and dialogue. YOU: ask questions and engage in dialogue.</li>
    <li>Work through confusion: jot down what you are stuck on and bring it to class and we'll discuss—if you are stuck, someone else is too.</li>
    <li>I will kid around with this throughout the semester; familiarize yourself with the concept of <a href="https://en.wikipedia.org/wiki/RTFM"><abbr title="Read the f-ing manual">RTFM</abbr></a></li>
    <li>Start early, start often. Backup your work. Procrastination and sloppiness has an oddly strong corollary with <a href="https://en.wikipedia.org/wiki/Murphy%27s_law">Murphy’s Law</a>, ie. <q>my computer exploded the night before the final and I lost everything!</q></li>
    <li class="discuss">Avoid emailing late the night before something due. I don't want you be stressed out, please don't stress me out.</li>
    <li>Not <q>getting an assignment</q>—I understand that.  If you don’t know what I’m asking and it is keeping you from getting started, go your own direction and show you are practicing so you don't fall behind—I can be flexible as long as the effort is there.</li>
  </ul>
</footer>
