<section style="padding-bottom:20vw" class="prologue">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    main {
      background-image: url(/css/media/life.svg);
      background-repeat:repeat-x;
      background-position: 0 100%;
      background-size:contain;
    }
      
    /* ]]> */
  </style>
  
  <h4 class="centered">never finished</h4>
  <h2>The Absolute Beginner</h2>
  <div class="three columns outdented">
    <p>A few years in to my career project deadlines and stubborn clients swallowed most of my energy to be curious and tinker with ideas. Without sugarcoating it, it is difficult to both <em>learn and be productive</em>. In my own struggle to keep learning I've collected a pile of briefly-relevant technical literature. Many over five years old are essentially tales of defunct technology, but a handful of books about philosophic approaches and design principles continue to offer perspective. One of the latter that I still read is <em>Pragmatic Thinking and Learning</em> by Andy Hunt.</p>
    <p>This book introduced the notion of skill acquisition; a topic that you may find bemusing or disagreeable, but likely thought provoking. <a href="https://en.wikipedia.org/wiki/Dreyfus_model_of_skill_acquisition">Acquiring a new skill</a> (something that must be learned to be applied) follows a pattern. We begin a <em>novice</em>, then graduate to <em>absolute beginner</em>, ideally gain <em>competency</em>, perhaps <em>proficiency</em> and in very rare instances, become an <em>expert</em>. Some of my peers have a reactionary stance to the following posit: each step of the process may take about a decade of true and honest effort and progression is fragile and often stunted. The part that might shock you is the fact that few <em>humans make it past beginner in any given skill.</em> Many stop learning the minute they aren’t asked to. Far worse is the case where many never learn how to learn in the first place. That’s right, <strong>learning is a skill</strong> in itself.</p>
    <p>Whether it is losing neurons as years tick by, or demands of clients, work and Facebook; these factors chip away the precious decades we have to know the things we desire. Reflecting back, my time in college was the most academically fertile of my life. Youth is often touted as having the advantage of brain plasticity, but I think youth has very little to do with it; it was because of opportunity. There are very few places left in adult life that ask you to research, thinking abstractly and strive for personal intellectual gain.</p>
    <p>In my own career, my time is necessarily compromised enough to grant me the confidence to say this: The effort it takes to get off your feet is substantial. The feeling of accomplishment that follows as you embark on a career will be curtailed by obstacles that eat at your time, energy and ideals. You may be asked for more solutions and less ideas. The hardest part is to get that rock to budge from <em>novice</em> to <em>beginner</em>, and many know from experience, a <a href="https://en.wikipedia.org/wiki/Shoshin">beginner’s mind</a> is perhaps the most clairvoyant of any.</p>
  </div>
</section>
