<section class="prologue">
  <style media="screen">
    main {
      background:url(/css/media/cross-cut.svg) repeat-x left bottom;
      background-size:30% auto;
      padding-bottom:25vh;
    }
  </style>
  <h4 class="centered">End-notes</h4>
  <h1 style="display:none;">Abandoned Craft</h1>
  <div class="three columns indented dropcap pad">
    <p>The simplest things in life are those with the attribute of <q>computability</q>—meaning there is a mechanical process for determining an answer if necessary. Is this an odd number? Will this conduct electricity? Will these pants fit? The opposite is an existential proposition; ask <em>is life meaningful</em> and you cannot find truth. You probably will not even find a consistent answer day to day.</p>
    <p>Technique matters a great deal, as the carefully studied methods of an apprentice can lead to a mastery of a craft. Thought, beauty and integrity matter equally, but unlike technique, they are not easily defined nor mastered. As someone who appreciates these things, it is important to me that they do not become antiquities. When one goes about their work both without honing skills nor seeking perspective then it is all too easy to question the value of such effort.</p>
    <p>It is important to strike a balance between having clear perspectives and the skilled touch needed to express them—this is the mission of any designer, and it is a difficult charge. Somewhere in the recent history of liberal education we have blurred those two tasks. We tend to avoid the easy mechanical truths of science and math (and with it the precise execution of craft) because they are often unexciting—we crave rewards, not complications. However, if you embrace complexity and are willing to organize it into meaning, you quickly learn that the easiest problems in life are those whose answers require nothing more than patience and effort. As Noam Chomsky once said, <q>The world is a very puzzling place. If you’re not willing to be puzzled, you just become a replica of someone else’s mind.</q></p>
  </div>
</section>
