<section class="epilogue">
  <style media="screen">
    main {
      background:url(/css/media/cross-cut.svg) repeat-x left bottom;
      background-size:30% auto;
      padding-bottom:25vh;
    }
  </style>
  <h4 class="centered">End-notes</h4>
  <h1 style="display:none;">Abandoned Craft</h1>
  <div class="three columns indented dropcap pad">
    <p>The simplest things in life are those with the attribute of <q>computability</q>—meaning there is a mechanical process for determining an answer if necessary. Is this an odd number? Will this conduct electricity? Will these pants fit? The opposite is an existential proposition; ask <em>is life meaningful</em> and you will never find a universal truth. You probably will not even find a consistent answer day to day.</p>
    <p>My father went to graduate school for theology, and candidly, could benefit from some rigor when it comes practical affairs like math and science. Yet his studies did not make him a miserable carpenter—his profession and the work I participated in throughout my childhood. I’m of the belief that it most likely prevented it.</p>
    <p>Technique matters a great deal, as the carefully studied methods of an apprentice can lead to a mastery of a craft. Thought, beauty and integrity matter equally, but unlike technique, they are not easily defined nor mastered.</p>
    <p>As someone who appreciates these things, it is important to me that they do not become antiquities. When one goes about their work without honing skills or seeking perspective then the work may have no purpose.</p>
    <p>Somewhere along the path of our pedagogical approaches we have flipped things around. We tend to avoid the easy mechanical truths of science and math (and with it the precise execution of craft). While it’s fine to linger on problems with no answer (even encouraged), do not neglect the difficult work of sharpening your mind and honing your craft.</p>
  </div>
</section>
