<section class="prologue">
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    body {
      background:url(/media/images/fencing2.png) no-repeat -15%  50% fixed;background-size:125% auto;
    }
    /* ]]> */
  </style>
  <h4 class="centered">prologue</h4>
  <h2 class="centered">Fencing vs. Ping-Pong</h2>
  <div class="indented m ________">
    <p>As I've continued to the trials and tribulations of those learning JavaScript, I’m speculate more and more as to whether it is a good beginner language or an overly confusing one. it’s easy to do the usual stuff—variables, loops, conditions, declare a function. It can be argued that it’s easier than C# or Python because you just crack open <em>any browser</em> and you have a place to run (even write) your program. Take that one thing away though, I've come to the conclusion that the important JavaScript-y—things with long names like <em>asynchronous behavior</em> are not so beginner friendly.</p>
    <p>Now to compare it to something like <abbr title="cascading stylesheets">css</abbr>; something like ping-pong. You can become a phenomenal ping-pong player over time, but you can also have a pretty great time with it from swat #1: the mechanics are easy to pick up and mistakes aren’t so punitive. <abbr title="cascading stylesheets">css</abbr> makes things way better right away and half the time you mess up, it really doesn’t matter at all. Many students find themselves quickly understanding and becoming quite skilled at applying <abbr title="cascading stylesheets">css</abbr>.</p>
    <p>Now JavaScript would be best compared to something like fencing, 3 seconds, a couple of quick snaps and... it’s over. It is this abstract dance all about finesse, and to a beginner, the difference between good and bad is completely obscure. There are a thousand ways to do seemingly the same thing and even the smallest mistakes are not forgiven. Becoming good takes study and a great deal of practice. Becoming great takes cleverness and creativity.</p>
  </div>
</section>
