<section class="prologue">
  <style media="screen">
    section.prologue {
      background-blend-mode: multiply;
      background:url(/media/images/differential-equation.png) no-repeat left bottom;
      background-size:100% auto;
      padding-bottom:25vh;
    }
  </style>
  <h4 class="centered">Facing Fears</h4>
  <h1 style="display:none;">Knowledge is a Decision</h1>
  <div class="three columns indented dropcap pad">
    <p>I find myself playing a strange part as an instructor, one that often involves convincing people that they are intelligent but also chronically negligent.</p>
  </div>
</section>