<article>
  <style type="text/css" media="screen">
    /* <![CDATA[ */
    .commandments dt {
      font-size:2em;
    }
    .commandments dt.strong {
      color: tomato;
      text-shadow: 0 1px rgba(0,0,0,0.25);
      text-transform:uppercase;
    }
    /* ]]> */
  </style>
  <header>
    <h2>Ten Principles For Good Design</h2>
    <h5>by  <cite>Dieter Rams</cite></h5>
    <hr class="ruled"/>
    <p class="intro"><a href="https://en.wikipedia.org/wiki/Dieter_Rams">Dieter Rams</a> is an influential designer with a profound body of work that has influenced generations. What follows is a set of principles he used to evaluate his own work.</p>
    <p>A fair start would be <q>Good design is... difficult,</q> so it should be reinforced that this is one particular ethos, not a rulebook for how to engage with a craft. Highlighted are the two elements I think are both fundamental and most important for students to focus on. The rest take a lifetime of patience and effort and would be somewhat daunting to impose into a learning process.</p>
  </header>
  <dl class="tt ordered commandments whitepaper pulled">
    <dt>Good design is innovative.</dt>
    <dd>The possibilities for progression are not, by any means, exhausted. Technological development is always offering new opportunities for original designs. But imaginative design always develops in tandem with improving technology, and can never be an end in itself.</dd>

    <dt>Good design makes a product useful.</dt>
    <dd>A product is bought to be used. It has to satisfy not only functional, but also psychological and aesthetic criteria. Good design emphasizes the usefulness of a product whilst disregarding anything that could detract from it.</dd>

    <dt>Good design is aesthetic.</dt>
    <dd>The aesthetic quality of a product is integral to its usefulness because products are used every day and have an effect on people and their well-being. Only well-executed objects can be beautiful.</dd>

    <dt class="strong">Good design makes a product understandable.</dt>
    <dd>It clarifies the product’s structure. Better still, it can make the product clearly <mark>express its function by making use of the user's intuition.</mark> At best, it is self-explanatory.</dd>

    <dt>Good design is unobtrusive.</dt>
    <dd>Products fulfilling a purpose are like tools. They are neither decorative objects nor works of art. Their design should therefore be both neutral and restrained, to leave room for the user's self-expression.</dd>

    <dt class="strong">Good design is honest.</dt>
    <dd>It does not make a product appear more innovative, powerful or valuable than it really is. It <mark>does not attempt to manipulate</mark> the consumer with promises that cannot be kept.</dd>

    <dt>Good design is long-lasting.</dt>
    <dd>It avoids being fashionable and therefore never appears antiquated. Unlike fashionable design, it lasts many years – even in today's throwaway society.</dd>

    <dt>Good design is thorough down to the last detail.</dt>
    <dd>Nothing must be arbitrary or left to chance. Care and accuracy in the design process show respect towards the consumer.</dd>

    <dt>Good design is environmentally friendly.</dt>
    <dd>Design makes an important contribution to the preservation of the environment. It conserves resources and minimizes physical and visual pollution throughout the lifecycle of the product.</dd>

    <dt>Good design is as little design as possible.</dt>
    <dd>Less, but better – because it concentrates on the essential aspects, and the products are not burdened with non-essentials. Back to purity, back to simplicity.</dd>
  </dl>
</article>